<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="/css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/Leaflet/1.7.1/dist/leaflet.css" type="text/css">
   <link rel="stylesheet" href="/vendor/flatpickr/4.6.13/dist/flatpickr.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/flatpickr/4.6.13/dist/themes/material_blue.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/quill/1.3.7/quill.snow.css" />

   <script src="/vendor/Leaflet/1.7.1/dist/leaflet.js"></script>
</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}

               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/index2.html">{{ lang en="Home" fr="Accueil" de="Home" es="Hogar"}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ lang en="Contest" fr="Concours" de="Wettbewerb" es="Concurso"}}</li>
               </ol>
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-trophy"></i>&nbsp;{{ lang en="Event information" fr="Informations sur l'événement" de="Informationen zur Veranstaltung" es="Información del Evento" }}</h1>
               <p class="mb-4">{{ lang
                  en="General event informations, manage entrant list<br>Publication of real time scoring and statistics results."
                  fr="Informations générales sur l'événement, gestion de la liste des participants<br>Publication des résultats et des statistiques en temp réel."
                  de="Allgemeine Veranstaltungsinformationen, Teilnehmerliste verwalten <br>Veröffentlichung von Echtzeit-Scoring- und Statistikergebnissen"
                  es="Información general del evento, gestionar la lista de participantes <br>Publicación de puntuación en tiempo real y resultados estadísticos."
                  }}</p>

               <div class="row">
                  <div class="col">

                     <div class="row justify-content-center">
                        <div class="col-auto">
                           <nav class="nav btn-group" id="main-nav">
                              <a href="#general" class="btn btn-outline-primary active" data-toggle="tab">{{ lang en="General" fr="Général" de="Allgemeines" es="General" }}</a>
                              <a href="#location" class="btn btn-outline-primary" data-toggle="tab" id="location-nav"><i class="fas fa-map-marker-alt"></i>&nbsp;{{ lang en="Location" fr="Position" de="Ort" es="Localización" }}</a>
                              <!--<a href="#entrant-list" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-user-friends"></i>&nbsp;{{ lang en="Entrant" fr="Participants" de="Teilnehmer" es="Participantes" }}</a>
                              <a href="#results" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-poll"></i>&nbsp;{{ lang en="Results" fr="Résultats" de="Ergebnisse" es="Resultados" }}</a>
                              <a href="#statistics" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-chart-pie"></i>&nbsp;{{ lang en="Statistics" fr="Statistiques" de="Statistiken" es="Estadísticas" }}</a>
                              <a href="#reports" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-print"></i>&nbsp;{{ lang en="Reports" fr="Rapports" de="Berichte" es="Informes" }}</a>-->
                           </nav>
                        </div>
                     </div>

                     <div class="tab-content mt-3">

                        <div class="tab-pane fade active show" id="general">
                           <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                 <h6 class="m-0 font-weight-bold text-primary">{{ lang en="General description" fr="Description générale" de="Allgemeine Beschreibung" es="Descripción general" }}</h6>
                              </div>
                              <div class="card-body">
                                 <div class="ql-snow">
                                    <div id="contest-notes" class="contest-note ql-container ql-editor"></div>
                                    <hr>
                                 </div>

                                 <form action="" method="post" onsubmit="return false;">
                                    <div class="form-group row">
                                       <div class="input-group col-10">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><img id="contestCountryImg" class="country-flag">&nbsp;<span id="contestCountry"></span></span>
                                          </div>
                                          <input type="text" id="contestName" class="form-control edit-if-cd-nn" style="font-size:1.3em" disabled>
                                       </div>
                                       <div class="col">
                                          <select id="category-select" class="selectpicker form-control edit-if-cd-nn" data-style="custom-select-rcs-lg" multiple data-selected-text-format="count > 1" data-count-selected-text="{0} {{ lang en='Cat' fr='Cat' de='Kat' es='Cat' }}" disabled></select>
                                       </div>
                                    </div>

                                    <div class="form-group row">
                                       <div class="col input-group" id="datetimepicker1">
                                          <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" title='{{ lang en="Start date" fr="Date début" de="Anfangsdatum" es="Fecha inicio" }}'>
                                             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                          </div>
                                          <input type="text" id="contestStartDate" class="form-control edit-if-cd-nn" data-target="#datetimepicker1" disabled />
                                       </div>
                                       <div class="col input-group" id="datetimepicker2">
                                          <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" title='{{ lang en="End date" fr="Date fin" de="Endtermin" es="Fecha final" }}'>
                                             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                          </div>
                                          <input type="text" id="contestEndDate" class="form-control edit-if-cd-nn" data-target="#datetimepicker2" disabled />
                                       </div>
                                       <div class="col input-group" id="datetimepicker3">
                                          <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" title="{{ lang en='Register deadline' fr='Date limite d\'inscription' de='Anmeldeschluss' es='Fecha límite de registro' }}">
                                             <div class="input-group-text"><i class="fas fa-calendar-times"></i></div>
                                          </div>
                                          <input type="text" id="contestDeadline" class="form-control edit-if-cd-nn" data-target="#datetimepicker3" disabled />
                                       </div>
                                    </div>

                                    <div class="form-group row">

                                       <div class="col input-group">
                                          <select id="event-types-select" class="selectpicker form-control edit-if-cd-nn" data-style="custom-select-rcs" title="{{ lang en='Type' fr='Type' de='Type' es='Type' }}" disabled>
                                             <option value="wcs" data-content="<span class='calendar-bg-wcs item-legend'>{{ lang en='World CS' fr='Championnat du monde' de='Weltmeisterschaft' es='Campeonato mundial' }}</span>"></option>
                                             <option value="ccs" data-content="<span class='calendar-bg-ccs item-legend'>{{ lang en='Continental CS' fr='Championnat continental' de='Kontinentalmeisterschaft' es='Campeonato continental' }}</span>"></option>
                                             <option value="wcc" data-content="<span class='calendar-bg-wcc item-legend'>{{ lang en='World cup event' fr='Selection Championnat du monde' de='Welt' es='Mundial' }}</span>"></option>
                                             <option value="ccc" data-content="<span class='calendar-bg-ccc item-legend'>{{ lang en='Continental cup event' fr='Selection Championnat continental' de='Kontinental' es='Continental' }}</span>"></option>
                                             <option value="nat" data-content="<span class='calendar-bg-nat item-legend'>{{ lang en='National' fr='Selection nationale' de='National' es='Nacional' }}</span>"></option>
                                             <option value="loc" data-content="<span class='calendar-bg-loc item-legend'>{{ lang en='Local' fr='Concours local' de='Lokal' es='Local' }}</span>"></option>
                                             <option value="met" data-content="<span class='calendar-bg-met item-legend'>{{ lang en='Meeting' fr='Meeting' de='Meeting' es='Meeting' }}</span>"></option>
                                          </select>
                                       </div>

                                       <div class="col input-group">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><a id="clubURL" href="#"><i class="fas fa-shield-alt" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Club' fr='Club' de='Klub' es='Club' }}"></i></a></span>
                                          </div>
                                          <input type="text" id="contestClub" class="form-control" disabled>
                                       </div>
                                       <div class="col input-group">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><a id="contestAnchorEmail"><i class="far fa-envelope" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Email' fr='Courriel' de='Email' es='Email' }}"></i></a></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestOrganiserEmail" disabled>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col">
                                          <div class="input-group mb-3 mb-sm-0">
                                             <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-language" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Official language' fr='Langue officielle' de='Offizielle Sprache' es='idioma oficial' }}"></i></span>
                                             </div>
                                             <input type="text" class="form-control edit-if-cd" id="contestOfficialLang" disabled>
                                          </div>
                                       </div>
                                       <div class="input-group col">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><a id="contestAnchorURL"><i class="fas fa-link" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Web Site' fr='Site web' de='Web Seite' es='Web Sitio' }}"></i></a></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestURL" placeholder="{{ lang en='Enter URL website here' fr='Entrez l\'URL du site Web ici' de='Geben Sie hier die URL-Website ein' es='Ingrese la URL del sitio web aquí'}}" disabled>
                                       </div>

                                       <div class="col input-group">
                                          <div class="input-group-prepend" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Allowed frequencies" fr="Fréquences autorisées" de="Zulässige Frequenzen" es="Frecuencias permitidas" }}'>
                                             <span class="input-group-text"><i class="fas fa-broadcast-tower"></i></span>
                                          </div>
                                          <select id="freq-select" class="form-control selectpicker" aria-describedby="validFeedback03" data-style="custom-select-rcs" multiple required disabled>
                                             <option value="na">{{ lang en="Not applicable" fr="Non applicable" de="Unzutreffend" es="No aplica"}}</option>
                                             <option value="2.4">2.4 Ghz</option>
                                             <option value="35">35 Mhz</option>
                                             <option value="72">72 Mhz</option>
                                             <option value="27">27 Mhz</option>
                                             <option value="41">41 Mhz</option>
                                             <option value="50">50 Mhz</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="input-group col mb-3 mb-sm-0">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="far fa-money-bill-alt" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Currency' fr='Devise' de='Währung' es='Moneda' }}"></i></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestFeesCurrency" disabled>
                                       </div>
                                       <div class="input-group col mb-3 mb-sm-0">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-donate" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Entry fees' fr='Frais d\'inscription' de='Eintrittspreise' es='Derechos de inscripción' }}"></i></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestEntryFees" disabled>
                                       </div>
                                       <div class="input-group col mb-3 mb-sm-0">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-comment-dollar" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Protest fees' fr='Frais de réclamation' de='Einspruchsgebühr' es='Honorarios protestas' }}"></i></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestProtestFees" disabled>
                                       </div>
                                    </div>

                                    <div class="form-group row">
                                       <div class="input-group col mb-3 mb-sm-0">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-cookie-bite" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Catering' fr='Restauration' de='Gastronomie' es='Abastecimiento' }}"></i></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestCatering" disabled>
                                       </div>
                                       <div class="input-group col mb-3 mb-sm-0">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-concierge-bell" data-toggle="tooltip" data-html="true" data-placement="top" title="Service"></i></span>
                                          </div>
                                          <input type="text" class="form-control edit-if-cd" id="contestService" disabled>
                                       </div>

                                    </div>

                                    <br>
                                    <label class="show-if-cd" hidden><i class="far fa-sticky-note"></i><b> {{ lang en="Banner" fr="Bannière" de="Banner" es="Bandera" }}</b></label>
                                    <button class="btn btn-secondary btn-sm show-if-cd" onclick="insertNotesTemplate()" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='insert template Banner' fr='insérer un modèle de bannière' de='Vorlage Banner einfügen' es='Insertar plantilla Banner'}}" hidden><i class="far fa-edit"></i></button>
                                    <div class="show-if-cd" hidden>
                                       <div class="edit-if-cd" id="standalone-container">
                                          <div id="quill-toolbar-container">
                                             <span class="ql-formats">
                                                <select class="ql-font"></select>
                                                <select class="ql-size"></select>
                                             </span>
                                             <span class="ql-formats">
                                                <button class="ql-bold"></button>
                                                <button class="ql-italic"></button>
                                                <button class="ql-underline"></button>
                                                <button class="ql-strike"></button>
                                             </span>
                                             <span class="ql-formats">
                                                <select class="ql-color"></select>
                                                <select class="ql-background"></select>
                                             </span>
                                             <span class="ql-formats">
                                                <button class="ql-script" value="sub"></button>
                                                <button class="ql-script" value="super"></button>
                                             </span>
                                             <span class="ql-formats">
                                                <button class="ql-header" value="1"></button>
                                                <button class="ql-header" value="2"></button>
                                                <button class="ql-blockquote"></button>
                                                <button class="ql-code-block"></button>
                                             </span>
                                             <span class="ql-formats">
                                                <button class="ql-list" value="ordered"></button>
                                                <button class="ql-list" value="bullet"></button>
                                                <button class="ql-indent" value="-1"></button>
                                                <button class="ql-indent" value="+1"></button>
                                             </span>
                                             <span class="ql-formats">
                                                <button class="ql-direction" value="rtl"></button>
                                                <select class="ql-align"></select>
                                             </span>
                                             <span class="ql-formats">
                                                <button class="ql-link"></button>
                                                <button class="ql-image"></button>
                                             </span>
                                          </div>
                                          <div id="quill-editor-container"></div>
                                       </div>

                                    </div>
                                 </form>

                                 <hr class="show-if-cd" hidden>
                                 <a id="updateBtn" onClick="onModifyContest()" class="btn btn-primary show-if-cd" hidden><span><i class="fas fa-edit"></i></span><span>
                                       {{ lang en="Update" fr="Mettre à jour" de="Aktualisieren" es="Actualizar" }}</span></a>
                                 <a id="manageBtn" href="contest-mg.html" class="btn text-gray-100 bg-gradient-primary show-if-cd" data-toggle="tooltip" data-placement="top" title='{{ lang en="Contest admin" fr="Administration du concours" de="Wettbewerbsadministrator" es="Administrador del concurso" }}' hidden><span><i class="fas fa-user-cog"></i></span></a>

                              </div>
                           </div>
                        </div>

                        <div class="tab-pane fade" id="location">
                           <div class="card shadow mb-4">
                              <div class="d-block card-header py-3">
                                 <h6 class="m-0 font-weight-bold text-primary">{{ lang en="General description" fr="Description générale" de="Allgemeine Beschreibung" es="Descripción general" }}</h6>
                              </div>
                              <div class="card-body">
                                 <div>
                                    <label><i class="fas fa-map-marked-alt"></i><b> {{ lang en="Field location" fr="Emplacement terrain" de="Feldstandort" es="Ubicación campo" }}</b></label>
                                    <div id="mapid" class="contest-map"></div>
                                    <div>{{ lang en="GPS Location" fr="Positon GPS" de="GPS-Standort" es="Ubicación GPS" }}: <span id="mouse-position"></span></div>
                                 </div>

                                 <br>
                                 <div>
                                    <div><i class="fas fa-cloud-sun-rain"></i><b> {{ lang en="7 days weather forecast" fr="Prévisions à 7 jours" de="7 Tage Wettervorhersage" es="7 días de previsión meteorológica" }}</b></div>
                                    <table style="width:100%;font-size:12px;text-align:center">
                                       <tbody id="weather-tbody">
                                       </tbody>
                                    </table>
                                    <a href="https://openweathermap.org" class="text-xs">Open Weather Map</a>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>


                  </div>
               </div>


            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}
   {{ include "include/basicModal.html" }}

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
   <script src="/vendor/tableExport-jquery-plugin/1.10.20/tableExport.min.js"></script>
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
   <script src="/vendor/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
   {{ lang fr="
   <script src='/vendor/flatpickr/4.6.13/dist/l10n/fr.js'></script>"
   de="
   <script src='/vendor/flatpickr/4.6.13/dist/l10n/de.js'></script>"
   es="
   <script src='/vendor/flatpickr/4.6.13/dist/l10n/es.js'></script>" }}
   <script src="/vendor/chartjs/3.2.0/dist/chart.min.js"></script>
   <script src="/vendor/jsPDF/2.5.1/dist/jspdf.min.js"></script>
   <script src="/vendor/qrCodejs/qrcode.js"></script>
   <script src="/vendor/quill/1.3.7/quill.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/mapCommon.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>
   <script src="/js/report.js"></script>

   <script>
      var urlParams = new URLSearchParams(location.search);
      var contestId = urlParams.get('contest_id');
      var currentEntrantID = null;
      var maxPilot;
      var isCD = false;
      var mymap;
      var marker;
      var startDateTime;
      var endDateTime;
      var deadlineDateTime;
      var gps;
      var quillEditor;
      var contest;


      async function refreshPage() {
         await getContest(contestId)
            .then(function (item) {
               contest = item;
               $('#contestName').val(item.name);
               $('#contestCountryImg').prop('src', '/json/countries/data/' + item.club_country.toLowerCase() + '.svg');
               $('#contestCountry').text(item.club_country);
               if (item.start_datetime)
                  startDateTime.setDate(new Date(item.start_datetime));
               if (item.end_datetime) {
                  endDateTime.setDate(new Date(item.end_datetime));
                  endDateTime.set("minDate", new Date(item.start_datetime));
               }
               if (item.register_deadline) {
                  deadlineDateTime.setDate(new Date(item.register_deadline));
                  deadlineDateTime.set("maxDate", new Date(item.start_datetime));
               }

               if (item.status == "F") {
                  $('#manageBtn').hide();
               } else if (item.status == "C") {
                  $('#manageBtn').hide();
               } 
               maxPilot = item.qualif_slot * item.qualif_group;
               $('#contestMaxEntrant').text(maxPilot);
               $("#freq-select").selectpicker("val", item.allowed_freq_list.split(","));
               $('#contestQualifSlot').val(item.qualif_slot);
               $('#contestQualifGroup').val(item.qualif_group);
               $('#contestQualifRound').val(item.qualif_round);
               $('#contestFlyoffSlot').val(item.flyoff_slot);
               $('#contestURL').val(item.contest_url);
               $('#contestAnchorURL').prop("href", item.contest_url);
               $('#contestCatering').val(item.catering);
               $('#contestService').val(item.services_description);
               $('#contestFeesCurrency').val(item.fees_currency);
               $('#contestProtestFees').val(item.protest_fees_amount);
               $('#contestEntryFees').val(item.entry_fees_amount);
               $("#event-types-select").selectpicker('val', item.selection_type);
               $('#category-select').selectpicker('val', item.categories.map(element => element.category));
               $('#contestOfficialLang').val(item.official_lang_list);
               $('#contestClub').val(item.club_name);
               $('#clubURL').prop("href", "/club-mg.html?club_id=" + item.club_id);
               $('#contestOrganiserEmail').val(item.email);
               $('#contestAnchorEmail').prop("href", "mailto:" + item.email);

               if (isCD && contest.status != "O") {
                  let inputs = document.getElementsByClassName('edit-if-cd-nn');
                  for (let i = 0; i < inputs.length; i++) {
                     let item2 = inputs[i];
                     item2.disabled = false;
                     //if (item2.value == "")
                     //   item2.classList.add("is-invalid");
                  }
               }

               let contents = item.notes ? JSON.parse(item.notes) : {};
               //contents.ops.push({ insert: '\n' });
               quillEditor.setContents(contents, "api");
               let notes = document.querySelector('#quill-editor-container .ql-editor').innerHTML;
               notes = notes.replace("${flag}", `<img src='/json/countries/data/${item.club_country.toLowerCase()}.svg' class='country-flag-lg'>`);
               notes = notes.replace("${name}", item.name);
               notes = notes.replace("${club}", item.club_name);
               notes = notes.replace("${contest_url}", item.contest_url);
               notes = notes.replace("${country}", item.club_country);
               let currencyOption = { style: 'currency', currency: `${item.fees_currency}` };
               notes = notes.replace("${entry_fees_amount}", `<i class="fas fa-donate"></i>&nbsp;{{ lang en="Entry fees" fr="Frais d'inscription" de="Eintrittspreise" es="Derechos de inscripción" }}: ${item.entry_fees_amount.toLocaleString(getCurrentLocale(), currencyOption)}`);
               notes = notes.replace("${protest_fees_amount}", `<i class="fas fa-comment-dollar"></i>&nbsp;{{ lang en="Claim fees" fr="Frais de réclamation" de="Anspruchsgebühren" es="Tarifas de reclamación" }}: ${item.protest_fees_amount.toLocaleString(getCurrentLocale(), currencyOption)}`);
               let sdStr = getDatetimeFormatted(new Date(item.start_datetime), "date-only");
               let edStr = getDatetimeFormatted(new Date(item.end_datetime), "date-only");
               let ddStr = getDatetimeFormatted(new Date(item.register_deadline), "date-time");
               notes = notes.replace("${dates}", `{{ lang en='from' fr='du' de='vom' es='del'}} ${sdStr} {{ lang en='to' fr='au' de='bis' es='al' }} ${edStr}`);
               notes = notes.replace("${registration_deadline}", `<i class="fas fa-calendar-times"></i>&nbsp;{{ lang en='Registration deadline' fr='Date limite d\'inscription' de='Anmeldeschluss' es='Fecha limite de registro' }}: <u>${ddStr}</u>`);
               notes = notes.replace("${organised_by}", "{{ lang en='organised by' fr='organisé par' de='organisiert von' es='organizado por' }}");
               notes = notes.replace("${categories}", item.categories.map(element => element.category).join("-"));
               document.querySelector('#contest-notes').innerHTML = notes;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }


      /* onload */
      $(async function () {

         await getSessionUserParams({ contestID: contestId })
            .then(function (result) {

               currentEntrantID = result.entrant_id;

               quillEditor = new Quill('#quill-editor-container', {
                  modules: { toolbar: '#quill-toolbar-container' },
                  placeholder: '{{ lang en="Type here..." fr="Écrivez ici..." de="Geben Sie hier ein ..." es="Escriba aquí..." }}',
                  theme: 'snow'
               });

               $("#category-select").selectpicker();
               $("event-types-select").selectpicker();

               if (result.is_contest_director) {
                  isCD = true;
                  var inputs = document.getElementsByClassName('edit-if-cd');
                  for (let i = 0; i < inputs.length; i++)
                     inputs[i].disabled = false;
                  inputs = document.getElementsByClassName('show-if-cd');
                  for (let i = 0; i < inputs.length; i++)
                     inputs[i].hidden = false;
               }

               $('[data-toggle="tooltip"]').tooltip();

               $("#location-nav").on('shown.bs.tab', function () {
                  createMap();

                  if (contest.fly_site != undefined && contest.fly_site.gps && marker == undefined) {
                     gps = contest.fly_site.gps;
                     marker = L.marker(contest.fly_site.gps.split(",")).addTo(mymap);
                     marker.bindPopup(contest.name + "<br>" + contest.club_address);
                     mymap.setView(contest.fly_site.gps.split(","), 12);
                     $('#mouse-position').text(DD2DMS(contest.fly_site.gps.split(",")[0], true) + " " + DD2DMS(contest.fly_site.gps.split(",")[1], false));
                     refreshWeatherForecast(gps);
                  }
               });

            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         // for handle collasping cards
         if (getUserPrefsValue("entListcBtn-" + contestId) == true)
            $('#entListcBtn').click();

         $('#entListcBtn').click(function () {
            setUserPrefsValue("entListcBtn-" + contestId, !getUserPrefsValue("entListcBtn-" + contestId));
         });

         // Category select
         await getContestCategoryList()
            .then(function (result) {
               let catSelect = $('#category-select');
               for (const value of result)
                  catSelect.append($(`<option value="${value}">${value}</option>`));
               catSelect.selectpicker('refresh');
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         /*
         5.5.11.5.1. (a) The competitor will be allowed a minimum of four (4) flights in the qualifying rounds.
         */
         for (let i = 4; i < 21; i++) {
            $('#contestQualifRound').append($('<option>', {
               value: i,
               text: i
            }));
         }
         for (let i = 6; i < 21; i++) {
            $('#contestQualifSlot').append($('<option>', {
               value: i,
               text: i
            }));
         }
         for (let i = 1; i < 11; i++) {
            $('#contestQualifGroup').append($('<option>', {
               value: i,
               text: i
            }));
         }
         for (let i = 0; i < 5; i++) {
            $('#contestFlyoffSlot').append($('<option>', {
               value: i,
               text: i
            }));
         }

         /* datetime picker */
         startDateTime = flatpickr('#contestStartDate', { enableTime: true, static: true, dateFormat: "{{ lang en='Y-m-d h:i K' fr='d M Y H:i' de='d M Y H:i' es='d M Y H:i' }}", locale: "{{ lang en='en' fr='fr' de='de' es='es' }}" });
         endDateTime = flatpickr('#contestEndDate', { enableTime: true, static: true, dateFormat: "{{ lang en='Y-m-d h:i K' fr='d M Y H:i' de='d M Y H:i' es='d M Y H:i' }}", locale: "{{ lang en='en' fr='fr' de='de' es='es' }}" });
         deadlineDateTime = flatpickr('#contestDeadline', { enableTime: true, static: true, dateFormat: "{{ lang en='Y-m-d h:i K' fr='d M Y H:i' de='d M Y H:i' es='d M Y H:i' }}", locale: "{{ lang en='en' fr='fr' de='de' es='es' }}" });

         $('#manageBtn').prop("href", "contest-mg.html?contest_id=" + contestId);

         // this is stupid, but without this funcking function gps variable is update too late (race cond.)
         async function refresh() {
            await refreshPage();
         }

         refresh();
      });

      function onModifyContest() {

         let selType = $("#event-types-select").selectpicker("val");
         let categories = $("#category-select").selectpicker("val");

         let data = {
            status: contest.status,
            start_datetime: getDatetimeFormatted(startDateTime.selectedDates[0], "sqlite"),
            end_datetime: getDatetimeFormatted(endDateTime.selectedDates[0], "sqlite"),
            name: encodeHTML($("#contestName").val()),
            contest_url: $("#contestURL").val(),
            register_deadline: getDatetimeFormatted(deadlineDateTime.selectedDates[0], "sqlite"),
            allowed_freq_list: $("#freq-select").selectpicker("val").join(","),
            catering: $("#contestCatering").val(),
            services_description: $("#contestService").val(),
            protest_fees_amount: $("#contestProtestFees").val(),
            entry_fees_amount: $("#contestEntryFees").val(),
            fees_currency: $("#contestFeesCurrency").val(),
            selection_type: selType,
            categories: categories.join(","),
            official_lang_list: $("#contestOfficialLang").val(),
            email: $("#contestOrganiserEmail").val(),
            notes: JSON.stringify(quillEditor.getContents())
         };

         if (categories.length == 1) {
            data = {
               ...data,
               category: categories[0],
               qualif_slot: $("#contestQualifSlot").val(),
               qualif_round: $("#contestQualifRound").val(),
               qualif_group: $("#contestQualifGroup").val(),
               flyoff_slot: $("#contestFlyoffSlot").val()
            };
         }

         fetch("/api/v1/modifyContest?contest_id=" + contestId, {
            headers: {
               "Accept": "application/json",
               "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify(data)
         })
            .then(handleErrors)
            .then(function (response) {

               displayAlert({
                  type: "success",
                  msg: "{{ lang en='Contest updated' fr='Concours mis à jour' de='Wettbewerb aktualisiert' es='Concurso actualizado' }}",
                  divElt: $("#successUpdateAlert"),
                  spanElt: $("#alertMsg"),
                  callbackOnHide: function () {
                     //window.location.reload();
                     refreshPage();
                  }
               });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function refreshWeatherForecast(gps) {
         fetch("/api/v1/op/getWeatherForecast?gps=" + gps)
            .then(handleErrors)
            .then(function (response) {
               var tableBody = '<tr style="font-size:14px;font-weight:600;color:black;background-color:#e7e4e4;height:20px">';
               response.forecast.forEach((item, i) => {
                  tableBody += '<td>' + item.date.split(' ')[0] + ' ' + item.date.split(' ')[1] + '</td>';
               });
               tableBody += '</tr><tr>';
               response.forecast.forEach((item, i) => {
                  tableBody += '<td><img src="https://openweathermap.org/img/wn/' + item.icon_id + '.png"></td>';
               });
               tableBody += '</tr><tr style="font-weight:700">';
               response.forecast.forEach((item, i) => {
                  tableBody += '<td>' + Math.round(item.t) + ' °C</td>';
               });
               tableBody += '</tr><tr>';
               /*response.forecast.forEach((item, i) => {
                 tableBody += '<td>'+Math.round(item.p)+' hPa</td>'
               });
               tableBody += '</tr><tr>'*/
               response.forecast.forEach((item, i) => {
                  tableBody += '<td>' + Math.round(item.w_s * 3.6) + ' km/h</td>';
               });
               tableBody += '</tr><tr>';
               response.forecast.forEach((item, i) => {
                  tableBody += '<td><img width="14" height="14" src="/image/rose/FC_N.png" style="transform: rotate(' + item.w_d + 'deg);"></td>';
               });
               tableBody += '</tr>';

               $('#weather-tbody').html(tableBody);

            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function modifyContestWithTemplateNotes() {
         const template = {
            "ops": [
               { "insert": "${flag} ${country} ${categories} " },
               { "attributes": { "bold": true }, "insert": "${name}" },
               { "attributes": { "header": 2 }, "insert": "\n" },
               { "insert": "${dates} ${organised_by} " },
               { "attributes": { "bold": true }, "insert": "${club}" },
               { "insert": "\n\n${registration_deadline}\n${entry_fees_amount}\n${protest_fees_amount}\n" }]
         };
         if (quillEditor) {
            quillEditor.setContents(template, "api");
            onModifyContest();
         }
         else
            console.error(quillEditor);
      }

      function insertNotesTemplate() {
         if (quillEditor.getLength() != 1) {
            displayModalMsg({
               type: "error-question",
               title: '{{ lang en="Override note content" fr="Remplacer le contenu de la note" de="Noteninhalt überschreiben" es="Anular el contenido de la nota" }}',
               message: "{{ lang en='You are about to apply a note template. Do you want to lose your current content ?' fr='Vous êtes sur le point d\'appliquer un modèle de note. Voulez-vous perdre votre contenu actuel?' de='Sie werden eine Notizvorlage anwenden. Möchten Sie Ihren aktuellen Inhalt verlieren?' es='Está a punto de aplicar una plantilla de nota. ¿Quieres perder tu contenido actual?' }}",
               ok_callback: function () {
                  modifyContestWithTemplateNotes();
               },
               showCancel: true
            });
         }
         else
            modifyContestWithTemplateNotes();
      }

   </script>
</body>

</html>