<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="/css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/swiper/7.4.1/swiper-bundle.min.css">

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top bg-gradient-primary">
               <img src="/image/18.png" height="60" width="60">&nbsp;&nbsp;
               <h1 class="h4 mb-2 text-gray-100"><b>RC-Contest</b></h1>
               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">
                  <div class="topbar-divider d-none d-sm-block"></div>
               </ul>
               <!--
               <a class="text-gray-100" href="login.html"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
               -->

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
               <div class="row">
                  <div class="col">
                     <span id="loginName">Name: ---</span>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col">
                     <div id="virtual-timer"></div>
                  </div>
               </div>
               <div id="testing" class="row" style="color:#d84949;margin-top:5rem;" hidden>
                  <div class="col align-self-start">
                  </div>
                  <div class="col align-self-center">
                     <h1><strong>{{ lang en="Testing" fr="Essai" de="Testen" es="Pruebas"}}</strong></h1>
                  </div>
                  <div class="col align-self-end">
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         <!-- Footer -->
         <br><br><br><br><br><br><br>
         <footer>
            <div class="container">
               <div class="copyright text-center">
                  <span class="font-weight-lighter">{{ lang
                     en="Copyright © RC-Contest.com 2019-2024 All rights reserved"
                     fr="Copyright © RC-Contest.com 2019-2024 Tous droits reservés"
                     de="Copyright © RC-Contest.com 2019-2024 Alle Rechte vorbehalten"
                     es="Copyright © RC-Contest.com 2019-2024 Todos los derechos reservados"
                     }}</span>
               </div>
            </div>
         </footer>
         <!-- Footer -->

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <script src="/vendor/popper/1.16.0/umd/popper.js"></script>
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/swiper/7.4.1/swiper-bundle.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/rcs/base.js"></script>
   <script src="/js/rcs/bus.js"></script>
   <script src="/js/rcs/chrono.js"></script>
   <script src="/js/rcs/speech.js"></script>

   <script>
      let urlParams = new URLSearchParams(location.search);
      let contestId = urlParams.get('contest_id');
      let ssl;
      let wsPort;
      let speech;
      let bus;

      //
      // onLoad init
      //

      async function init() {
            
         speech = new RCSSpeech();
         await speech.init();
         bus = new RCSBus({ isSSL: ssl, port: wsPort });
         await bus.init();

         new RCSDigitalContestTimer({
            speech: speech,
            bus: bus,
            element: document.getElementById("virtual-timer"),
            contest_id: contestId
         });
      }

      $(function () {

         if (contestId < 0)
            $("#testing").removeAttr("hidden");

         getSessionUserParams()
            .then(function (result) {
               ssl = result.ssl;
               wsPort = result.ws_port;
               $("#loginName").text(result.login);

               init();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

      /*
      let lastTime = (new Date()).getTime();
      window.setInterval(function () {
         var currentTime = (new Date()).getTime();
         if (currentTime > (lastTime + 2000 * 2)) { // ignore small delays
            // Probably just woke up!

            init();

            //alert("woke up");
         }
         lastTime = currentTime;
      }, 2000);
      */
      });

   </script>

</body>

</html>