<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <!-- <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>-->
</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>


               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}


                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}


               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index2.html">{{ lang en="Home" fr="Accueil" de="Home" es="Hogar"}}</a></li>
                  <li class="breadcrumb-item"><a href="javascript:goToContest()">{{ lang en="Contest" fr="Concours" de="Wettbewerb" es="Concurso"}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ lang en="Administration" fr="Administration" de="Verwaltung" es="Administración"}}</li>
               </ol>
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-user-cog"></i>&nbsp;{{ lang en="Contest administration" fr="Administration du concours" de="Wettbewerbsverwaltung" es="Administración del concurso" }}</h1>
               <p class="mb-4">{{ lang en="Manages draw rounds for qualification and Fly-Off<br>Collects, publishes and checks results, provide reports for each pilot"
                  fr="Gère le tirage des manches pour la qualification et le fly-off<br>Recueille, publie et vérifie les résultats, fournit les rapports pour chaque pilote"
                  de="Verwaltet Ziehungsrunden für Qualifikation und Fly-Off<br>Sammelt, veröffentlicht und überprüft Ergebnisse und liefert Berichte für jeden Piloten"
                  es="Gestiona Mangas de sorteos para calificación y Fly-Off<br>Recopila, publica y verifica los resultados, proporciona informes para cada piloto" }}
                  <br>{{ lang en="F5J rules" fr="Règles F5J" de="F5J Regeln" es="Reglas F5J" }}, {{ lang en="Based on CIAM reference document" fr="Basé sur le document de référence CIAM" de="Basierend auf dem CIAM-Referenzdokument" es="Basado en el documento de referencia del CIAM"}}:<a href="doc/sc4_vol_f5_electric_20.pdf"> SC4 VOL5 2020</a>
               </p>

               <!-- Page Heading -->
               <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a id="drawSetupBtn" href="#drawCollapseCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="drawCollapseCard">
                     <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Draw setup" fr="Réglage matrice de tirage" de="Setup zeichnen" es="Configuración de sorteo" }}</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="drawCollapseCard">
                     <div class="card-body">

                        <div class="row">
                           <button class="col-2 btn text-gray-100 bg-gradient-primary" type="button" data-toggle="collapse" data-target="#collapseQualif" aria-expanded="false" aria-controls="collapseQualif">
                              {{ lang en="Qualification" fr="Qualification" de="Qualifikation" es="Calificación" }} <i class="fas fa-caret-right"></i>
                           </button>
                           <div class="col form-check" style="margin-left:10px;">
                              <input class="form-check-input" type="radio" name="qualifFlyoffActive" id="qualifActive" value="qa" onchange="onQualifFlyoffActiveChange(this)" checked>
                              <label class="form-check-label" for="qualifFlyoffActive">Active</label>
                           </div>
                        </div>

                        <div class="collapse" id="collapseQualif">
                           <div class="container border rounded" style="padding-top:1em;">
                              <table>
                                 <tr>
                                    <th width="20%">
                                       <button id="newQualifDrawBut" style="width:30;height:30;" class="btn text-gray-100 bg-gradient-primary" onClick="displayDrawContest(true,false,false)" data-toggle="tooltip" data-placement="top" title="{{ lang en=" Generate new draw" fr="Générer un nouveau tirage" de="Neue Auslosung generieren" es="Generar nuevo sorteo" }}">
                                          <i class="far fa-arrow-alt-circle-right"></i>
                                       </button>
                                    </th>
                                    <th>
                                       <span class="input-group-text" for="contestQualifRound"><i class="fas fa-circle-notch"></i>&nbsp;{{ lang en="Round" fr="Manche" de="Runde" es="Redondo" }}</span>
                                    </th>
                                    <th>
                                       <span class="input-group-text" for="contestQualifSlot" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='<u>CIAM rule 5.5.11.8.1.a</u>: A minimum of 6 competitors should be scheduled for each Group'
                                          fr='<u>Règle CIAM 5.5.11.8.1.a</u>: Un minimum de 6 concurrents doit être programmé pour chaque groupe'
                                          de='<u>CIAM-Regel 5.5.11.8.1.a</u>: Für jede Gruppe sollten mindestens 6 Teilnehmer geplant sein'
                                          es='<u>Norma CIAM 5.5.11.8.1.a</u>: Se debe programar un mínimo de 6 competidores para cada grupo.' }}"><i class="fas fa-bullseye"></i>&nbsp;{{ lang en="Lane" fr="Cible" de="Fahrbahn" es="carril" }}</span>
                                    </th>
                                    <th>
                                       <span class="input-group-text" for="contestQualifGroup"><i class="fas fa-user-friends"></i>&nbsp;{{ lang en="Group" fr="Groupe" de="Gruppe" es="grupo" }}</span>
                                    </th>
                                    <th with="20">
                                    </th>
                                    <th>
                                       <label style="white-space: nowrap">{{ lang en="Free lane" fr="Cible libre" de="Freie Bahn" es="Carril libre" }}</label>
                                    </th>
                                 </tr>
                                 <tr>
                                    <th width="20%">
                                       <button id="setQualifDrawBut" style="width:30;height:30;" class="btn text-gray-100 bg-gradient-primary" onClick="onSetDrawModal()" data-toggle="tooltip" data-placement="top" title="{{ lang en=" Save current draw" fr="Enregistrer le tirage actuel" de="Aktuelle Ziehung speichern" es="Guardar el sorteo actual" }}">
                                          <i class="far fa-save"></i>
                                       </button>
                                    </th>
                                    <th>
                                       <select class="form-control form-control-sm edit-if-cd" id="contestQualifRound" disabled></select>
                                    </th>
                                    <th>
                                       <select class="form-control form-control-sm edit-if-cd" id="contestQualifSlot" disabled></select>
                                    </th>
                                    <th>
                                       <select class="form-control form-control-sm edit-if-cd" id="contestQualifGroup" disabled></select>
                                    </th>
                                    <th with="20">
                                    </th>
                                    <th>
                                       <div style="text-align:center;"><span class="badge" id="contestQualifPilot"></span></div>
                                    </th>
                                 </tr>
                              </table>

                              <div id="qualifFadeMsg" class="alert alert-success alert-dismissible fade show" style="display:none;margin-top:1em;">
                                 <span id="qualifMsg"></span>
                              </div>

                              <div class="form-check" style="margin-top:1rem;">
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input edit-if-cd" type="checkbox" name="inlineRadioOptions" id="merge_qualif_js" value="js">
                                    <label class="form-check-label" for="merge_qualif_js">{{ lang en="Separate senior and junior" fr="Séparer junior et senior" de="Trennen Sie Junior und Senior" es="Junior y senior separados" }}</label>
                                 </div>

                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input edit-if-cd" type="checkbox" name="inlineRadioOptions" id="alt_qualif_js" value="js">
                                    <label class="form-check-label" for="alt_qualif_js">{{ lang en="Alternate junior senior" fr="Alterner junior et senior" de="alternativer Junior Senior" es="suplente junior senior" }}</label>
                                 </div>
                              </div>

                           </div>

                           <hr>
                           <div id="drawQualifTable"></div>

                        </div>
                        <br>

                        <div class="row">
                           <button id="flyoffColapseBut" class="col-2 btn text-gray-100 bg-gradient-primary" type="button" data-toggle="collapse" data-target="#collapseFlyoff" aria-expanded="false" aria-controls="collapseFlyoff">
                              Fly-off <i class="fas fa-caret-right"></i>
                           </button>
                           <div class="col form-check" style="margin-left:10px;">
                              <input class="form-check-input" type="radio" name="qualifFlyoffActive" id="flyoffActive" value="fa" onchange="onQualifFlyoffActiveChange(this)">
                              <label class="form-check-label" for="qualifFlyoffActive">Active</label>
                           </div>
                        </div>
                        <div class="collapse" id="collapseFlyoff">

                           <div class="container border rounded" style="padding-top:1em;">
                              <table>
                                 <tr>
                                    <th width="20%">
                                       <button id="newFlyoffDrawBut" style="width:30;height:30;" class="btn text-gray-100 bg-gradient-primary" onClick="displayDrawContest(true,true,false)" data-toggle="tooltip" data-placement="top" title="{{ lang en='Generate new draw' fr='Générer un nouveau tirage' de='Neue Auslosung generieren' es='Generar nuevo sorteo' }}">
                                          <i class="far fa-arrow-alt-circle-right"></i>
                                       </button>
                                    </th>
                                    <th>
                                       <span class="input-group-text" for="contestFlyoffRound" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='<u>CIAM rule 5.5.11.13.d</u>: A minimum of 3 or maximum of 4 fly-off rounds should be flown. Exceptionally the CD may reduce to 2 in the case of bad weather or poor visibility'
                                          fr='<u>Règle CIAM 5.5.11.13.d</u>: Un minimum de 3 ou un maximum de 4 manches doivent être effectués. Exceptionnellement, le DC peut réduire à 2 manches en cas de mauvais temps ou de mauvaise visibilité'
                                          de='<u>CIAM Regel 5.5.11.13.d</u>: Es sollten mindestens 3 oder maximal 4 Abflugrunden geflogen werden. Ausnahmsweise kann sich die CD bei schlechtem Wetter oder schlechter Sicht auf 2 reduzieren'
                                          es='<u>Norma CIAM 5.5.11.13.d</u>: Se debe volar un mínimo de 3 o un máximo de 4 Mangas de vuelo. Excepcionalmente, el CD puede reducirse a 2 en caso de mal tiempo o mala visibilidad.' }}"><i class="fas fa-circle-notch"></i>&nbsp;{{ lang en="Round" fr="Manche" de="Runde" es="Redondo" }}</span>
                                    </th>
                                    <th>
                                       <span class="input-group-text" for="contestFlyoffSlot" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='<u>CIAM rule 5.5.11.13.c</u>: At the end of the qualifying rounds 30% of competitors with the highest aggregate scores will be placed together in a single Group comprising a minimum of 6 and maximum of 14 for the fly-off rounds. For operational reasons the CD may set a lower maximum'
                                          fr='<u>Règle CIAM 5.5.11.13.c</u>: À la fin des manches de qualification, 30% des concurrents avec les scores cumulés les plus élevés seront placés ensemble dans un seul groupe comprenant un minimum de 6 et un maximum de 14 pour les manches de fly-off. Pour des raisons opérationnelles, le CD peut fixer un maximum plus petit'
                                          de='<u>CIAM Regel 5.5.11.13.c</u>: Am Ende der Qualifikationsrunden werden 30% der Teilnehmer mit den höchsten Gesamtpunktzahlen in einer einzigen Gruppe zusammengefasst, die mindestens 6 und höchstens 14 für die Fly-Off-Runden umfasst. Aus betrieblichen Gründen kann die CD ein niedrigeres Maximum einstellen'
                                          es='<u>Norma CIAM 5.5.11.13.c</u>: Al final de las Mangas de clasificación, el 30% de los competidores con las puntuaciones totales más altas se colocarán juntos en un solo grupo que comprende un mínimo de 6 y un máximo de 14 para las Mangas de salida. Por razones operativas, el CD puede establecer un máximo más bajo' }}"><i class="fas fa-bullseye"></i>&nbsp;{{ lang en="Lane" fr="Cible" de="Bahn" es="carril" }}</span>
                                    </th>
                                    <th>
                                       <span class="input-group-text" for="contestFlyoffGroup" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='<u>CIAM rule 5.5.11.13.c</u>: Competitors will be placed together in a single Group'
                                          fr='<u>Règle CIAM 5.5.11.13.c</u>: Les concurrents seront placés ensemble dans un seul groupe '
                                          de='<u>CIAM Regel 5.5.11.13.c</u>: Die Teilnehmer werden in einer einzigen Gruppe zusammengefasst'
                                          es='<u>Norma CIAM 5.5.11.13.c</u>: Los competidores se colocarán juntos en un solo grupo' }}"><i class="fas fa-user-friends"></i>&nbsp;{{ lang en="Group" fr="Groupe" de="Gruppe" es="grupo" }}</span>
                                    </th>
                                    <th with="20">
                                    </th>
                                    <th>
                                       <label style="white-space: nowrap">&nbsp;&nbsp;&nbsp;{{ lang en="Free lane" fr="Cible libre" de="Freie Bahn" es="Carril libre" }}</label>
                                    </th>
                                    <th>
                                       <label style="text-align:center;" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='<u>CIAM rule 5.5.11.13.c</u>: 30% of competitors with the highest aggregate scores'
                                          fr='<u>Règle CIAM 5.5.11.13.c</u>: 30% des concurrents avec les scores cumulés les plus élevés '
                                          de='<u>CIAM Regel 5.5.11.13.c</u>: 30% der Wettbewerber mit den höchsten Gesamtwerten'
                                          es='<u>Norma CIAM 5.5.11.13.c</u>: 30% de competidores con las puntuaciones totales más altas' }}">&nbsp;&nbsp;&nbsp;{{ lang en="Competitors ratio" fr="Ratio concurrents" de="Wettbewerbsverhältnis" es="Razón de competidores" }}</label>
                                    </th>
                                 </tr>
                                 <tr>
                                    <th width="20%">
                                       <button id="setFlyoffDrawBut" style="width:30;height:30;" class="btn text-gray-100 bg-gradient-primary" onClick="onSetDrawModal()" data-toggle="tooltip" data-placement="top" title="{{ lang en='Save current draw' fr='Enregistrer le tirage actuel' de='Aktuelle Ziehung speichern' es='Guardar el sorteo actual' }}">
                                          <i class="far fa-save"></i>
                                       </button>
                                    </th>
                                    <th>
                                       <select class="form-control form-control-sm edit-if-cd" id="contestFlyoffRound" disabled></select>
                                    </th>
                                    <th>
                                       <select class="form-control form-control-sm edit-if-cd" id="contestFlyoffSlot" disabled></select>
                                    </th>
                                    <th>
                                       <select class="form-control form-control-sm edit-if-cd" id="contestFlyoffGroup" disabled></select>
                                    </th>
                                    <th with="20">
                                    </th>
                                    <th>
                                       <div style="text-align:center;"><span class="badge" id="contestFlyoffPilot"></span></div>
                                    </th>
                                    <th>
                                       <div style="text-align:center;"><span class="badge" id="contestPilotRatio"></span></div>
                                    </th>
                                 </tr>
                              </table>

                              <div class="form-check" style="margin-top:1rem;">
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input edit-if-cd" type="checkbox" name="inlineRadioOptions" id="merge_Flyoff_js" value="js">
                                    <label class="form-check-label" for="merge_Flyoff_js">{{ lang en="Separate senior and junior" fr="Séparer junior et senior" de="Trennen Sie Junior und Senior" es="Junior y senior separados" }}</label>
                                 </div>

                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input edit-if-cd" type="checkbox" name="inlineRadioOptions" id="alt_Flyoff_js" value="js">
                                    <label class="form-check-label" for="alt_Flyoff_js">{{ lang en="Alternate junior senior" fr="Alterner junior et senior" de="alternativer Junior Senior" es="suplente junior senior" }}</label>
                                 </div>
                              </div>
                           </div>
                           <hr>

                           <div id="drawFlyoffTable"></div>
                        </div>

                     </div>
                  </div>
               </div>
               <!-- Page Heading -->
               <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a id="generalSetupBtn" href="#generalCollapseCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="generalCollapseCard">
                     <h6 class="m-0 font-weight-bold text-primary"><span id="qualifStatus">--</span> {{ lang en="Qualification" fr="Qualification" de="Qualifikation" es="Calificación" }}</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="generalCollapseCard">

                     <div class="card-body">

                        <div class="row">
                           <div class="col-auto mr-auto">
                              <button id="generalStartBut" class="btn text-gray-100 bg-gradient-success active-if-not-flyoff" onClick="onStartContest(false, false)" data-toggle="tooltip" data-placement="top" title="{{ lang en='Start' fr='Démarer' de='Anfang' es='Comienzo' }}"><i class="fas fa-play-circle"></i></button>
                              <button id="generalPauseBut" class="btn text-gray-100 bg-gradient-warning active-if-not-flyoff" onClick="onPauseContest(false, false)" data-toggle="tooltip" data-placement="top" title="{{ lang en='Pause' fr='Pause' de='Pause' es='Pausa' }}"><i class="far fa-pause-circle"></i></button>
                              <button id="generalStopBut" class="btn text-gray-100 bg-gradient-danger active-if-not-flyoff" onClick="onStopContest(false, false)" data-toggle="tooltip" data-placement="top" title="{{ lang en='Stop' fr='Arrêter' de='Halt' es='Detener' }}"><i class="fas fa-stop-circle"></i></button>
                              <button id="generalResetBut" class="btn text-gray-100 bg-gradient-info active-if-not-flyoff" onClick="onResetContest(false, false)" data-toggle="tooltip" data-placement="top" title="{{ lang en='Reset' fr='Réinitialiser' de='Zurücksetzen' es='Reiniciar' }}"><i class="fas fa-fast-backward"></i></button>
                              <br><br><i class="fas fa-volume-up"></i>&nbsp;{{ lang en="Language" fr="Langue" de="Sprache" es="idioma"}} <select id="qualifSpeakLang"></select>
                           </div>
                           <div style="margin-right:5px;"><a href="chrono.html" target="_blank"><i class="fas fa-expand-arrows-alt"></i></a></div>
                           <div class="col-auto chrono-frame">
                              <div>
                                 <span id="reflightDisplay" class="current-chrono-reflight">RF 0</span>
                                 <span id="currentTimerStateDisplay" class="current-chrono-state">--</span>
                              </div>
                              <div id="chronoRow">
                                 <span id="chronoDisplay" class="current-chrono-time">-- : --</span>
                              </div>
                              <div>
                                 <span id="currentRoundDisplay" class="current-chrono-round">R --</span>
                                 <span id="currentGroupDisplay" class="current-chrono-group">G --</span>
                              </div>
                           </div>
                        </div>

                        <hr>
                        <div id="qualifBoardTable"></div>
                     </div>

                  </div>
               </div>

               <!-- Page Heading -->
               <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a id="flyoffSetupBtn" href="#flyoffCollapseCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="flyoffCollapseCard">
                     <h6 class="m-0 font-weight-bold text-primary"><span id="flyoffStatus">--</span> Fly-off</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="flyoffCollapseCard">

                     <div class="card-body">

                        <div class="row">
                           <div class="col-auto mr-auto">
                              <button id="flyoffStartBut" class="btn text-gray-100 bg-gradient-success active-if-flyoff" onClick="onStartContest(true, false)" data-toggle="tooltip" data-placement="top" title="Start" disabled><i class="fas fa-play-circle"></i></button>
                              <button id="flyoffPauseBut" class="btn text-gray-100 bg-gradient-warning active-if-flyoff" onClick="onPauseContest(true, false)" data-toggle="tooltip" data-placement="top" title="Pause" disabled><i class="far fa-pause-circle"></i></button>
                              <button id="flyoffStopBut" class="btn text-gray-100 bg-gradient-danger active-if-flyoff" onClick="onStopContest(true, false)" data-toggle="tooltip" data-placement="top" title="Stop" disabled><i class="fas fa-stop-circle"></i></button>
                              <button id="flyoffResetBut" class="btn text-gray-100 bg-gradient-info active-if-flyoff" onClick="onResetContest(true, false)" data-toggle="tooltip" data-placement="top" title="Reset" disabled><i class="fas fa-fast-backward"></i></button>
                           </div>
                           <div style="margin-right:5px;"><a href="chrono.html" target="_blank"><i class="fas fa-expand-arrows-alt"></i></a></div>
                           <div class="col-auto chrono-frame">
                              <div>
                                 <span id="reflightDisplay" class="current-chrono-reflight">RF 0</span>
                                 <span id="currentTimerStateDisplay" class="current-chrono-state">--</span>
                              </div>
                              <div id="chronoRow">
                                 <span id="chronoDisplay" class="current-chrono-time">-- : --</span>
                              </div>
                              <div>
                                 <span id="currentRoundDisplay" class="current-chrono-round">R --</span>
                                 <span id="currentGroupDisplay" class="current-chrono-group">G --</span>
                              </div>
                           </div>
                        </div>
                        <hr>
                        <div id="flyoffBoardTable"></div>

                     </div>
                  </div>
               </div>

            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}


      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- setDraw Modal-->
   <div class="modal fade" id="setDrawModal" tabindex="-1" role="dialog" aria-labelledby="setDrawModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="setDrawModalLabel">{{ lang en="Ready to save draw?" fr="Prêt à enregistrer le tirage ?" de="Bereit, die Auslosung zu speichern?" es="¿Listo para guardar el sorteo?" }}</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">{{ lang en="Select 'Save draw' below if you are ready to set this draw for qualification rounds." fr="Sélectionnez 'Enregistrer le tirage' ci-dessous si vous êtes prêt à définir ce tirage pour les manches de qualification" de="Wählen Sie unten 'Ziehung speichern', wenn Sie bereit sind, diese Ziehung für Qualifikationsrunden festzulegen" es="Seleccione 'Guardar sorteo' a continuación si está listo para configurar este sorteo para las Mangas de clasificación" }}</div>
            <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
               <a class="btn text-gray-100 btn-primary" onClick="onSetDrawContest()" data-dismiss="modal"><i class="fas fa-marker"></i>&nbsp;{{ lang en="Save draw" fr="Enregister le tirage" de="Zeichnung speichern" es="Guardar sorteo" }}</a>
            </div>
         </div>
      </div>
   </div>

   {{ include "include/basicModal.html" }}

   <!--<script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
  <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

   <script>
      let urlParams = new URLSearchParams(location.search);
      let contest_id = urlParams.get('contest_id');
      let currentEntrantID;
      let websocket;
      let curPilotMatrix;
      let currentRound = 1;
      let currentGroup = 1;
      let currentTimerState = 0;
      let currentDay = 1;
      let isCD = false;
      let pilotTab = null;
      let score;
      let pilotList = [];
      let isFlyoff = false;
      let isJunior = false;

      function goToContest() {
         window.location.href = "contest.html?contest_id=" + contest_id;
      }

      function onQualifFlyoffActiveChange(event) {
         if (event.id == "qualifActive") {
            isFlyoff = false;

            let inputs = document.getElementsByClassName('active-if-flyoff');
            for (let i = 0; i < inputs.length; i++) {
               inputs[i].disabled = true;
            }

            inputs = document.getElementsByClassName('active-if-not-flyoff');
            for (let i = 0; i < inputs.length; i++) {
               inputs[i].disabled = false;
            }

         } else {
            isFlyoff = true;

            let inputs = document.getElementsByClassName('active-if-flyoff');
            for (let i = 0; i < inputs.length; i++) {
               inputs[i].disabled = false;
            }

            inputs = document.getElementsByClassName('active-if-not-flyoff');
            for (let i = 0; i < inputs.length; i++) {
               inputs[i].disabled = true;
            }
         }

         refreshActiveColor();

         modifyContestParameters(contest_id, { is_flyoff: isFlyoff })
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function timerStateToString(value) {
         switch (value) {
            case 0:
               return 'PT';
            case 1:
               return 'WT';
            case 2:
               return 'LT';
            case 3:
               return 'ST';
            case 4:
               return 'DT';
            default:
               return '--';
         }
      }

      function updateActiveRound(day, round, group, state) {
         let inputs = document.getElementsByClassName('active-compet-group');
         for (let i = 0; i < inputs.length; i++)
            inputs[i].className = inputs[i].className.replace(/\active-compet-group\b/g, "");

         $("#gr_" + day + "_" + round + '_' + group).addClass('active-compet-group');
         // $("#gr_"+day+"_"+round+'_'+group).prop('disabled',false);

         inputs = document.getElementsByClassName('active-compet-state');
         for (let i = 0; i < inputs.length; i++)
            inputs[i].className = inputs[i].className.replace(/\active-compet-state\b/g, "");

         if (state == 0)
            $("#sp_" + day + "_" + round + '_' + group).addClass('active-compet-state');
         else if (state == 1)
            $("#sw_" + day + "_" + round + '_' + group).addClass('active-compet-state');
         else if (state == 3)
            $("#ss_" + day + "_" + round + '_' + group).addClass('active-compet-state');
      }

      function onPilotResultMessage(data) {
         if (data.contest_id != contest_id)
            return;

         if (currentRound > data.round_id) {
            let errorList = [];
            if (((data.fly_time < 0) || (typeof data.fly_time == "undefined") || (data.fly_time === "")))
               errorList.push("- Fly time is missing");
            if (data.distance === "")
               errorList.push("- Distance is missing");
            if (data.start_height === "")
               errorList.push("- Start height is missing");

            if (errorList.length != 0) {
               $('#tr_' + data.round_id + '_' + data.group_id + '_' + data.slot_id).addClass("error-cell");
               $('#td_' + data.round_id + '_' + data.group_id + '_' + data.slot_id).html('<i class="fas fa-exclamation-circle" style="color:#fba6a6;padding-left:5px;" data-toggle="tooltip" data-placement="top" data-html="true" title="' + errorList.join("<br>") + '"></i>');
            }
         }

         $('#time_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(timeFormat(data.fly_time));
         $('#dist_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.distance === "" ? "-" : data.distance);
         $('#sh_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.start_height === "" ? "-" : data.start_height);
         $('#pen_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.group_penalty === "" ? "-" : data.group_penalty);
         $('#rm_pen_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).prop("checked", data.group_rm_penalty);
         $('#points_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.group_points === "" ? "-" : data.group_points);
         $('#score_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.group_score === "" ? "-" : data.group_score.toFixed(2));
         if (data.worse_score == true)
            $('#score_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).addClass("worse-score");
         else
            $('#score_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).removeClass("worse-score");

         $('#tscore_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.total_score === "" ? "-" : data.total_score.toFixed(2));
         $('#rank_' + data.round_id + '_' + data.group_id + '_' + data.slot_id + '_' + data.entrant_id).text(data.final_rank === "" ? "-" : data.final_rank);
      }

      function computeFreeSlot(slotNum, groupNum) {
         return parseInt(slotNum * groupNum - pilotTab.length);
      }

      function dislayPilotFree(pilotFree, value) {
         pilotFree.text(' ' + value + ' ');
         if (value < 0) {
            pilotFree.css("color", "#FFFFFF");
            pilotFree.css("background", "#ac4949");
         } else if (value == 0) {
            pilotFree.css("color", "#000000");
            pilotFree.css("background", "#aaac49");
         }
         if (value > 0) {
            pilotFree.css("color", "#FFFFFF");
            pilotFree.css("background", "#5dac49");
         }
      }

      function updatePilotCount() {
         let slot = $('#contestQualifSlot').val();
         let group = $('#contestQualifGroup').val();
         let pilotFree = $('#contestQualifPilot');
         dislayPilotFree(pilotFree, computeFreeSlot(slot, group));

         slot = $('#contestFlyoffSlot').val();
         group = $('#contestFlyoffGroup').val();
         pilotFree = $('#contestFlyoffPilot');
         let freeFlyoff = computeFreeSlot(slot, group);
         dislayPilotFree(pilotFree, freeFlyoff);

         let pilotRatio = pilotTab.length / (slot - freeFlyoff) * 100;
         $("#contestPilotRatio").text(' ' + pilotRatio.toFixed(1) + ' ');
      }

      function refreshCheck() {
         if (isFlyoff) {
            $('#qualifActive').prop("checked", false);
            $('#flyoffActive').prop("checked", true);
         }
         else {
            $('#qualifActive').prop("checked", true);
            $('#flyoffActive').prop("checked", false);
         }
      }

      function refreshActiveColor() {
         if (isFlyoff) {
            $('#qualifStatus').css('color', '#e74a3b');
            $('#flyoffStatus').css('color', '#1cc88a');
         }
         else {
            $('#qualifStatus').css('color', '#1cc88a');
            $('#flyoffStatus').css('color', '#e74a3b');
         }
      }

      /* onload */
      $(function () {
         getSessionUserParams({contestID: contest_id})
            .then(function (result) {
               currentEntrantID = result.entrant_id;
               initWebSocket(result.ssl, result.ws_port);

               if (result.is_contest_director) {
                  isCD = true;

                  let inputs = document.getElementsByClassName('edit-if-cd');
                  for (let i = 0; i < inputs.length; i++) {
                     inputs[i].disabled = false;
                  }
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         if (getUserPrefsValue("drawSetupBtn-" + contest_id) == true)
            $('#drawSetupBtn').click();
         $('#drawSetupBtn').click(function () {
            setUserPrefsValue("drawSetupBtn-" + contest_id, !getUserPrefsValue("drawSetupBtn-" + contest_id));
         });

         if (getUserPrefsValue("flyoffSetupBtn-" + contest_id) == true)
            $('#flyoffSetupBtn').click();
         $('#flyoffSetupBtn').click(function () {
            setUserPrefsValue("flyoffSetupBtn-" + contest_id, !getUserPrefsValue("flyoffSetupBtn-" + contest_id));
         });

         if (getUserPrefsValue("generalSetupBtn-" + contest_id) == true)
            $('#generalSetupBtn').click();
         $('#generalSetupBtn').click(function () {
            setUserPrefsValue("generalSetupBtn-" + contest_id, !getUserPrefsValue("generalSetupBtn-" + contest_id));
         });

         for (let i = 6; i < 21; i++) {
            $("#contestQualifSlot").append($('<option>', {
               value: i,
               text: i
            }));
         }
         /*
         5.5.11.5.1. (a) The competitor will be allowed a minimum of four (4) flights in the qualifying rounds.
         */
         for (let i = 4; i < 21; i++) {
            $("#contestQualifRound").append($('<option>', {
               value: i,
               text: i
            }));
         }
         for (let i = 1; i < 11; i++) {
            $("#contestQualifGroup").append($('<option>', {
               value: i,
               text: i
            }));
         }

         /*
         At the end of the qualifying rounds 30% (rounded down) of
         competitors with the highest aggregate scores will be placed
         together in a single Group comprising a minimum of six (6)
         and maximum of fourteen (14) for the fly-off rounds.
         For operational reasons the CD may set a lower maximum
         */
         for (let i = 6; i < 15; i++) {
            $("#contestFlyoffSlot").append($('<option>', {
               value: i,
               text: i
            }));
         }

         /*
         A minimum of three (3) or maximum of four (4) fly-off rounds
         should be flown. Exceptionally the CD may reduce to two (2)
         in the case of bad weather or poor visibility
         */
         for (let i = 2; i < 5; i++) {
            $("#contestFlyoffRound").append($('<option>', {
               value: i,
               text: i
            }));
         }

         /*
         At the end of the qualifying rounds 30% (rounded down) of
         competitors with the highest aggregate scores will be placed together in a single Group
         */
         for (let i = 1; i < 2; i++) {
            $("#contestFlyoffGroup").append($('<option>', {
               value: i,
               text: i
            }));
         }

         $('#contestQualifRound').on('change', function () {
            onModifyContest(false, false);
         });
         $('#contestQualifSlot').on('change', function () {
            updatePilotCount();
            onModifyContest(false, false);
         });
         $('#contestQualifGroup').on('change', function () {
            updatePilotCount();
            onModifyContest(false, false);
         });
         $('#contestFlyoffRound').on('change', function () {
            onModifyContest(true, false);
         });
         $('#contestFlyoffSlot').on('change', function () {
            updatePilotCount();
            onModifyContest(true, false);
         });
         $('#contestFlyoffGroup').on('change', function () {
            updatePilotCount();
            onModifyContest(true, false);
         });

         getContest(contest_id)
            .then(function (item) {
               $('#contestQualifSlot').val(item.qualif_slot);
               $('#contestQualifGroup').val(item.qualif_group);
               $('#contestQualifRound').val(item.qualif_round);
               $('#contestFlyoffSlot').val(item.flyoff_slot);
               $('#contestFlyoffGroup').val(item.flyoff_group);
               $('#contestFlyoffRound').val(item.flyoff_round);

               $('#qualifStatus').html('<i class="fas fa-circle"></i>');
               $('#flyoffStatus').html('<i class="fas fa-circle"></i>');

               //$('#flyoffColapseBut').prop('disabled', !item.is_qualif_closed)

               if (item.is_qualif_closed) {
                  if (item.is_flyoff_draw_set) {
                     $('#newFlyoffDrawBut').prop('disabled', true);
                     $('#setFlyoffDrawBut').prop('disabled', true);
                     $('#merge_flyoff_js').prop('disabled', true);
                     $('#alt_flyoff_js').prop('disabled', true);

                     $('#contestFlyoffSlot').prop('disabled', true);
                     $('#contestFlyoffGroup').prop('disabled', true);
                     $('#contestFlyoffRound').prop('disabled', true);
                  }
                  else
                     displayDrawContest(true, true, false);
               } else {
                  if (item.is_qualif_draw_set) {
                     $('#newQualifDrawBut').prop('disabled', true);
                     $('#setQualifDrawBut').prop('disabled', true);
                     $('#merge_qualif_js').prop('disabled', true);
                     $('#alt_qualif_js').prop('disabled', true);

                     $('#contestQualifSlot').prop('disabled', true);
                     $('#contestQualifGroup').prop('disabled', true);
                     $('#contestQualifRound').prop('disabled', true);
                  }
                  else
                     displayDrawContest(true, false, false);
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         initializeContest(contest_id)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         getContestParameters(contest_id)
            .then(result => {
               currentRound = parseInt(result.cur_round);
               currentGroup = parseInt(result.cur_group);
               isFlyoff = result.is_flyoff;
               isJunior = result.is_junior;

               refreshCheck();
               refreshActiveColor();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         fetch('/api/v1/getDrawParametersContest?contest_id=' + contest_id + '&is_flyoff=' + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => {
               if (result.max_round > 0) {
                  displayDrawContest(false, isFlyoff, isJunior);
                  displayBoard(isFlyoff);
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         fetch('/api/v1/getEntrantList?contest_id=' + contest_id)
            .then(handleErrors)
            .then(result => {
               pilotTab = result;
               updatePilotCount();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         getContestSpeakerLocaleList(contest_id)
            .then(function (item) {
               item.forEach(function (data, index) {
                  $("#qualifSpeakLang").append($('<option>', {
                     value: data,
                     text: data
                  }));
               });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         $('#qualifSpeakLang').on('change', function () {
            setContestManagerParameters(contest_id, { locale_speaker: this.value })
               .then(result => { })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         });

         $('[data-toggle="tooltip"]').tooltip();
      });

      async function displayDrawContest(generate, isFlyoff, isJunior) {
         let url = "/api/v1/getDrawContest?contest_id=" + contest_id + '&is_flyoff=' + isFlyoff + '&is_junior=' + isJunior;
         if (generate)
            url += "&generate";

         await fetch(url)
            .then(handleErrors)
            .then(result => {
               //console.log(isFlyoff,isJunior,result)
               let content = '<div>';
               let roundNum = 1;
               curPilotMatrix = result;
               result.forEach(function (round, index) {
                  let groupNum = 1;
                  content += '<div class="row">';
                  round.forEach(function (group, index) {
                     content += '<div class="col">';
                     content += '<span><b>{{ lang en="Ro" fr="Ma" de="Ru" es="Re" }}' + roundNum + '</b><u>Gr' + groupNum + '</u></span>';
                     content += '<br><table border="1">';
                     let target = 1;
                     content += '<tr>';
                     content += '<th width="45" class="draw-slot-th" data-toggle="tooltip" data-placement="top" title="{{ lang en="Lane" fr="Cible" de="Bahn" es="Carril" }}"><i class="fas fa-bullseye"></i></th>';
                     content += '<th width="250" class="draw-pilot-th">{{ lang en="Name" fr="Nom" de="Name" es="Nombre" }}</th>';
                     //content += '<th width="60" class="draw-freq-th">Freq</th>';
                     content += '</tr>';
                     group.forEach(function (data, index) {
                        if (generate) {
                           let pilotIdx = data;
                           if (pilotTab[pilotIdx] != undefined) {
                              content += '<tr>';
                              content += '<td class="draw-slot-td">' + target + '</td>';
                              content += '<td class="draw-pilot-td">' + pilotTab[pilotIdx].first_name + ' ' + pilotTab[pilotIdx].last_name + '</td>';
                              //content += '<td class="draw-freq-td">' + pilotTab[pilotIdx].freq_list + '</td>';
                              content += '</tr>';
                           } else
                              content += '<tr><td class="draw-slot-td">' + target + '</td><td class="editable-cell draw-pilot-td">{{ lang en="Free" fr="Libre" de="Frei" es="Gratis" }}</td></tr>';
                        } else {
                           let item = data;
                           if (item.id != -1) {
                              content += '<tr>';
                              content += '<td class="draw-slot-td">' + target + '</td>';
                              content += '<td class="draw-pilot-td">' + item.first_name + ' ' + item.last_name + '</td>';
                              //content += '<td class="draw-freq-td">' + item.freq_list + '</td>';
                              content += '</tr>';
                           } else
                              content += '<tr><td class="draw-slot-td">' + target + '</td><td class="editable-cell draw-pilot-td">{{ lang en="Free" fr="Libre" de="Frei" es="Gratis" }}</td></tr>';
                        }
                        target++;
                     });
                     content += '</table></div>';
                     groupNum++;
                  });
                  content += '</div>';
                  roundNum++;
               });
               content += '</div>';

               if (isFlyoff)
                  $('#drawFlyoffTable').html(content);//"<center><h4>{{ lang en="Not available yet" fr="Pas encore disponible" de="Zurzeit nicht verfügbar" es="Aun no está disponible" }}</h4></center>");
               else
                  $('#drawQualifTable').html(content);

               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function getTimeinSecond(textTime) {
         let finalTime = textTime.replace(/-/g, '');
         let minSec = finalTime.split(':');
         let ms = (parseInt(minSec[0]) || 0) * 60;
         let ss = parseInt(minSec[1]) || 0;
         return ms + ss;
      }

      function onTimeValueChanged(value, userData, isFlyoff, isJunior) {
         //console.log(value,userData)
         let round_id = userData.round_id;
         let group_id = userData.group_id;
         let flyTime = getTimeinSecond(value);
         let distance = getDistanceFromSpan(userData.distance);
         let startHeight = getStartHeightFromSpan(userData.startHeight);
         let penalty = getPenaltyFromSpan(userData.penalty);
         let rm_penalty = getRmPenaltyFromCheck(userData.rmPenalty);

         fetch("/api/v1/addScore?entrant_id=" + userData.id + "&fly_time=" + flyTime + "&distance=" + distance + "&start_height=" + startHeight + "&penalty=" + penalty + "&contest_id=" + contest_id + "&round_id=" + round_id + "&group_id=" +
            group_id + "&rm_penalty=" + rm_penalty + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onDistanceValueChanged(value, userData, isFlyoff, isJunior) {
         //console.log(value,userData)
         let round_id = userData.round_id;
         let group_id = userData.group_id;
         let flyTime = getFlyTimeFromSpan(userData.flyTime);
         let distance = value;
         let startHeight = getStartHeightFromSpan(userData.startHeight);
         let penalty = getPenaltyFromSpan(userData.penalty);
         let rm_penalty = getRmPenaltyFromCheck(userData.rmPenalty);

         fetch("/api/v1/addScore?entrant_id=" + userData.id + "&fly_time=" + flyTime + "&distance=" + distance + "&start_height=" + startHeight + "&penalty=" + penalty + "&contest_id=" + contest_id + "&round_id=" + round_id + "&group_id=" +
            group_id + "&rm_penalty=" + rm_penalty + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onStartHeightValueChanged(value, userData, isFlyoff, isJunior) {
         //console.log(value,userData)
         let round_id = userData.round_id;
         let group_id = userData.group_id;
         let flyTime = getFlyTimeFromSpan(userData.flyTime);
         let distance = getDistanceFromSpan(userData.distance);
         let startHeight = value;
         let penalty = getPenaltyFromSpan(userData.penalty);
         let rm_penalty = getRmPenaltyFromCheck(userData.rmPenalty);

         fetch("/api/v1/addScore?entrant_id=" + userData.id + "&fly_time=" + flyTime + "&distance=" + distance + "&start_height=" + startHeight + "&penalty=" + penalty + "&contest_id=" + contest_id + "&round_id=" + round_id + "&group_id=" +
            group_id + "&rm_penalty=" + rm_penalty + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onPenaltyValueChanged(value, userData, isFlyoff, isJunior) {
         //console.log(value,userData)
         let round_id = userData.round_id;
         let group_id = userData.group_id;
         let flyTime = getFlyTimeFromSpan(userData.flyTime);
         let distance = getDistanceFromSpan(userData.distance);
         let startHeight = getStartHeightFromSpan(userData.startHeight);
         let penalty = value;
         let rm_penalty = getRmPenaltyFromCheck(userData.rmPenalty);

         fetch("/api/v1/addScore?entrant_id=" + userData.id + "&fly_time=" + flyTime + "&distance=" + distance + "&start_height=" + startHeight + "&penalty=" + penalty + "&contest_id=" + contest_id + "&round_id=" + round_id + "&group_id=" +
            group_id + "&rm_penalty=" + rm_penalty + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onRmPenaltyChange(value, userData) {
         let round_id = userData.round_id;
         let group_id = userData.group_id;
         let flyTime = getFlyTimeFromSpan(userData.flyTime);
         let distance = getDistanceFromSpan(userData.distance);
         let startHeight = getStartHeightFromSpan(userData.startHeight);
         let penalty = getPenaltyFromSpan(userData.penalty);
         let rm_penalty = value;

         fetch("/api/v1/addScore?entrant_id=" + userData.id + "&fly_time=" + flyTime + "&distance=" + distance + "&start_height=" + startHeight + "&penalty=" + penalty + "&contest_id=" + contest_id + "&round_id=" + round_id + "&group_id=" +
            group_id + "&rm_penalty=" + rm_penalty + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onFreeLaneValueChanged(value, userData) {
         //console.log(value,userData)
         let round_id = userData.round_id;
         let group_id = userData.group_id;
         let slot_id = userData.slot_id;
         let entrant_id = userData.entrant_id;

         fetch("/api/v1/registerEntrantToContest?signin&scope=fp&role=pi&contest_id=" + contest_id + "&round_id=" + round_id + '&group_id=' + group_id + '&slot_id=' + slot_id + '&entrant_id=' + entrant_id)
            .then(handleErrors)
            .then(result => {
               // todo reresh
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function getFlyTimeFromSpan(spanID) {
         let span = document.getElementById(spanID);
         if (span.innerHTML == "--:--")
            return 0;
         return getTimeinSecond(span.innerHTML);
      }

      function getDistanceFromSpan(spanID) {
         let span = document.getElementById(spanID);
         if (span.innerHTML == "-")
            return 0;
         return parseInt(span.innerHTML);
      }

      function getStartHeightFromSpan(spanID) {
         let span = document.getElementById(spanID);
         if (span.innerHTML == "-")
            return 0;
         return parseInt(span.innerHTML);
      }

      function getPenaltyFromSpan(spanID) {
         let span = document.getElementById(spanID);
         if (span.innerHTML == "-")
            return 0;
         return parseInt(span.innerHTML);
      }

      function getRmPenaltyFromCheck(checkID) {
         let check = document.getElementById(checkID);
         return check.checked;
      }

      function editMode(parent, spanID, pattern, onValueChangedCB, userDataCB) {
         if (parent.children[0].localName == "input")
            return;
         let input = document.createElement("input");
         input.setAttribute('type', 'text');
         input.setAttribute('size', '5');
         input.setAttribute('style', 'background-color:#ffd77d;');
         input.setAttribute('pattern', pattern);
         input.onkeydown = function (event) {
            if (event.keyCode == 27) {
               let newSpan = document.createElement("span");
               newSpan.innerHTML = input.pvalue;
               newSpan.id = spanID;
               input.parentNode.removeChild(input);
               parent.appendChild(newSpan);
            }
            if (event.keyCode == 13) {
               let newSpan = document.createElement("span");
               newSpan.innerHTML = input.value;
               newSpan.id = spanID;
               input.parentNode.removeChild(input);
               parent.appendChild(newSpan);
               onValueChangedCB(newSpan.innerHTML, userDataCB);
            }
         };
         parent.appendChild(input);
         input.focus();
         let span = document.getElementById(spanID);
         input.value = span.innerHTML;
         input.pvalue = span.innerHTML;
         span.parentNode.removeChild(span);
      }

      function choiceMode(parent, choiceLabel, choiceValues, spanID, onValueChangedCB, userDataCB) {
         if (parent.children[0].localName == "div")
            return;
         //Create a DropDownList element.
         let div = document.createElement("DIV");
         let selectItem = document.createElement("SELECT");
         selectItem.onchange = function (event) {
            let newSpan = document.createElement("span");
            newSpan.innerHTML = selectItem.options[selectItem.selectedIndex].label;
            userDataCB.entrant_id = selectItem.value;
            newSpan.id = spanID;
            div.parentNode.removeChild(div);
            parent.appendChild(newSpan);
            if (selectItem.value != -1) // do nothing if free is choosen
               onValueChangedCB(newSpan.innerHTML, userDataCB);
         };

         let option1 = document.createElement("OPTION");
         //option1.disabled = true
         option1.innerHTML = choiceLabel;
         selectItem.options.add(option1);
         for (let i = 0; i < choiceValues.length; i++) {
            let option = document.createElement("OPTION");
            option.innerHTML = choiceValues[i].name;
            option.value = choiceValues[i].id;
            selectItem.options.add(option);
         }
         //selectItem.selectedIndex=-1
         div.appendChild(selectItem);
         parent.appendChild(div);

         var span = document.getElementById(spanID);
         //input.value = span.innerHTML
         span.parentNode.removeChild(span);
      }

      async function getScoreList() {
         await fetch('/api/v1/getScoreList?contest_id=' + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => {
               result.forEach(function (round, index) {
                  onPilotResultMessage(round);
               });
               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      async function displayBoard(isFlyoff) {
         await fetch("/api/v1/getDrawContest?contest_id=" + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => {
               let content = "";
               let roundNum = 1;
               result.forEach(function (round, index) {
                  let groupNum = 1;

                  // get list of pilot
                  pilotList = [{
                     name: "{{ lang en='Free' fr='Libre' de='Frei' es='Gratis' }}",
                     id: -1
                  }];
                  round.forEach(function (group, index) {
                     group.forEach(function (item, index) {
                        if (item.id != -1)
                           pilotList.push({
                              name: item.first_name + ' ' + item.last_name,
                              id: item.id
                           });
                     });
                  });

                  round.forEach(function (group, index) {
                     content += '<div id="gr_' + currentDay + '_' + roundNum + '_' + groupNum + '" class="compet-group">';
                     content += '<div class="row justify-content-start">';
                     content += '<div class="col-3">';
                     content += '<span class="compet-group-title"> {{ lang en="Ro" fr="Ma" de="Ru" es="Re" }}' + roundNum + ' Gr' + groupNum + '</span> ';
                     content += '<a data-toggle="tooltip" data-placement="top" title="{{ lang en="Remove this group" fr="Supprimer ce groupe" de="Entfernen Sie diese Gruppe" es="Quitar este grupo" }}" href="javascript:removeGroup(' + roundNum + ',' + groupNum + ',' + isFlyoff + ',' + isJunior + ')"><i class="fas fa-trash-alt" style="color:#fba6a6;"></i></a>';
                     content += '</div>';
                     content += '<div id="sp_' + currentDay + '_' + roundNum + '_' + groupNum + '" class="col-3" data-toggle="tooltip" data-placement="top" title="{{ lang en="Preparation time" fr="Temps de préparation" de="Vorbereitungszeit" es="Tiempo de preparación" }}"><i class="fas fa-bullhorn"></i>&nbsp;<b><span id="prep_' + roundNum + '_' + groupNum +
                        '" style="font-size: 1.5em;">--:--</span></b></div>';
                     content += '<div id="sw_' + currentDay + '_' + roundNum + '_' + groupNum + '" class="col-3" data-toggle="tooltip" data-placement="top" title="{{ lang en="Working time" fr="Temps de travail" de="Arbeitszeit" es="Tiempo de trabajo" }}"><i class="far fa-clock"></i>&nbsp;<b><span id="remain_' + roundNum + '_' + groupNum + '" style="font-size: 1.5em">--:--</span></b></div>';
                     content += '<div id="ss_' + currentDay + '_' + roundNum + '_' + groupNum + '" class="col-3" data-toggle="tooltip" data-placement="top" title="{{ lang en="Inter rounds time" fr="Temps inter manches" de="Zwischenrundenzeit" es="Tiempo entre Mangas" }}"><i class="fas fa-hourglass-end"></i>&nbsp;<b><span id="sleep_' + roundNum + '_' + groupNum +
                        '" style="font-size: 1.5em;">--:--</span></b></div>';
                     content += '</div>';
                     content += '<table>';
                     var target = 1;
                     content += '<tr>';
                     content += "<th></th>";
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Lane" fr="Cible" de="Bahn" es="Carril" }}"><i class="fas fa-bullseye"></i></th>';
                     content += '<th width="15%">{{ lang en="Name" fr="Nom" de="Name" es="Nombre" }}</th>';
                     //content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="Frequency"><i class="fas fa-broadcast-tower"></i></th>'
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Flight time in seconds" fr="Temps de vol en secondes" de="Flugzeit in Sekunden" es="Tiempo de vuelo en segundos" }}"><i class="fas fa-stopwatch"></i></th>';
                     content += '<th width="5%"  style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Distance from the landing spot" fr="Distance à la cible" de="Entfernung vom Landeplatz" es="Distancia desde el lugar de aterrizaje" }}"><i class="fas fa-arrows-alt-h"></i></th>';
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Start height" fr="Hauteur de départ" de="Starthöhe" es="Altura inicial" }}"><i class="fas fa-arrows-alt-v"></i></th>';
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Penalty" fr="Pénalité" de="Elfmeter" es="lapenalización" }}"><i class="far fa-frown-open"></i></th>';
                     content += '<th width="5%"  style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Motor restarted" fr="Moteur redémarré" de="Motor neu gestartet" es="Motor reiniciado" }}"><i class="fas fa-redo-alt"></i></th>';
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Points of this group" fr="Points du groupe" de="Punkte dieser Gruppe" es="Puntos de este grupo"}}"><i class="fas fa-circle"></i></th>';
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Score of this group" fr="Score du groupe" de="Partituren dieser Gruppe" es="Puntuaciones de este grupo"}}"><i class="fas fa-chart-bar"></i></th>';;
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Total score" fr="Score global" de="Gesamtpunktzahl" es="Puntaje total" }}"><i class="fas fa-chart-line"></i></th>'
                     content += '<th width="10%" style="text-align:center;" data-toggle="tooltip" data-placement="top" title="{{ lang en="Overall ranking" fr="Classement général" de="Gesamtrangliste" es="Clasificación general" }}"><img src="image/rank.svg" width="22" height="16" style="margin-bottom:6px;"></th>';
                     content += '</tr>';

                     group.forEach(function (item, index) {
                        if (item.id != -1) {
                           content += '<tr id="tr_' + roundNum + '_' + groupNum + '_' + target + '">';
                           content += '<td id="td_' + roundNum + '_' + groupNum + '_' + target + '"></td>';
                           content += '<td style="text-align:center;">' + target + '</td>';
                           content += '<td>' + item.first_name + ' ' + item.last_name + '</td>';
                           //content += '<td style="text-align:center;">' + item.freq_list + '</td>';
                           var timeSpanID = '\'time_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '\'';
                           var distSpanID = '\'dist_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '\'';
                           var shSpanID = '\'sh_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '\'';
                           var penSpanID = '\'pen_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '\'';
                           var rmPenCheckID = '\'rm_pen_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '\'';

                           var userData = '{id:' + item.id + ',slot_id:' + target + ',round_id:' + roundNum + ',group_id:' + groupNum + ',flyTime:' + timeSpanID + ',distance:' + distSpanID + ',startHeight:' + shSpanID + ',penalty:' +
                              penSpanID + ',rmPenalty:' + rmPenCheckID + ',flyoff:false,junior:false}';

                           content += '<td class="editable-cell" style="text-align:center;" onclick="editMode(this, ' + timeSpanID + ',\'/\d/\d:/\d/\d\',onTimeValueChanged,' + userData + ')"><span id=' + timeSpanID + '>--:--</span></td>';
                           content += '<td class="editable-cell" style="text-align:center;" onclick="editMode(this, ' + distSpanID + ',\'/\d*\',onDistanceValueChanged,' + userData + ')"><span id=' + distSpanID + '>-</span></td>';
                           content += '<td class="editable-cell" style="text-align:center;" onclick="editMode(this, ' + shSpanID + ',\'/\d*\',onStartHeightValueChanged,' + userData + ')"><span id=' + shSpanID + '>-</span></td>';
                           content += '<td class="editable-cell" style="text-align:center;" onclick="editMode(this, ' + penSpanID + ',\'/\d*\',onPenaltyValueChanged,' + userData + ')"><span id=' + penSpanID + '>-</span></td>';
                           content += '<td class="editable-cell" style="text-align:center;"><input id=' + rmPenCheckID + ' type="checkbox" onClick="onRmPenaltyChange(this.checked,' + userData + ')"></td>';
                           content += '<td style="text-align:center;"><span id="points_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '">-</span></td>';
                           content += '<td style="text-align:center;"><span id="score_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '">-</span></td>';
                           content += '<td style="text-align:center;"><span id="tscore_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '">-</span></td>';
                           content += '<td style="text-align:center;"><span id="rank_' + roundNum + '_' + groupNum + '_' + target + '_' + item.id + '">-</span></td>';
                           content += '</tr>';
                        } else {
                           content += '<tr><td></td><td style="text-align:center;">' + target + '</td>';
                           var spanID = '\'span_' + target + '_' + roundNum + '_' + groupNum + '\'';
                           content += '<td class="editable-cell" onclick="choiceMode(this,\'{{ lang en="Choose a pilot" fr="Choisissez un pilote" de="Wähle einen Piloten" es="Elige un piloto" }}\',pilotList,' + spanID + ',onFreeLaneValueChanged,{slot_id:' + target + ',round_id:' + roundNum + ',group_id:' + groupNum +
                              '})"><span id=' + spanID + '>{{ lang en="Free" fr="Libre" de="Frei" es="Gratis" }}</span></td>';
                           content += '<td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>';
                        }
                        target++;
                     });
                     content += '</table></div>';
                     groupNum++;
                  });

                  content += '<div><a data-toggle="tooltip" data-placement="top" title="{{ lang en="Insert new group for round" fr="Insérer un nouveau groupe pour la manche" de="Neue Gruppe für Runde" es="Insertar nuevo grupo para la Manga"}} ' + roundNum + '" href="javascript:insertNewGroup(' + roundNum + ',' + (groupNum - 1) + ',' + isFlyoff + ',' + isJunior + ')"><i class="far fa-plus-square"></i></a></div>';
                  roundNum++;
               });

               if (isFlyoff)
                  $('#flyoffBoardTable').html(content);
               else
                  $('#qualifBoardTable').html(content);
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         // fill with scores of rounds already closed

         updateActiveRound(currentDay, currentRound, currentGroup, currentTimerState);

         $("#currentRoundDisplay").text("R " + formatDigit(currentRound));
         $("#currentGroupDisplay").text("G " + formatDigit(currentGroup));
         $("#currentTimerStateDisplay").text(timerStateToString(currentTimerState));

         getScoreList();

         $('[data-toggle="tooltip"]').tooltip();
      }

      function onSetDrawContest() {
         fetch('/api/v1/setDrawContest?contest_id=' + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior, {
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(curPilotMatrix)
         })
            .then(handleErrors)
            .then(function (response) {
               displayAlert({
                  type: 'success',
                  msg: '{{ lang en="Round draw is saved for qualification" fr="Le tirage au sort est enregistré pour la qualification" de="Die Auslosung wird für die Qualifikation gespeichert" es="El sorteo de la Manga se guarda para la clasificación" }}',
                  divElt: (!isFlyoff) ? $('#qualifFadeMsg') : $('#flyoffFadeMsg'),
                  spanElt: (!isFlyoff) ? $('#qualifMsg') : $('#flyoffMsg'),
                  callbackOnHide: function () { window.location.reload(); },
               });
            })
            .catch(function (error) {
               displayAlert({
                  type: 'error',
                  msg: '(' + error.type + ') ' + error.message,
                  divElt: (!isFlyoff) ? $('#qualifFadeMsg') : $('#flyoffFadeMsg'),
                  spanElt: (!isFlyoff) ? $('#qualifMsg') : $('#flyoffMsg'),
                  timeout: 4000
               });
            });
      }

      function onStartContest(isFlyoff, isJunior) {
         fetch("/api/v1/startContest?contest_id=" + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onPauseContest(isFlyoff, isJunior) {
         fetch("/api/v1/pauseContest?contest_id=" + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onStopContest(isFlyoff, isJunior) {
         fetch("/api/v1/stopContest?contest_id=" + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onResetContest(isFlyoff, isJunior) {
         fetch("/api/v1/stopContest?contest_id=" + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         fetch("/api/v1/resetContest?contest_id=" + contest_id + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => { })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function insertNewGroup(round, insertAfterGroup, isFlyoff, isJunior) {
         fetch("/api/v1/insertNewGroup?contest_id=" + contest_id + "&round_id=" + round + "&insert_after_group_id=" + insertAfterGroup + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => {
               displayModalMsg({
                  message: "new group " + (insertAfterGroup + 1) + " for round " + round + " is inserted",
                  reload: true
               });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function removeGroup(round, group, isFlyoff, isJunior) {
         fetch("/api/v1/removeGroup?contest_id=" + contest_id + "&round_id=" + round + "&group_id=" + group + "&is_flyoff=" + isFlyoff + "&is_junior=" + isJunior)
            .then(handleErrors)
            .then(result => {
               displayModalMsg({
                  message: "group " + group + " for round " + round + " is deleted",
                  reload: true
               });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onTimeMessage(time) {
         let tt;
         if (time >= 0) {
            tt = timeFormat(time);
            if (currentTimerState == 0) {
               if (time <= 10)
                  changeChronoState(1);
            }
         } else {
            tt = "-- : --";
            changeChronoState(3);
         }

         if (currentTimerState == 0) { // prepTime
            $('#prep_' + currentRound + '_' + currentGroup).text(tt);
         } else if (currentTimerState == 1) { // workingTime
            $('#remain_' + currentRound + '_' + currentGroup).text(tt);
         } else if (currentTimerState == 2) { // landingTime
         } else if (currentTimerState == 3) { // sleepTime
            $('#sleep_' + currentRound + '_' + currentGroup).text(tt);
         } else if (currentTimerState == 4) { // time of day
         }

         $('#chronoDisplay').text(tt);
      }

      function onTimerInfoMessage(data) {
         currentRound = parseInt(data.round_id);
         $("#currentRoundDisplay").text("R " + formatDigit(currentRound));
         currentGroup = parseInt(data.group_id);
         $("#currentGroupDisplay").text("G " + formatDigit(currentGroup));
         currentTimerState = parseInt(data.state);
         $("#currentTimerStateDisplay").text(timerStateToString(currentTimerState));

         updateActiveRound(currentDay, currentRound, currentGroup, currentTimerState);

         if (currentTimerState == 0)
            changeChronoState(0);
         else if (currentTimerState == 1)
            changeChronoState(2);
      }

      function onResultChangeMessage(data) {
         if (data.contest_id != contest_id)
            return;

         getScoreList();
      }

      function onPhoneIsAllowMsg(data) {
         if (data.contest_id == contest_id) {
            if (data.entrant_id == currentEntrantID) {
               if (data.is_allow == true)
                  phoneIsAllow(contest_id);
               else
                  phoneIsNotAllow(contest_id);
            }
         }
      }

      function onWebSocketMessage(evt) {
         let event = JSON.parse(evt.data);

         if (event.s == "srv.tim")
            onTimeMessage(event.d);
         else if (event.s == "srv.pir")
            onPilotResultMessage(event.d);
         else if (event.s == "srv.inf")
            onTimerInfoMessage(event.d);
         else if (event.s == "srv.rch")
            onResultChangeMessage(event.d);
         else if (event.s == "srv.pia")
            onPhoneIsAllowMsg(event.d);
      }

      function onModifyContest(isFlyoff, isJunior) {
         let data = {
            qualif_slot: $('#contestQualifSlot').val(),
            qualif_round: $('#contestQualifRound').val(),
            qualif_group: $('#contestQualifGroup').val(),
            flyoff_slot: $('#contestFlyoffSlot').val(),
            flyoff_round: $('#contestFlyoffRound').val(),
            flyoff_group: $('#contestFlyoffGroup').val(),
         };

         fetch("/api/v1/modifyContest?contest_id=" + contest_id, {
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
         })
            .then(handleErrors)
            .then(function (response) {
               displayDrawContest(true, isFlyoff, isJunior);
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onSetDrawModal() {
         isContestRegistrationStopped(contest_id)
            .then(result => {
               if (!result.reg_is_stopped) {
                  $('#infoModal').modal("show");
                  $('#infoTitle').html('{{ lang en="Save drawn params" fr="Sauver la matrice de tirage" de="Gezeichnete Parameter speichern" es="guardar los parámetros dibujados" }}');
                  $('#infoMsg').html('{{ lang en="Entrants subscription must be closed first.<br><br>Stop registration" fr="L\'enregistrement des participants doit d\'abord être stoppé.<br><br>Arret souscription" de="Das Teilnehmerabonnement muss zuerst geschlossen werden.<br><br>Registr. beenden" es="La suscripción entrante debe cerrarse primero.<br><br>Detener registro" }}');
               }
               else {
                  var fs = computeFreeSlot($('#contestQualifSlot').val(), $('#contestQualifGroup').val());
                  if (fs >= 0)
                     $("#setDrawModal").modal();
                  else {
                     $('#errorModal').modal("show");
                     $('#errTitle').html("Set draw params");
                     $('#errMsg').html("<p>Free slot is negative (" + fs +
                        ")</p><p>You must increase lane or group number to have at least 1 free lane. 0 free lane is tolerate but not recommanded as you will not have alternate lane in case of reflight in a round</p>");
                  }
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }
   </script>
</body>

</html>