<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="/css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-slider/11.0.2/dist/css/bootstrap-slider.css">
   <!--<link rel="stylesheet" href="/vendor/swiper/7.4.1/swiper-bundle.min.css">-->

</head>

<body id="page-top" class="bg-gray-300">
   <!-- Page Wrapper -->
   <div id="wrapper" style="display: flex;flex-flow: column;max-height: 100%;overflow-y: hidden">

      <!-- Header -->
      <div class="bg-gradient-primary text-gray-100" style="font-size: 1.25rem;">
         <div class="container" style="padding-left: 0.5rem;padding-right: 1.5rem;">
            <div class="row">
               <div class="col">
                  <span id="loginName">{{ lang en="Name" fr="Nom" de="Name" es="Nombre"}}: ---</span>
               </div>
               <div class="col">
                  <span id="contestName" style="float:center;">{{ lang en="Contest" fr="Concours" de="Wettbewerb" es="Concurso" }}: ---</span>
               </div>
               <div class="col-3">
                  <div class="row">
                     {{ lang en="R" fr="M" de="R" es="R" }} <b><span id="dct.round">--</span></b>&nbsp;G <b><span id="dct.group">--</span></b>
                  </div>
                  <div class="row">
                     <span id="dct.state" style="font-size: 0.9rem;">--</span>
                  </div>
               </div>
               <div class="col-1">
                  <i id="serverCnx" class="fa-solid fa-link" onclick="window.location.reload()"></i>
                  <i id="serverDiscnx" class="fa-solid fa-link-slash" style="display: none;" onclick="window.location.reload()"></i>
                  <i id="phoneLock" class="fa-solid fa-sun" style="display: none;"></i>
                  <i id="phoneUnlock" class="fa-solid fa-moon"></i>
               </div>
            </div>
         </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="container-fluid" style="padding-left: 1rem;padding-right: 1rem;font-size: 1.2rem;">
         <nav class="nav btn-group mt-2" id="main-nav">
            <a href="#general" class="btn btn-outline-primary active" data-toggle="tab" id="general-tab"><i class="fa-solid fa-house"></i></a>
            <a href="#flyParams" class="btn btn-outline-primary" data-toggle="tab" id="fly-params-tab"><i class="fa-solid fa-sliders"></i></a>
            <a href="#statistics" class="btn btn-outline-primary" data-toggle="tab" id="stats-tab"><i class="fa-solid fa-ranking-star"></i></a>
         </nav>
         <div class="tab-content mt-n2">
            <div class="tab-pane fade active show" id="general">
               <div class="container-fluid">
                  <div class="row" style="margin-top: 1rem;" onclick="onSleepChange()">
                     <span id="dct.time" class="dct-time text-nowrap" style="font-size:25vw;width:100%;text-align: center;">--:--</span>
                  </div>
                  <div class="row show-if-cd" style="margin-top: 0.5rem;" hidden>
                     <div class="col">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="float:right;">
                           <label class="btn btn-secondary active" id="dct.label-speak-on">
                              <input id="dct.speak-on" type="radio" name="options" id="option1" checked> <i class="fas fa-volume-up"></i>
                           </label>
                           <label class="btn btn-secondary" id="dct.label-speak-off">
                              <input id="dct.speak-off" type="radio" name="options" id="option2"> <i class="fas fa-volume-mute"></i>
                           </label>
                        </div>
                     </div>
                     <div class="col-auto">
                        <select id="dct.fr" class="custom-select"></select>
                     </div>
                  </div>
                  <div class="row" style="display: block;margin-top: 1rem;">
                     <div style="overflow-y: auto;width: 100%;height: calc(100vh - 19rem);">
                        <div class="accordion" id="score-list">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="flyParams">
               <div class="container-fluid" style="margin-top: 1rem;">
                  <div class="row" style="background-color: #eadddd;">
                     <div class="col">
                        <div class="d-flex justify-content-between" style="margin-bottom: 0.5rem;">
                           <div><span><i class="fas fa-stopwatch"></i>&nbsp;{{ lang en="Fly time" fr="Temps vol" de="Flugzeit" es="Tiempo de vuelo" }}</span>&nbsp;<span class="badge badge-secondary" style="font-size: 1rem;" id="modalCurrentFlyTime">0:00</span></div>
                           &nbsp;
                           <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              <label class="btn btn-sm btn-secondary active">
                                 <input type="radio" name="options" id="option1" onclick="onNormalTime()" checked> N
                              </label>
                              <label class="btn btn-sm btn-secondary">
                                 <input type="radio" name="options" onclick="onOvertimeLess1m()" id="option2"> 10
                              </label>
                              <label class="btn btn-sm btn-secondary">
                                 <input type="radio" name="options" onclick="onOvertimeMore1m()" id="option3"> 11+
                              </label>
                           </div>
                        </div>
                        <div id="flyTimeSliderSet">
                           <input id="modalFlyTimeMin" style="width:100%;" type="text" data-slider-value="0" />
                           <input id="modalFlyTimeSec1" style="width:100%;" type="text" data-slider-value="0" />
                           <input id="modalFlyTimeSec2" style="width:100%;" type="text" data-slider-value="0" />
                        </div>
                        <div id="flyTimeOver" style="display: none;">
                           <span id="flyTimeOverMsg" class="d-flex justify-content-center flytime-over"></span>
                        </div>
                     </div>
                  </div>
                  <div class="row" style="margin-top: 0.5rem;background-color: #ddeae0;">
                     <div class="col">
                        <span><i class="fas fa-arrows-alt-h"></i>&nbsp;{{ lang en="Distance to target" fr="Distance à la cible" de="Distanz zum Ziel" es="Distancia al objetivo"}}</span>&nbsp;<span class="badge badge-secondary" style="font-size: 1rem;" id="dist">0</span>&nbsp;<span id="distanceUnit">m</span>
                        <div id="targetDistanceSliderSet">
                           <input id="targetDistanceMeter" style="width: 100%;" type="text" data-slider-value="0" />
                        </div>
                        <div id="targetDistanceOver" style="display: none;">
                           <span id="targetDistanceOverMsg" class="d-flex justify-content-center distance-over">
                              {{ lang en="Disabled"}}
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row" style="margin-top: 0.5rem;background-color: #e9ddea;">
                     <div class="col">
                        <span><i class="fas fa-arrows-alt-v"></i>&nbsp;{{ lang en="Start height" fr="Hauteur de départ" de="Starthöhe" es="Altura inicial"}}</span>&nbsp;<span class="badge badge-secondary" style="font-size: 1rem;" id="sh">0</span>&nbsp;m
                        <div id="startHeightSliderSet">
                           <input id="startHeight1" style="width: 100%;" type="text" data-slider-value="0" />
                           <input id="startHeight2" style="width: 100%;" type="text" data-slider-value="0" />
                           <input id="startHeight3" style="width: 100%;" type="text" data-slider-value="0" />
                        </div>
                        <div id="startHeightOver" style="display: none;">
                           <span id="startHeightOverMsg" class="d-flex justify-content-center startheight-over">
                              {{ lang en="Disabled"}}
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-2">
                     <div class="col">
                        <button id="validateBut" class="btn btn-primary btn-lg btn-block" onClick="onCheckInputScoreGood()"><i class="fa-solid fa-share"></i>&nbsp;{{ lang en="Submit" fr="Proposer" de="Einreichen" es="Entregar" }}</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="statistics">
               <div class="container-fluid">
                  <!--<div class="row justify-content-around align-items-center" style=" margin-top:0.8rem;margin-bottom: 0.8rem;">
                     <button type="button" class="btn btn-secondary" onclick="graphFilterAsk()"><i class="fa-solid fa-filter"></i></button>
                     <div><i class="fa-solid fa-tag"></i>&nbsp;All</div>
                     <div>Qualification</div>
                     <div><i class="fa-solid fa-user-group"></i>&nbsp;All</div>
                  </div>-->
                  <div class="row mt-3" height="400%">
                     <!-- 
                     <select id="rankNameFilter" class="col-2 custom-select" onchange="rankNameFilterChanged(this)" style="font-size: small;" multiple>
                     </select>
                     <canvas id="pilotRank"></canvas>-->

                     <table class="table table-sm" style="font-size:medium;">
                        <thead class="thead-dark">
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">{{ lang en="First" fr="Prénom" de="Vornamen" es="Nombre" }}</th>
                              <th scope="col">{{ lang en="Last" fr="Nom" de="Nachname" es="Apellido" }}</th>
                              <th scope="col">{{ lang en="Score" fr="Score" de="Score" es="Score"}}</th>
                           </tr>
                        </thead>
                     </table>

                     <div class="mt-n2" style="overflow-y: auto;width: 100%;height: calc(100vh - 12rem);">
                        <table class="table table-sm" style="font-size:medium;">
                           <tbody id="rankBodyTable">
                              <tr>
                                 <th scope="row"></th>
                                 <td></td>
                                 <td></td>
                                 <td>{{ lang
                                    en="No scores avaible yet !"
                                    fr="Aucun score n'est encore disponible !"
                                    de="Noch keine Spielstände verfügbar!"
                                    es="Todavía no hay resultados disponibles."}}</td>
                                 <td></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Footer -->
      <footer>
         <div class="container fixed-bottom " id="alertList">

            <div class="alert fade show row" style="font-size: 1.4rem;display:none;margin:1em;" role="alert">
               <span id="alertMsg">try</span>
            </div>
            <div class="alert fade show row" style="font-size: 1.4rem;display:none;margin:1em;" role="alert">
               <span id="alertMsg">try</span>
            </div>

         </div>
         <div class="copyright text-center">
            <span style="font-size: 0.7rem;">{{ lang
               en="Copyright © RC-Contest.com 2019-2024 All rights reserved"
               fr="Copyright © RC-Contest.com 2019-2024 Tous droits reservés"
               de="Copyright © RC-Contest.com 2019-2024 Alle Rechte vorbehalten"
               es="Copyright © RC-Contest.com 2019-2024 Todos los derechos reservados"
               }}</span>
         </div>
      </footer>
      <!-- Footer -->

      <div id="virtual-timer" hidden></div>

   </div>
   <!-- Page Wrapper -->

   {{ include "include/loginModal.html" }}
   {{ include "include/basicModal.html" }}

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-slider/11.0.2/dist/bootstrap-slider.js" defer></script>
   <script src="/vendor/NoSleep/0.12.0/dist/NoSleep.min.js"></script>
   <!--<script src="/vendor/swiper/7.4.1/swiper-bundle.min.js"></script>-->
   <script src="/vendor/chartjs/3.9.1/dist/chart.min.js" defer></script>
   <script src="/js/sha3.min.js" defer></script>
   <script src="/js/main.js"></script>
   <script src="/js/rcs/base.js"></script>
   <script src="/js/rcs/bus.js"></script>
   <script src="/js/rcs/chrono.js"></script>
   <script src="/js/rcs/speech.js"></script>
   <script src="/js/rcs/modal.js" defer></script>

   <script>
      let urlParams = new URLSearchParams(location.search);
      let contestID = urlParams.get("contest_id");
      let speech;
      let chrono;
      let flyTime;
      let currentRoundID;
      let currentGroupID;
      let currentIsFlyoff;
      let currentIsJunior;
      let scoreCache = [];
      let fullScoreCache = [];
      let selectedTag = "";
      let generalPilotsRank;
      let group_overtime_less1m = false;
      let group_overtime_more1m = false;
      let group_more_75m = false;
      let groupPerRound = 0;
      let contestNotStarted;
      let noSleep = null;
      let pilotTab = [];
      let tagList = [];
      let notStartedAlert = null;
      let distanceUnit = "m";


      function timerStateToString(value) {
         switch (value) {
            case "PT":
               return '{{ lang en="Prep. Time" fr="Temps prépa." de="Vorbereitungszeit" es="Tiempo de prepa." }}';
            case "WT":
               return '{{ lang en="Working Time" fr="Temps travail" de="Arbeitszeit" es="Tiempo de trabajo" }}';
            case "LT":
               return "Landing Time";
            case "ST":
               return "Sleep Time";
            case "DT":
               return "Time day";
            default:
               return "--";
         }
      }

      function onWSChange(state) {
         if (state === RCSBus.BUS_STATE_OPEN) {
            displayAlert({
               type: "success",
               msg: `{{ lang en="Connected to server" fr="Connecté au serveur" de="Verbunden mit Server" es="Conectado al servidor" }}`,
               autoHide: true
            });
            $("#serverCnx").show();
            $("#serverDiscnx").hide();
         }
         else if (state === RCSBus.BUS_STATE_CLOSE) {
            displayAlert({
               type: "warning",
               msg: `{{ lang en="Reconnected to server" fr="Reconnexion au serveur" de="Verbindung zum Server wiederhergestellt" es="Reconectado al servidor" }}...`,
            });
            $("#serverCnx").hide();
            $("#serverDiscnx").show();

            //window.location.reload();
         }
      }

      function onWSError(event) {
         console.log("WebSocket error: ", event);
      }

      function onRoundMessage(data) {
         currentRoundID = data.round_id;
         currentGroupID = data.group_id;
         currentIsFlyoff = data.is_flyoff;
         currentIsJunior = data.is_junior;

         if (data.state === "IN") {
            if (notStartedAlert)
               document.getElementById("alertList").removeChild(notStartedAlert);
            notStartedAlert = null;
         }

         //buildScoreUI(scoreCache);
      }

      async function onfreePosChanged(data) {
         //await buildScoreCardsFromServer();

         if (data.pilot_id === currentUser.entrant_id) {
            displayModalMsg({
               type: "error",
               title: "{{ lang en='Reflight notification' fr='Notification de revol' de='Rückflugbenachrichtigung' es='Notificación de revisión'}}",
               message:
                  `{{ lang en="You have been chosen to reflight the next group" fr="Vous avez été choisi pour revoler dans le prochain groupe" de="Sie wurden ausgewählt, um die nächste Gruppe neu zu beleuchten" es="Has sido elegido para volver a volar el siguiente grupo"}}`
            });
         }
         else if ((data.pilot_id === -1) && (data.previous_pilot_id === currentUser.entrant_id)) {
            displayModalMsg({
               type: "error",
               title: "{{ lang en='Reflight notification' fr='Notification de revol' de='Rückflugbenachrichtigung' es='Notificación de revisión'}}",
               message:
                  `{{ lang en="You have been removed of the next reflight" fr="Vous avez été retiré du prochain vol" de="Sie wurden vom nächsten Reflight entfernt" es="Has sido eliminado del próximo reflight"}}`
            });
         }
      }

      function onResultChanged(data) {
         if (data.contest_id != contestID)
            return;

         fullScoreCache = data;

         try {
            updateScoreRank(data.score);
            updateScoreCards(data.score);
            //refreshScoreCards(data);
         } catch (error) {
            displayErrorMsg(error);
         }

         // update cache
         if (data.score === undefined)
            return;

         for (const entrant of data.score) {
            if (entrant.entrant_id === currentUser.entrant_id) {
               for (let cacheEntrant of scoreCache) {
                  if ((cacheEntrant.round_id === entrant.round_id) && (cacheEntrant.group_id === entrant.group_id) && (cacheEntrant.slot_id === entrant.slot_id)) {
                     cacheEntrant.group_penalty = entrant.group_penalty;
                     cacheEntrant.group_rank = entrant.group_rank;
                     cacheEntrant.group_score = entrant.group_score;
                     cacheEntrant.final_rank = entrant.final_rank;
                     cacheEntrant.removed = entrant.removed;
                     cacheEntrant.worse_score = entrant.worse_score;
                  }
               }
            }
         }
      }

      function distance(cr, cg, tr, tg, gpr) {
         return ((tr - cr) * gpr + (tg - cg));
      }

      function manageDistanceMeter(slideEvt) {
         if (slideEvt.value.newValue === 11) {
            if (!group_overtime_less1m) {
               $("#flyTimeSliderSet").show();
               $("#flyTimeOver").hide();
            }
            $("#startHeightSliderSet").show();
            $("#startHeightOver").hide();

            let tempFlyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));

            $("#dist").text("[10.1-75]");
         }
         else if (slideEvt.value.newValue === 12) {
            $("#flyTimeSliderSet").hide();
            $("#flyTimeOver").show();
            let msg = `{{ lang en="Distance<br> > 75 m" fr="Distance<br> > 75 m" de="Distanz<br> > 75 m" es="Distancia<br> > 75 m"}}`;
            $("#flyTimeOverMsg").html(msg);
            setFlyTimeOver();

            $("#startHeightSliderSet").hide();
            $("#startHeightOver").show();
            $("#startHeightOverMsg").html(msg);
            setStartHeightOver();

            $("#dist").text(">75");
         }
         else {
            if (!group_overtime_less1m) {
               $("#flyTimeSliderSet").show();
               $("#flyTimeOver").hide();
            }
            $("#startHeightSliderSet").show();
            $("#startHeightOver").hide();

            let tempFlyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));

            $("#dist").text(slideEvt.value.newValue);
         }
      }

      function manageDistanceCentimeter(slideEvt) {
      }

      function manageDistancePoint(slideEvt) {
         if (slideEvt.value.newValue === 55) {
            $("#flyTimeSliderSet").hide();
            $("#flyTimeOver").show();
            let msg = `{{ lang en="Distance<br> > 75 m" fr="Distance<br> > 75 m" de="Distanz<br> > 75 m" es="Distancia<br> > 75 m"}}`;
            $("#flyTimeOverMsg").html(msg);
            setFlyTimeOver();

            $("#startHeightSliderSet").hide();
            $("#startHeightOver").show();
            $("#startHeightOverMsg").html(msg);
            setStartHeightOver();

            $("#dist").text(">75");
            $("#distanceUnit").text("m");
         }
         else {
            if (!group_overtime_less1m) {
               $("#flyTimeSliderSet").show();
               $("#flyTimeOver").hide();
            }
            $("#startHeightSliderSet").show();
            $("#startHeightOver").hide();

            let tempFlyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));

            $("#dist").text(slideEvt.value.newValue);
            $("#distanceUnit").text("points");
         }
      }

      function updateScoreRank(data) {
         let body = document.getElementById("rankBodyTable");
         let rank = 1;
         body.innerHTML = "";
         let scoreSorted = [];

         for (const row of data) {
            if (row.round_id != currentRoundID)
               continue;
            const pilot = pilotTab.find(element => element.id == row.pilot_id);
            scoreSorted.push({ pilot_id: row.pilot_id, first_name: pilot.first_name, last_name: pilot.last_name, total_score: row.total_score, cd_validate: row.cd_validate });
         }

         scoreSorted.sort(function (a, b) {
            return b.total_score - a.total_score;
         });

         for (const score of scoreSorted) {
            if (currentUser.entrant_id == score.pilot_id)
               body.innerHTML += `<tr style="background-color:#A0A0A0;color:#E0E0E0"><th scope="row">${rank++}</th><td>${score.first_name}</td><td>${score.last_name}</td><td>${score.cd_validate ? Number(score.total_score).toFixed(1) : '<i class="fa-solid fa-hourglass"></i>'}</td></tr>`;
            else
               body.innerHTML += `<tr><th scope="row">${rank++}</th><td>${score.first_name}</td><td>${score.last_name}</td><td>${score.cd_validate ? Number(score.total_score).toFixed(1) : '<i class="fa-solid fa-hourglass"></i>'}</td></tr>`;
         }
      }

      let pilotIdxTab = [];
      function buildScoreCards(data) {
         let scoreList = "";

         for (const row of data) {
            pilotIdxTab.push({ round_id: row.round_id, group_id: row.group_id });
            let isActiveRound = "";
            if ((currentRoundID === row.round_id) && (currentGroupID === row.group_id))
               isActiveRound = " active-compet-group";

            let dist = distance(currentRoundID + 1, currentGroupID + 1, row.round_id + 1, row.group_id + 1, groupPerRound);
            let status = "";
            let cardHeaderStatus = "";
            let cardHeadTextColor = "";
            if (dist >= 0) {
               status = `${dist}&nbsp;G`;
               if (dist == 1)
                  cardHeaderStatus = "active-compet-next-group-accordion-header";
            }
            else {
               cardHeadTextColor = "text-gray-500";
               cardHeaderStatus = "pasted-compet-accordion-header";
            }
            if (row.removed == true)
               status = `{{ lang en="Round removed by a best score in another group" fr="Manche supprimé par un meilleur score dans un autre groupe" de="Runde entfernt durch die beste Punktzahl in einer anderen Gruppe" es="Manga eliminada por una mejor puntuación en otro grupo"}}`;
            if (row.worse_scrore == true)
               status = `{{ lang en="Lowest score discarded after 4 rounds" fr="Score le plus bas rejeté après 4 tours" de="Die niedrigste Punktzahl wird nach 4 Runden verworfen" es="Puntuación más baja descartada después de 4 rondas"}}`;
            if (isActiveRound) {
               cardHeaderStatus = "active-compet-group-accordion-header";
               status = `{{ lang en="Round currently active" fr="Manche actuellement active" de="Runde derzeit aktiv" es="Manga actualmente activa"}}`;
            }
            else if (dist < 0)
               status = `{{ lang en="Round completed" fr="Manche terminée" de="Runde abgeschlossen" es="Ronda completada"}}`;

            let idxPrefix = `${row.round_id}_${row.group_id}`;

            scoreList += `
               <div class="card">
                  <div class="card-header ${cardHeaderStatus}" id="heading${idxPrefix}">
                     <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed ${cardHeadTextColor}" type="button" data-toggle="collapse" data-target="#collapse${idxPrefix}" aria-expanded="false" aria-controls="collapse${idxPrefix}">
                        <div style="text-align: center;font-size: 5vw;">
                           {{ lang en="R" fr="M" de="R" es="R" }}<strong>${formatDigit(row.round_id + 1)}</strong> G<strong>${formatDigit(row.group_id + 1)}</strong>
                        </div>
                     </button>
                     </h2>
                  </div>
                  <div id="collapse${idxPrefix}" class="collapse" aria-labelledby="heading${idxPrefix}" data-parent="#score-list">
                     <div class="card-body">
                        <table class="table table-borderless table-sm" style="font-size:small;">
                           <thead class="thead-dark">
                              <tr>
                                 <th scope="col">{{ lang en="Name" fr="Nom" de="Name" es="Nombre"}}</th>
                                 <th scope="col"><i class="fas fa-stopwatch"></i></th>
                                 <th scope="col"><i class="fas fa-arrows-alt-h"></th>
                                 <th scope="col"><i class="fas fa-arrows-alt-v"></i></th>
                                 <th scope="col"><i class="fas fa-chart-bar"></i></th>
                              </tr>
                           </thead>
                           <tbody id="ac_item_${idxPrefix}">
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>`;
            /*
            scoreList += `
               <div class="card">
                  <div class="card-header ${cardHeaderStatus}" id="heading${idxPrefix}">
                     <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed ${cardHeadTextColor}" type="button" data-toggle="collapse" data-target="#collapse${idxPrefix}" aria-expanded="false" aria-controls="collapse${idxPrefix}">
                        <div style="text-align: center;">
                           <i class="fas fa-circle-notch"></i>&nbsp;<strong>${formatDigit(row.round_id + 1)}</strong>&nbsp;
                           <i class="fas fa-user-friends"></i>&nbsp;<strong>${formatDigit(row.group_id + 1)}</strong>&nbsp;
                           <i class="fas fa-bullseye"></i>&nbsp;<strong>${formatDigit(row.slot_id + 1)}</strong>
                        </div>
                     </button>
                     </h2>
                  </div>
                  <div id="collapse${idxPrefix}" class="collapse" aria-labelledby="heading${idxPrefix}" data-parent="#score-list">
                     <div class="card-body">
                        <div class="col">
                              <div class="row ${cardHeaderStatus}">
                                 <span id="sta_${idxPrefix}" style="font-size:1rem;">${status}</span>
                              </div>
                              <div class="row justify-content-between ${cardHeaderStatus}" style="padding-right:0.75rem;">
                                 <div><i class="fas fa-chart-bar"></i> <span id="gsc_${idxPrefix}">${(row.group_score !== "") ? row.group_score.toFixed(1) : "-"}</span></div>
                                 <div><i class="fa-solid fa-face-tired" style="color:#fba6a6;"></i>&nbsp;<span id="pen_${idxPrefix}">${(row.group_penalty !== "") ? row.group_penalty : "-"}</span></div>
                                 <div><i class="fa-solid fa-ranking-star"></i> <span id="rank_${idxPrefix}">${(row.group_rank !== "") ? ("00" + row.group_rank).slice(-2) : "--"}|${(row.final_rank !== "") ? ("00" + row.final_rank).slice(-2) : "--"}</span></div>
                              </div>
                              <div class="row justify-content-between ${cardHeaderStatus}" style="padding-right:0.75rem;">
                                 <div><i class="fas fa-stopwatch"></i>&nbsp;<span id="tim_${idxPrefix}"></span></div>
                                 <div><i class="fas fa-arrows-alt-h"></i>&nbsp;<span id="hei_${idxPrefix}"></span></div>
                                 <div><i class="fas fa-arrows-alt-v"></i>&nbsp;<span id="dis_${idxPrefix}"></span></div>
                                 <div><i class="fas fa-chart-line"></i>&nbsp;<span id="tsc_${idxPrefix}">${(row.total_score !== "") ? row.total_score.toFixed(1) : "-"}</span></div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>`;
               */
         }

         $("#score-list").html(scoreList);
      }

      function updateScoreCards(data) {
         let rgMap = new Map();

         for (let score of data) {
            let key = `${score.round_id}_${score.group_id}`;
            let value = rgMap.get(key);
            if (!value)
               value = [];
            const pilot = pilotTab.find(elt => elt.id == score.pilot_id);
            value.push({
               first_name: pilot.first_name,
               last_name: pilot.last_name,
               fly_time: score.fly_time,
               distance: score.distance,
               start_height: score.start_height,
               group_score: score.group_score,
               cd_validate: score.cd_validate
            });
            rgMap.set(key, value);
         }

         for (let [key, value] of rgMap) {
            let html = "";
            for (const pilot of value) {
               let rScore;
               if (pilot.group_score === 1000)
                  rScore = "1000";
               else if (pilot.group_score === 0)
                  rScore = "0";
               else
                  rScore = Number(pilot.group_score).toFixed(1);

               html += `<tr><td>${stringTruncate(pilot.first_name[0], 8)}.${pilot.last_name}</td><td>${timeFormat(pilot.fly_time)}</td><td>${pilot.distance}</td><td>${pilot.start_height}</td><td><b>${pilot.cd_validate ? rScore : '<i class="fa-solid fa-hourglass"></i>'}</b></td><tr>`;
               //console.log(pilot);
            }

            let line = document.getElementById(`ac_item_${key}`);
            if (line)
               line.innerHTML = html;
         }
      }

      /*
      function refreshScoreCard(data) {
         let idxPrefix = `${data.round_id}_${data.group_id}_${data.slot_id}`;
         let elt = document.getElementById(`gsc_${idxPrefix}`);
         elt.innerHTML = (data.group_score !== "") ? data.group_score.toFixed(1) : "-";
         elt = document.getElementById(`pen_${idxPrefix}`);
         elt.innerHTML = (data.group_penalty !== "") ? data.group_penalty : "-";
         elt = document.getElementById(`tsc_${idxPrefix}`);
         elt.innerHTML = (data.total_score !== "") ? data.total_score.toFixed(1) : "-";
         elt = document.getElementById(`tim_${idxPrefix}`);
         elt.innerHTML = (data.fly_time !== "") ? timeFormat(data.fly_time) : "-";
         elt = document.getElementById(`hei_${idxPrefix}`);
         elt.innerHTML = (data.distance !== "") ? data.distance : "-";
         elt = document.getElementById(`dis_${idxPrefix}`);
         elt.innerHTML = (data.start_height !== "") ? data.start_height : "-";
         elt = document.getElementById(`rank_${idxPrefix}`);
         elt.innerHTML = `${(data.group_rank !== "") ? ("00" + data.group_rank).slice(-2) : "--"}|${(data.final_rank !== "") ? ("00" + data.final_rank).slice(-2) : "--"}`;
      }

      function refreshScoreCards(data) {
         for (const entrant of data.score) {
            if (entrant.entrant_id === currentUser.entrant_id) {
               refreshScoreCard(entrant);
            }
         }
      }*/

      async function buildScoreCardsFromServer() {
         await fetch(`/api/v1/getScoreList?contest_id=${contestID}&is_flyoff=${currentIsFlyoff}&is_junior=${currentIsJunior}&pilot_id=${currentUser.entrant_id}`)
            .then(handleErrors)
            .then(result => {
               //scoreCache = result;
               buildScoreCards(result);
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onSleepChange() {
         if (noSleep.isEnabled) {
            noSleep.disable();
            $("#phoneLock").hide();
            $("#phoneUnlock").show();

            displayAlert({
               type: "success",
               icon: '<i class="fa-solid fa-moon"></i>',
               msg: `{{ lang en="Sleep mode enabled" fr="Mode veille activé" de="Schlafmodus aktiviert" es="Modo de reposo activado"}}`,
               autoHide: true
            });
         }
         else {
            noSleep.enable();
            $("#phoneLock").show();
            $("#phoneUnlock").hide();

            displayAlert({
               type: "success",
               icon: '<i class="fa-solid fa-sun"></i>',
               msg: `{{ lang en="Sleep mode disabled" fr="Mode veille désactivé" de="Ruhemodus deaktiviert" es="Modo de reposo desactivado" }}`,
               autoHide: true
            });
         }
      }

      //
      // onLoad init
      //

      $(async function () {
         noSleep = new NoSleep();
         if ("serviceWorker" in navigator)
            navigator.serviceWorker.register("/serviceWorker.js");

         await getSessionUserParams({ contestID: contestID })
            .then(async function (result) {
               $("#loginName").text(`${result.first_name} ${result.last_name}`);

               let defaultAudioMute = true;
               if (result.is_contest_director) {
                  speech = new RCSSpeech();
                  await speech.init();
                  defaultAudioMute = false;

                  let inputs = document.getElementsByClassName("show-if-cd");
                  for (let i = 0; i < inputs.length; i++)
                     inputs[i].hidden = false;
               }

               let urlPrepend = `?key=phone`;
               //urlPrepend += `?entrant_id=${currentUser.entrant_id}`, // for dedicated notification

               let bus = new RCSBus({
                  isSSL: result.ssl, port: result.ws_port,
                  urlPrepend: urlPrepend, 
                  state_change_cb: onWSChange,
                  error_cb: onWSError,
                  callbackList: [
                     { topic: RCSBus.RCS_WS_TOPIC_ROUND_CHANGED, cb: onRoundMessage },
                     { topic: RCSBus.RCS_WS_TOPIC_RESULT_CHANGED, cb: onResultChanged },
                     { topic: RCSBus.RCS_WS_TOPIC_FREE_POS_CHANGED, cb: onfreePosChanged }
                  ]
               });
               await bus.init();

               chrono = new RCSDigitalContestTimer({
                  defaultAudioMute: defaultAudioMute,
                  speech: speech,
                  bus: bus,
                  element: document.getElementById("virtual-timer"),
                  contest_id: contestID,
                  format_state: timerStateToString,
                  html: `<span id="dct.refligth" hidden></span>
                      <select id="dct.en"></select>
                      <select id="dct.de"></select>
                      <select id="dct.es"></select>`
               });


               try {
                  if (!result.is_contest_director)
                     chrono.onAudioSwitchChanged(false);
               } catch (error) {
                  console.log(error);
               }

               await getContestParameters(contestID)
                  .then(result => {
                     contestNotStarted = (Object.entries(result).length === 0);
                     if (contestNotStarted) {
                        notStartedAlert = displayAlert({
                           type: "warning",
                           msg: `{{ lang en="Contest is not started" fr="Le concours n'a pas commencé" de="Der Wettbewerb ist noch nicht gestartet" es="El concurso aún no ha comenzado"}}`,
                        });
                        return;
                     }

                     distanceUnit = result.distance_unit;
                     if (distanceUnit == "m") {
                        $("#distanceUnit").text("m");
                        $("#targetDistanceMeter").slider({
                           ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                           ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "+", "75+"],
                           ticks_snap_bounds: 30
                        });
                     }
                     else if (distanceUnit == "cm") {
                        $("#distanceUnit").text("cm");
                        $("#targetDistanceMeter").slider({
                           ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                           ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "+", "75+"],
                           ticks_snap_bounds: 30
                        });

                     } else {
                        $("#distanceUnit").text("points");
                        $("#targetDistanceMeter").slider({
                           ticks: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55],
                           ticks_labels: ["0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "75+"],
                           ticks_snap_bounds: 40
                        });
                     }

                     currentRoundID = parseInt(result.cur_round);
                     currentGroupID = parseInt(result.cur_group);
                     currentIsFlyoff = result.is_flyoff;
                     currentIsJunior = result.is_junior;
                     if (currentIsFlyoff)
                        groupPerRound = parseInt(result.flyoff_group);
                     else
                        groupPerRound = parseInt(result.qualif_group);
                     $("#contestName").text(stringTruncate(result.name, 19));

                     document.getElementById("dct.round").innerText = formatDigit(currentRoundID);
                     document.getElementById("dct.group").innerText = formatDigit(currentRoundID);
                  })
                  .catch(function (error) {
                     displayErrorMsg(error);
                  });

               await buildScoreCardsFromServer();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         fetch(`/api/v1/op/getEntrantTagList?contest_id=${contestID}`)
            .then(handleErrors)
            .then(result => {
               tagList = result;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         fetch(`/api/v1/getEntrantList?contest_id=${contestID}&role=pi&order_by=country`)
            .then(handleErrors)
            .then(result => {
               pilotTab = result;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         $("#targetDistanceMeter").on("change", function (slideEvt) {
            if (distanceUnit == "m")
               manageDistanceMeter(slideEvt);
            else if (distanceUnit == "cm")
               manageDistanceCentimeter(slideEvt);
            else
               manageDistancePoint(slideEvt);

            // bug fix slider()
            window.dispatchEvent(new Event("resize"));
         });

         $("#startHeight1").slider({
            ticks: [0, 1, 2, 3],
            ticks_labels: ["0", "1", "2", "3"],
            ticks_snap_bounds: 30
         });
         $("#startHeight1").on("change", function (slideEvt) {
            $("#sh").text(computeStartHeight());
         });

         $("#startHeight2").slider({
            ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
            ticks_snap_bounds: 30
         });

         $("#startHeight2").on("change", function (slideEvt) {
            $('#sh').text(computeStartHeight());
         });

         $("#startHeight3").slider({
            ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
            ticks_snap_bounds: 30
            //tooltip: "always"
         });

         $("#startHeight3").on("change", function (slideEvt) {
            $("#sh").text(computeStartHeight());
         });

         if (currentIsFlyoff) {
            $("#modalFlyTimeMin").slider({
               ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
               ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14"],
               ticks_snap_bounds: 30
            });
         }
         else {
            $("#modalFlyTimeMin").slider({
               ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
               ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
               ticks_snap_bounds: 30,
            });
         }

         $("#modalFlyTimeMin").on("change", function (slideEvt) {
            group_overtime_less1m = group_overtime_more1m = false;
            flyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(flyTime));
         });

         $("#modalFlyTimeSec1").slider({
            ticks: [0, 1, 2, 3, 4, 5],
            ticks_labels: ["0", "1", "2", "3", "4", "5"],
            ticks_snap_bounds: 30
         });
         $("#modalFlyTimeSec1").on("change", function (slideEvt) {
            group_overtime_less1m = group_overtime_more1m = false;
            flyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(flyTime));
         });

         $("#modalFlyTimeSec2").slider({
            ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
            ticks_snap_bounds: 30
         });
         $("#modalFlyTimeSec2").on("change", function (slideEvt) {
            group_overtime_less1m = group_overtime_more1m = false;
            flyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(flyTime));
         });

         $("#fly-params-tab").on("shown.bs.tab", function () {
            // buf fix slider()
            window.dispatchEvent(new Event("resize"));
         });
      });

      function computeStartHeight() {
         return $("#startHeight1").slider("getValue") * 100 +
            $("#startHeight2").slider("getValue") * 10 +
            $("#startHeight3").slider("getValue");
      }

      function computeFlyTime() {
         return $("#modalFlyTimeMin").slider("getValue") * 60 +
            $("#modalFlyTimeSec1").slider("getValue") * 10 +
            $("#modalFlyTimeSec2").slider("getValue");
      }

      function postFlyTimeModalDisplay(modalElt) {
         if (currentIsFlyoff)
            $("#modalFlyTimeMin").slider({
               ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
               ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14"],
               ticks_snap_bounds: 30
            });
         else
            $("#modalFlyTimeMin").slider({
               ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
               ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
               ticks_snap_bounds: 30
            });
         $("#modalFlyTimeMin").on("change", function () {
            let tempFlyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));
         });

         $("#modalFlyTimeSec1").slider({
            ticks: [0, 1, 2, 3, 4, 5],
            ticks_labels: ["0", "1", "2", "3", "4", "5"],
            ticks_snap_bounds: 30
         });
         $("#modalFlyTimeSec1").on("change", function () {
            let tempFlyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));
         });

         $("#modalFlyTimeSec2").slider({
            ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            ticks_labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
            ticks_snap_bounds: 30
         });
         $("#modalFlyTimeSec2").on("change", function () {
            let tempFlyTime = computeFlyTime();
            $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));
         });

         $("#msgModalOkButton").prop("disabled", false);

         $("#msgModal").on("shown.bs.modal", function () {
            // buf fix slider()
            window.dispatchEvent(new Event("resize"));
         });
      }

      function ceilCIAM(value) {
         return value;
      }

      function roundCIAM(value) {
         return value;
      }

      function calculatePoints(params) {
         let flyTime = params.fly_time;
         if (flyTime < 0)
            throw "fly time is negative";
         //bool isDistanceInMeter = (params.value("distance_unit") == "m") ? true : false;
         //int distance = floorCIAM(params.value("distance"));
         let distance = ceilCIAM(params.distance);
         if (distance < 0)
            throw "distance is negative";
         let startHeight = roundCIAM(params.start_height);
         if (startHeight < 0)
            throw "start height is negative";
         let isFlyOff = params.is_flyoff;
         let isCancel = params.group_cancel;
         let groupPenalty = params.group_penalty;
         let isRestartMotor = params.group_rm_penalty;
         let isOvertimeLess1min = params.group_overtime_less1m;
         let isOvertimeMore1min = params.group_overtime_more1m;
         let flyPoints;
         let heightDeduction;
         let landingBonus;
         let points;

         // See https://www.fai.org/sites/default/files/documents/sc4_vol_f5_electric_20.pdf

         // 5.5.11.7. Cancellation of a flight and/or disqualification
         // The Flight is cancelled and recorded as a zero score

         // 5.5.11.1.3 iii) To reset the start height displayed to “---” if the motor is restarted at any time during the flight.
         // 5.5.11.7. Cancellation of a flight and/or disqualification
         // e) the AMRT does not record any Start Height data.

         if (isCancel || isRestartMotor) {
            params.flight_point = 0;
            params.height_deduction = 0;
            params.landing_bonus = 0;
            params.group_points = 0;

            return;
         }

         // 5.5.11.12. Scoring
         // b) The flight time in seconds, must be rounded down to the nearest second.
         flyPoints = flyTime;

         // c) One point will be awarded for each full second of flight within the Working Time,
         // up to a maximum of 600 points (ie 10 minutes maximum) for the preliminary rounds or
         // 900 points (ie15 minutes maximum) for the Fly-off rounds.
         let maxFlyTime = isFlyOff ? 15 * 60 : 10 * 60;
         if (flyPoints > maxFlyTime)
            flyPoints = maxFlyTime;

         // 5.5.11.7. Cancellation of a flight and/or disqualification
         // d) during landing, the nose of the model aircraft does not come to rest within 75 meters of the centre of the competitor's designated landing spot;

         // 5.5.11.12 Scoring
         // g) A zero score will be recorded for overflying the end of the Group's Working Time by more than one (1) minute.

         if ((distance > 75.0) || (flyTime > (maxFlyTime + 60)) || isOvertimeMore1min) {
            params.flight_point = 0;
            params.height_deduction = 0;
            params.landing_bonus = 0;
            params.group_points = 0;

            return;
         }

         // d) The recorded Start Height in metres shall be rounded down to the nearest metre.
         // e) Each metre of the recorded Start Height results in a deduction of half (0,5) a point
         // up to 200m and three (3) points above it.
         if (startHeight > 200)
            heightDeduction = 200 * 0.5 + (startHeight - 200) * 3.0;
         else
            heightDeduction = startHeight * 0.5;

         landingBonus = 0;

         if ((distance >= 0) && (distance <= 10)) {
            /*
               h) A landing bonus will be awarded in accordance with distance from the
                  launch/landing spot marked by the Organisers according to the following tabulation:
                Distance (m)   Points
                  Up to 1        50
                  2              45
                  3              40
                  4              35
                  5              30
                  6              25
                  7              20
                  8              15
                  9              10
                  10             5
                  over 10        0
            */
            if (distance <= 1)
               landingBonus = 50;
            else if (distance <= 2)
               landingBonus = 45;
            else if (distance <= 3)
               landingBonus = 40;
            else if (distance <= 4)
               landingBonus = 35;
            else if (distance <= 5)
               landingBonus = 30;
            else if (distance <= 6)
               landingBonus = 25;
            else if (distance <= 7)
               landingBonus = 20;
            else if (distance <= 8)
               landingBonus = 15;
            else if (distance <= 9)
               landingBonus = 10;
            else if (distance <= 10)
               landingBonus = 5;
         }

         // k) No landing bonus will be awarded if the model aircraft overflies the end of the Working Time for the Group
         if ((flyTime > maxFlyTime) || isOvertimeLess1min)
            landingBonus = 0;

         points = flyPoints - heightDeduction + landingBonus - groupPenalty;

         // f) Where the score is negative (below zero), a zero score will be recorded.
         // Note that any penalty points applied in the round will remain effective. (5.5.10.12.10).
         if (points < 0)
            points = 0;

         params.flight_point = flyPoints;
         params.height_deduction = heightDeduction;
         params.landing_bonus = landingBonus;
         params.group_points = points;
      }

      function collectInputScore() {
         let errors = [];
         if (flyTime == undefined && !group_overtime_less1m && !group_overtime_more1m) {
            errors.push({ field: "fly_time", msg: "Fly time is not undefined" });
         }

         let distance = $("#targetDistanceMeter").slider("getValue");
         if (distance == 12)
            distance = 76; // position 12 on slider means 76 m

         let startHeight = computeStartHeight();
         if (startHeight === 0) {
            let error = { field: "start_height" };
            error.msg = "{{ lang en='start height could not be null' fr='la hauteur de départ ne peut pas être nulle' de='Starthöhe konnte nicht null sein' es='Starthöhe konnte nicht null sein'}}";
            errors.push(error);
         }

         let data = {
            distance: distance,
            start_height: startHeight,
            group_penalty: 0,
            group_cancel: false,
            group_rm_penalty: false
         };

         if (group_overtime_less1m)
            data.group_overtime_less1m = true;
         else if (group_overtime_more1m)
            data.group_overtime_more1m = true;
         else
            data.fly_time = flyTime;

         return { data: data, errors: errors };
      }

      async function postScoreModalDisplay() {
         let noMoreMissingEntry = false;
         await fetch(`/api/v1/getMissingScore?contest_id=${contestID}&is_flyoff=${currentIsFlyoff}&is_junior=${currentIsJunior}`)
            .then(handleErrors)
            .then(result => {
               if (result.length === 0)
                  noMoreMissingEntry = true;
               let naOption = $("<option>", { value: -1, text: "{{ lang en='Not allowed' fr='Non autorisé' de='Nicht erlaubt' es='No autorizado'}}" });
               $("#modalContestRound").append(naOption);
               for (const item of result) {
                  let v = `${item.round_id}-${item.group_id}`;
                  let t = `{{ lang en="R" fr="M" de="R" es="R"}}${item.round_id + 1} G${item.group_id + 1} {{ lang en="S" fr="C" de="S" es="S"}}${item.slot_id + 1}`;
                  let option = $("<option>", { value: v, text: t });
                  if (item.input_allowed) {
                     option.prop('disabled', false);
                     option.prop('selected', true);
                     naOption.prop('disabled', true);
                  }
                  else
                     option.prop('disabled', true);

                  $("#modalContestRound").append(option);
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         let d = collectInputScore();
         if (noMoreMissingEntry)
            d.errors.push({ field: "round", msg: "All is full up" });
         if (d.errors.length > 0) {
            $("#msgModalOkButton").prop("disabled", true);
            for (const error of d.errors)
               $("#err_" + error.field).html(`<i class="fas fa-exclamation-circle" style="color:#fba6a6;padding-left:5px;"></i>`);
         } else
            $("#msgModalOkButton").prop("disabled", false);

         let params = { fly_time: d.data.fly_time, distance: d.data.distance, start_height: d.data.start_height, group_penalty: 0 };
         calculatePoints(params);
         $("#modalPointsEstim").text(params.group_points);
         $("#modalDistance").text(d.data.distance + ' m');
         $("#modalStartHeight").text(d.data.start_height);
         if (d.data.group_overtime_less1m)
            $("#modalFlyTime").text("[10,11] min");
         else if (d.data.group_overtime_more1m)
            $("#modalFlyTime").text("> 11 min");
         else
            $("#modalFlyTime").text(timeFormat(d.data.fly_time));
      }

      function onCheckInputScoreGood() {
         displayModalMsg({
            type: "info",
            title: "{{ lang en='Propose' fr='Proposer' de='Vorschlagen' es='Proponer'}}",
            message:
               `<span class="font-weight-bold">{{ lang en="Your flight parameters are" fr="Vos paramètres de vol sont" de="Ihre Flugparameter sind" es="Sus parámetros de vuelo son"}} :</span><br><br>
               <div>
                  <table class="table table-sm table-striped">
                     <tr>
                        <td>{{ lang en="Round-group-lane" fr="Manche-groupe-cible" de="Runde-Gruppe-slot" es="Redondo-grupo-Carril" }}</td>
                        <td id="err_round"></td>
                        <td><select class="custom-select" id="modalContestRound"></select></td>
                     </tr>
                     <tr>
                        <td>{{ lang en="Fly time" fr="Temps vol" de="Flugzeit" es="Tiempo de vuelo" }}:</td>
                        <td id="err_fly_time"></td>
                        <td><b><span id="modalFlyTime"></span></b></td>
                     </tr>
                     <tr>
                        <td>{{ lang en="Distance to target" fr="Distance à la cible" de="Distanz zum Ziel" es="Distancia al objetivo"}}:</td>
                        <td id="err_distance"></td>
                        <td><b><span id="modalDistance"></span></b></td>
                     </tr>
                     <tr>
                        <td>{{ lang en="Start height" fr="Hauteur de départ" de="Starthöhe" es="Altura inicial"}}:</td>
                        <td id="err_start_height"></td>
                        <td><b><span id="modalStartHeight"></span> m</b></td>
                     </tr>
                     <tr>
                        <td>{{ lang en="Points estimated" fr="Points estimés" de="Geschätzte Punkte" es="Puntos estimados"}}:</td>
                        <td></td>
                        <td><b><span id="modalPointsEstim"></span> pts</b></td>
                     </tr>
                  </table>
                  <div id="modalSendStatusDiv" class="alert fade show" style="display:none;margin:1em;" role="alert">
                     <span id="modalSendStatus"></span>
                  </div>
               </div>
               `,
            post_display_callback: function () { postScoreModalDisplay(); },
            ok_callback: function () { sendValidateInputScore(); },
            showCancel: true,
            ok_label: `<i class="fa-solid fa-square-arrow-up-right"></i>&nbsp;{{ lang en="Send" fr="Envoyer" de="Senden" es="Enviar"}}`,
            ok_no_dismiss: true
         });
      }

      async function sendValidateInputScore() {
         let rg = document.getElementById("modalContestRound").value;
         if (!rg)
            return;

         rg = rg.split("-");
         let roundID = rg[0];
         let groupID = rg[1];
         let d = collectInputScore();
         if (d.errors.length > 0) {
            displayAlert({
               type: "error",
               msg: `{{ lang en="Error, can not sent to server"}}`,
               divElt: $("#modalSendStatusDiv"),
               spanElt: $("#modalSendStatus"),
            });
            return;
         }

         displayAlert({
            type: "warning",
            msg: `{{ lang en="Score proposal is prepared to sent to server" fr="La proposition de score est préparée pour être envoyée au serveur" de="Notenvorschlag wird vorbereitet und an den Server gesendet" es="La propuesta de puntuación está preparada para ser enviada al servidor"}}`,
            divElt: $("#modalSendStatusDiv"),
            spanElt: $("#modalSendStatus"),
            autoHide: true
         });

         await fetch(`/api/v1/addPilotInput?contest_id=${contestID}&round_id=${roundID}&group_id=${groupID}&is_flyoff=${currentIsFlyoff}&is_junior=${currentIsJunior}`, {
            headers: {
               "Accept": "application/json",
               "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify(d.data)
         })
            .then(handleErrors)
            .then(async result => {
               displayAlert({
                  type: "warning",
                  msg: `{{ lang en="Sending is pending" fr="Envoi en cours" de="Der Versand steht noch aus" es="El envío está pendiente"}}`,
                  divElt: $("#modalSendStatusDiv"),
                  spanElt: $("#modalSendStatus"),
                  autoHide: true
               });
               await fetch(`/api/v1/validateResult?contest_id=${contestID}&uuid=${result.uuid}&accept=true`)
                  .then(handleErrors)
                  .then(result => {
                     displayAlert({
                        type: "success",
                        msg: `{{ lang en="Sending is take into account" fr="L'envoi est pris en compte" de="Das Senden ist zu berücksichtigen" es="El envío se tiene en cuenta"}}`,
                        divElt: $("#modalSendStatusDiv"),
                        spanElt: $("#modalSendStatus"),
                        autoHide: true,
                        timeout: 3000,
                        callbackOnHide: function () { $("#msgModal").modal("toggle"); }
                     });
                  })
                  .catch(function (error) {
                     displayAlert({
                        type: "error",
                        msg: error,
                        divElt: $("#modalSendStatusDiv"),
                        spanElt: $("#modalSendStatus"),
                     });
                  });
            })
            .catch(function (error) {
               displayAlert({
                  type: "error",
                  msg: error,
                  divElt: $("#modalSendStatusDiv"),
                  spanElt: $("#modalSendStatus"),
               });
            });
      }

      function setFlyTimeOver(value) {
         group_overtime_less1m = false;
         group_overtime_more1m = true;
         $("#modalCurrentFlyTime").text(">11");
      }

      function setDistanceOver(value) {
         group_more_75m = false;
         if (value == 11) {
            $("#targetDistanceMeter").slider("setValue", 11);
            $("#dist").text("[10.1-75]");
         } else if (value == 12) {
            $("#dist").text("75+");
            group_more_75m = true;
         }
      }

      function setStartHeightOver() {
         $("#startHeight1").slider("setValue", 9);
         $("#startHeight2").slider("setValue", 9);
         $("#startHeight3").slider("setValue", 9);
         $("#sh").text("--");
      }

      function onNormalTime() {
         $("#flyTimeSliderSet").show();
         $("#flyTimeOver").hide();

         $("#targetDistanceSliderSet").show();
         $("#targetDistanceOver").hide();

         $("#startHeightSliderSet").show();
         $("#startHeightOver").hide();

         let tempFlyTime = computeFlyTime();
         $("#modalCurrentFlyTime").text(timeFormat(tempFlyTime));

         group_overtime_less1m = false;
         group_overtime_more1m = false;

         // buf fix slider()
         window.dispatchEvent(new Event("resize"));
      }

      function onOvertimeLess1m() {
         $("#flyTimeSliderSet").hide();
         $("#flyTimeOver").show();
         let time = currentIsFlyoff ? "[16,17]" : "[10,11]";
         $("#flyTimeOverMsg").html(`{{ lang en='Overtime<br> ${time} min' fr='Hors temps<br> ${time} min' de='Aus Zeit<br> ${time} min' es='Fuera tiempo<br> ${time} min'}}`);
         $("#modalCurrentFlyTime").text("[10,11]");

         $("#targetDistanceSliderSet").hide();
         $("#targetDistanceOver").show();
         $("#targetDistanceOverMsg").html(`{{ lang en='Overtime' fr='Hors temps' de='Aus Zeit' es='Fuera de tiempo'}}`);
         setDistanceOver(11);

         $("#startHeightSliderSet").show();
         $("#startHeightOver").hide();

         group_overtime_less1m = true;
         group_overtime_more1m = false;

         // buf fix slider()
         window.dispatchEvent(new Event("resize"));
      }

      function onOvertimeMore1m() {
         $("#flyTimeSliderSet").hide();
         $("#flyTimeOver").show();
         let time = currentIsFlyoff ? "17" : "11";
         let msg = `{{ lang en='Overtime<br>> ${time} min' fr='Hors temps<br>> ${time} min' de='Aus Zeit<br>> ${time} min' es='Fuera tiempo<br>> ${time} min'}}`;
         $("#flyTimeOverMsg").html(msg);
         $("#modalCurrentFlyTime").text(">11");

         $("#targetDistanceSliderSet").hide();
         $("#targetDistanceOver").show();
         $("#targetDistanceOverMsg").html(`{{ lang en='Overtime' fr='Hors temps' de='Aus Zeit' es='Fuera de tiempo'}}`);
         setDistanceOver(12);

         $("#startHeightSliderSet").hide();
         $("#startHeightOver").show();
         $("#startHeightOverMsg").html(msg);
         setStartHeightOver();

         group_overtime_less1m = false;
         group_overtime_more1m = true;

         // buf fix slider()
         window.dispatchEvent(new Event("resize"));
      }


      function getSelectValues(select) {
         let ret = [];

         for (const option of select.options) {
            if (option.selected) {
               ret.push(parseInt(option.value));
            }
         }
         return ret;
      }

      function rankNameFilterChanged(elt) {
         let filterEntrants = getSelectValues(elt);

         //generalPilotsRank.options.plugins.legend.display = !filterEntrants.includes(-1);

         for (let pilot of generalPilotsRank.data.datasets) {
            if (filterEntrants.includes(pilot.pilot_id) || filterEntrants.includes(-1)) {
               pilot.hidden = false;
            } else {
               pilot.hidden = true;
            }
         }
         generalPilotsRank.update();
      }

      function postGraphFilterModalDisplay() {
         for (const tagLabel of tagList) {
            if (tagLabel)
               $("#tagFilter").append($("<option>", { value: tagLabel, text: tagLabel }));
         }
      }

      function applyGraphFilter() {
         let filterEntrants = [];
         let elts = document.getElementsByClassName("graph-filter-check");
         for (let elt of elts) {
            if (elt.checked)
               filterEntrants.push(parseInt(elt.value));
         }

         if (generalPilotsRank && generalPilotsRank.data) {
            for (let pilot of generalPilotsRank.data.datasets) {
               if (filterEntrants.includes(pilot.pilot_id) || filterEntrants.includes(-1)) {
                  pilot.hidden = false;
               } else {
                  pilot.hidden = true;
               }
            }
            generalPilotsRank.update();
         }

         $("#msgModal").modal("toggle");
      }

      function onGraphFilterInputChange(elt) {
         for (let child of elt.childNodes) {
            if (child.nodeName == "INPUT") {
               child.checked = !child.checked;
               elt.style.background = child.checked ? "#017dde" : "";
               elt.style.color = child.checked ? "#fff" : "";
            }
         }
      }

      function graphFilterAsk() {
         let listContent = "";
         let idx = 0;
         for (let pilot of pilotTab) {
            let cca2 = pilot.locale.split("-")[1];
            listContent += `<li class="list-group-item" onclick="onGraphFilterInputChange(this)">
               <input class="custom-checkbox-no-tick graph-filter-check" type="checkbox" value="${pilot.id}" id="nameGraphFilterCheck${idx} onchange="onGraphFilterInputChange(this)">
               <label for="nameGraphFilterCheck${idx}">`;
            listContent += `<span><img src='/json/countries/data/w40/${cca2.toLowerCase()}.png' class='country-flag-md'>&nbsp;${pilot.first_name}&nbsp;${pilot.last_name}</span>`;
            listContent += `</label></li>`;
            idx++;
         }

         displayModalMsg({
            type: "info",
            title: "{{ lang en='Filters' fr='Filtres' de='Filter' es='Filtros'}}",
            message:
               `
               <i class="fa-solid fa-tag"></i>&nbsp;<span class="font-weight-bold">{{ lang en="By tag" fr="Par étiquette" de="Mit Tag" es="Por etiqueta"}} :</span>
               <select id="tagFilter" class="col custom-select">
                  <option value="all">{{ lang en="All" fr="Tous" de="Alle" es="Todo" }}</option>
               </select><br><br>
               <span class="font-weight-bold">{{ lang en="By type" fr="Par type" de="Nach Typ" es="Por tipo"}} :</span>
               <select id="chooseResultType" class="col custom-select">
                  <option value="qualif">Qualification</option>
                  <option value="flyoff">Flyoff</option>
               </select><br><br>
               <i class="fa-solid fa-user-group"></i>&nbsp;<span class="font-weight-bold">{{ lang en="By Name" fr="Par Nom" de="Nach Name" es="Por Nombre"}} :</span>
               <ul class="list-group">${listContent}</ul>
               `,
            post_display_callback: function () { postGraphFilterModalDisplay(); },
            ok_callback: function () { applyGraphFilter(); },
            showCancel: true,
            ok_label: `<i class="fa-solid fa-square-arrow-up-right"></i>&nbsp;{{ lang en="Apply" fr="Appliquer" de="Bewerbung" es="Aplicar"}}`,
            ok_no_dismiss: true
         });
      }

   </script>
</body>

</html>