/*!
   RCS copyright 2019-2021: RCS authors

   based on SB Admin 2 v4.1.3 & Bootstrap v4.5.3
*/

:root {
   --blue: #017dde;
   --blue-dark: #016dc0;
   --primary: var(--blue);

   --wcs-color: #fad4d4;
   --ccs-color: #fad4d4;
   --wcc-color: #ffe3c4;
   --ccc-color: #ffe3c4;
   --nat-color: #baffb1;
   --loc-color: #e4d2ff;
   --met-color: #d0dffb;
   --exa-color: #fff9a9;
   --tra-color: #f9e5fc;
   --unk-color: #d9d9d9;
}

/*
   overload bootstrap/sb admin CSS
*/

a {
   color: var(--blue);
   text-decoration: none;
   background-color: transparent;
}

a:hover {
   color: var(--blue-dark);
   text-decoration: underline;
}

.btn-primary {
   color: #fff;
   background-color: var(--blue);
   border-color: var(--blue);
}

.btn-primary:hover {
   color: #fff;
   background-color: var(--blue-dark);
   border-color: #2653d4;
}

.btn-primary.disabled,
.btn-primary:disabled {
   color: #fff;
   background-color: var(--blue);
   border-color: var(--blue);
}

.btn-outline-primary {
   color: var(--blue);
   border-color: var(--blue);
}

.btn-outline-primary:hover {
   color: #fff;
   background-color: var(--blue);
   border-color: var(--blue);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
   color: var(--blue);
   background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
   color: #fff;
   background-color: var(--blue);
   border-color: var(--blue);
}

.btn-link {
   font-weight: 400;
   color: var(--blue);
   text-decoration: none;
}

.btn-link:hover {
   color: var(--blue-dark);
   text-decoration: underline;
}

.dropdown-item.active,
.dropdown-item:active {
   color: #fff;
   text-decoration: none;
   background-color: var(--blue);
}

.custom-control-input:checked~.custom-control-label::before {
   color: #fff;
   border-color: var(--blue);
   background-color: var(--blue);
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
   border-color: var(--blue);
   background-color: var(--blue);
}

.custom-range::-webkit-slider-thumb {
   width: 1rem;
   height: 1rem;
   margin-top: -0.25rem;
   background-color: var(--blue);
   border: 0;
   border-radius: 1rem;
   -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   -webkit-appearance: none;
   appearance: none;
}

.custom-range::-moz-range-thumb {
   width: 1rem;
   height: 1rem;
   background-color: var(--blue);
   border: 0;
   border-radius: 1rem;
   -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   -moz-appearance: none;
   appearance: none;
}

.custom-range::-ms-thumb {
   width: 1rem;
   height: 1rem;
   margin-top: 0;
   margin-right: 0.2rem;
   margin-left: 0.2rem;
   background-color: var(--blue);
   border: 0;
   border-radius: 1rem;
   -ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   appearance: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
   color: #fff;
   background-color: var(--blue);
}

.page-link {
   position: relative;
   display: block;
   padding: 0.5rem 0.75rem;
   margin-left: -1px;
   line-height: 1.25;
   color: var(--blue);
   background-color: #fff;
   border: 1px solid #dddfeb;
}

.page-link:hover {
   z-index: 2;
   color: var(--blue-dark);
   text-decoration: none;
   background-color: #eaecf4;
   border-color: #dddfeb;
}

.page-item.active .page-link {
   z-index: 3;
   color: #fff;
   background-color: var(--blue);
   border-color: var(--blue);
}

.badge-primary {
   color: #fff;
   background-color: var(--blue);
}

/*
.progress-bar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: hidden;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   background-color: var(--blue);
   transition: width 0.6s ease;
}*/

.list-group-item.active {
   z-index: 2;
   color: #fff;
   background-color: var(--blue);
   border-color: var(--blue);
}

.bg-primary {
   background-color: #4e73df !important;
}

.border-primary {
   border-color: #4e73df !important;
}

.text-primary {
   color: #4e73df !important;
}

a.text-primary:hover,
a.text-primary:focus {
   color: var(--blue-dark) !important;
}

.bg-gradient-primary {
   background-color: var(--blue);
   background-image: linear-gradient(180deg, var(--blue) 10%, #0263af 100%);
   background-size: cover;
}

.border-left-primary {
   border-left: 0.25rem solid #4e73df !important;
}

.border-bottom-primary {
   border-bottom: 0.25rem solid #4e73df !important;
}

.topbar .dropdown-list .dropdown-header {
   background-color: var(--blue);
   border: 1px solid var(--blue);
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #fff;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
   color: var(--blue);
   font-weight: 700;
}

.error:before {
   content: attr(data-text);
   position: absolute;
   left: -2px;
   text-shadow: 1px 0 var(--blue);
   top: 0;
   color: #5a5c69;
   background: #f8f9fc;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/*
   RCS specific
*/

.bg-login-image {
   background: url("/image/rc/rc6.png");
   background-position: center;
   background-size: cover;
}

.bg-register-image {
   background: url("/image/rc/rc5.jpg");
   background-position: center;
   background-size: cover;
}

.bg-password-image {
   background: url("/image/rc/rc4.jpg");
   background-position: center;
   background-size: cover;
}

footer.sticky-footer {
   padding: 2rem 0;
   flex-shrink: 0;
}

footer.sticky-footer .copyright {
   line-height: 1;
   font-size: 0.8rem;
}

body.sidebar-toggled footer.sticky-footer {
   width: 100%;
}

/*
  Calendar
*/

.calendar-wish {
   padding-left: 0.25em;
   padding-right: 0.25em;
   border-radius: 0.3rem;
   border: 1px solid #A0A0A0;
}

.calendar-bg-wcs {
   background: var(--wcs-color);
}

.calendar-fg-wcs {
   color: var(--wcs-color);
}

.calendar-bg-ccs {
   background: var(--ccs-color);
}

.calendar-fg-ccs {
   color: var(--ccs-color);
}

.calendar-bg-wcc {
   background: var(--wcc-color);
}

.calendar-fg-wcc {
   color: var(--wcc-color);
}

.calendar-bg-ccc {
   background: var(--ccc-color);
}

.calendar-fg-ccc {
   color: var(--ccc-color);
}

.calendar-bg-nat {
   background: var(--nat-color);
}

.calendar-fg-nat {
   color: var(--nat-color);
}

.calendar-bg-loc {
   background: var(--loc-color);
}

.calendar-fg-loc {
   color: var(--loc-color);
}

.calendar-bg-met {
   background: var(--met-color);
}

.calendar-fg-met {
   color: var(--met-color);
}

.calendar-bg-exa {
   background: var(--exa-color);
}

.calendar-fg-exa {
   color: var(--exa-color);
}

.calendar-bg-tra {
   background: var(--tra-color);
}

.calendar-fg-tra {
   color: var(--tra-color);
}

.calendar-bg-unknown {
   background: var(--unk-color);
}

.calendar-fg-unknown {
   color: var(--unk-color);
}

.calendar-bg-more-one {
   background:
      /* On "top" */
      repeating-linear-gradient(45deg, transparent, transparent 5px, #dfd8b8 5px, #dfd8b8 9px),
      /* on "bottom" */
      linear-gradient(to bottom, #ece9a7, #f2efaa);
}

/*
  tippy in calendar
*/

.tippy-tooltip.rcs-theme {
   background-color: #4d4d4d;
   color: #ebebeb;
}

.event-tooltip-content {
   padding-top: 3px;
   padding-left: 1em;
   padding-right: 1em;
}

.event-tooltip-content:not(:last-child) {
   border-bottom: 1px solid #777676;
   margin-bottom: 3px;
   padding-bottom: 9px;
}

.event-name a {
   color: #ebebeb;
   text-decoration: none;
   background-color: transparent;
}

.event-name .badge a {
   color: #000;
   text-decoration: none;
   background-color: transparent;
}

.event-name .badge a:hover {
   color: #363636;
   text-decoration: underline;
}

.event-name a:hover {
   color: #c0c0c0;
   text-decoration: underline;
}

/*
.event-name-text {
   color: #000;
   text-decoration: none;
}

.event-name-text:hover {
   color: #363636;
   text-decoration: underline;
}*/

.event-button {
   font-size: 0.7rem;
   padding: 0.1rem;
   margin: 0rem;
}

.event-registration-details {
   color: #000000;
   background-color: #d5fbd0;
   vertical-align: 1px;
}

.event-forecast-details {
   color: #000000;
   background-color: #f6db95;
   vertical-align: 1px;
}

.event-in-progress-details {
   color: #000000;
   background-color: #afe6fe;
   /*text-decoration: line-through;*/
   vertical-align: 1px;
}

.event-cancel-details {
   color: #000000;
   background-color: #feafaf;
   /*text-decoration: line-through;*/
   vertical-align: 1px;
}

.event-postponed-details {
   color: #000000;
   /*background-color: #d8d8d8;
   text-decoration: line-through;*/
   background: linear-gradient(-45deg, #888888 25%, #f6db95 25%, #f6db95 50%, #888888 50%, #888888 75%, #f6db95 75%, #f6db95);
   background-size: 9px 9px;
   vertical-align: 1px;
}

.event-complete-details {
   color: #000000;
   background-color: #b4b4b4;
   /*text-decoration: line-through;*/
   vertical-align: 1px;
}

.event-regular-details {}


.custom-checkbox-no-tick {
   display: none;
}

.custom-checkbox-no-tick:checked+label {
   background: var(--primary);
   color: #fff;
 }



.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
   display: none;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
   display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked~.unchecked {
   display: none;
}

.a-add-wishlist {
   color: #fa9595;
   text-decoration: none;
   background-color: transparent;
}

.a-add-wishlist:hover {
   color: #f77777;
   text-decoration: underline;
}

.a-add-wishlist-disabled {
   color: #757575;
   text-decoration: none;
   background-color: transparent;
}

.a-add-wishlist-disabled:hover {
   color: #757575;
   text-decoration: underline;
}

/* CKEditor 5 */

.ck.ck-editor__editable>.ck-placeholder::before {
   color: #858796;
}

/* Entrant register to a contest or a club */

.entrant-waitlist,
.entrant-club-president,
.access-club-afternoon {
   background: #fae4ab;
}

.entrant-contest-dir,
.entrant-club-organizer,
.access-club-morning {
   background: #d0e9fb;
}

.entrant-helper {
   background: #d1ffd4;
}

.access-club-day {
   background: #f9dbdb;
}

.entrant-cancellation,
.entrant-club-reject {
   background: #f9dbdb;
   text-decoration: line-through;
}

.entrant-registration {
   color: #fcfcfc;
   background: var(--primary);
   /*font-weight: bolder;*/
}

.contest-op-active {
   opacity: 1.0;
}

.contest-op-inactive {
   opacity: 0.3;
}

.editable-cell {
   background: #e7f9e0;
   border: 0px;
}
.editable-cell input {
   border: 1px solid #9fd689;
}

.edited-cell {
   background: #ffbf60;
}

.score-table tbody td {
   text-align: center;
   padding: 0.2rem;
}

.score-table thead th {
   text-align: center;
}

.error-cell {
   background: #fae6e6;
}

.warning-cell {
   background: #ededed;
}

.remain-4days {
   /* color: #f1e0e0; */
   background: #f9f8db;
   /* font-weight: bolder; */
}

.remain-2days {
   /* color: #f1e0e0; */
   background: #f9dbdb;
   /* font-weight: bolder; */
}

.remain-0days {
   color: #ff8652;
   background: #fcdcce;
   /* font-weight: bolder; */
}

.remain-nadays {
   color: #ffffff;
   background: #f4f4f4;
   /* font-weight: bolder; */
}

.draw-slot-th {
   text-align: center;
}

.draw-pilot-th {
   text-align: center;
}

.draw-freq-th {
   text-align: center;
}

.draw-slot-td {
   text-align: center;
   /*font-size: 0.7rem;*/
}

.draw-pilot-td {
   /*font-size: 0.7rem;*/
   text-overflow: ellipsis;
}

.draw-freq-td {
   /*font-size: 0.7rem;*/
}

.btn-chrono {
   width: 100%;
   /*height: 60px;*/
   font-size: 2.2rem;
   border-radius: 1.5rem;
}

.title-error {
   color: #e75d5d;
   font-weight: bolder;
}

.title-success {
   color: #1cc88a;
   font-weight: bolder;
}

.title-info {
   color: #36b9cc;
   font-weight: bolder;
}

.title-question {
   color: #858796;
   font-weight: bolder;
}

.form-select-inline {
   display: inline-flex;
   align-items: center;
   padding-left: 0;
   margin-right: 0.75rem;
}

.contest-map {
   width: 100%;
   height: 300px;
}

.contest-note {
   background: #ebecf4;
   padding-left: 0.25em;
   padding-right: 0.25em;
   border-radius: 0.5rem;
}

.btn.active {
   background: #cccccc;
}

.table-legend {
   font-size: 0.8rem;
   /*  border-color: #e3e4e6;
  border-style: solid;
  border-width: 1px; */
   float: right;
   padding: 5px;
   border-radius: 0.3rem;
}

.item-legend {
   padding-left: 0.25em;
   padding-right: 0.25em;
   border-radius: 0.3rem;
}

.popper-badge {
   background: #c5dcfe;
   font-size: .7rem;
   padding: 0.2rem;
   border-radius: 0.2rem;
}

.country-flag {
   width: 25px;
   height: 16px;
}

.country-flag-lg {
   width: 33px;
   height: 22px;
   margin-bottom: 3px;
}

.country-flag-md {
   width: 20px;
   height: 13px;
   border: 1px solid #dfdfdf;
   margin-bottom: 2px;
}

.country-flag-sm {
   width: 16px;
   height: 11px;
   margin-bottom: 3px;
   border: 1px solid #c9c9c9;
}

.euro-tour-filter {
   color: #4b4ec1;
}

.usa-tour-filter {
   color: #86c14b;
}

.compet-group {
   padding-top: 0.50em;
   padding-bottom: 0.50em;
   padding-left: 0.25em;
   padding-right: 0.25em;
}

.active-compet-group {
   background-image: linear-gradient(210deg, #fbf7ff 10%, #f4eafd 100%);
   border: 1px solid;
   border-radius: 6px;
}

.active-refly-group {
   background-image: linear-gradient(180deg, #fcefef 10%, #fbdddd 100%);
   border: 1px solid;
   border-radius: 6px;
}

.active-compet-group-mobile {
   background-color: #e4ccff;
}

.active-compet-group-accordion-header {
   background-color: #f2e7fe;
}

.active-compet-next-group-accordion-header {
   background-color: #fefee7;
}

.pasted-compet-accordion-header {
   background-color: #f2f2f2;
}

.compet-group-title {
   font-size: 1.4em;
   font-weight: bold;
   padding-left: 0.25em;
}

.compet-time-state {
   font-size: 1.1rem;
   font-weight: bold;
}

.active-compet-state {
   background: #e8dbf7;
}

/*
   Broadcast
*/

.broadcast-table {
   color: white;
}

.broadcast-time {
   padding-left: 0.25em;
   padding-right: 0.25em;
   background: #000000;
   font-size: 4em;
   color: #ffffff;
}

.broadcast-rank-item {
   /*background: #272927;*/
   color: white;
   box-sizing: border-box;
   padding: 5px;
   margin-bottom: 8px;
}

.broadcast-rank-pilotname {
   margin-bottom: -1px;
}

.broadcat-score-total-item {
   font-weight: bold;
}

.broadcat-score-group-item {
   font-size: 0.8em;
}

/*
   Digital Contest Timer
*/

.dct-frame {
   min-width: 17rem;
   max-width: 22rem;
   background-color: #000000;
   padding: 1rem;
}

.dct-time {
   padding-left: 0.25em;
   padding-right: 0.25em;
   background: #000000;
   font-size: 4em;
   color: #ffffff;
}

.dct-reflight {
   color: #ffffff;
}

.dct-state {
   float: right;
   color: #ffffff;
}

.dct-round {
   color: #ffffff;
}

.dct-group {
   color: #ffffff;
   float: right;
}

.dct-lang-select {
   width: 100%;
   max-width: 20rem;
   color: #858585;
}

.dct-lang-collapse {
   margin-top: 1rem;
   margin-right: 0rem;
   margin-left: 0rem;
}

.dct-hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid #3a3a3a;
}

.pilot-rank-chart {
   width: 100%;
   height: 300px;
}

.bg-validation {
   background-color: #bfe2bf;
   color: #000000;
}

.bg-even-group {
   background-color: #F3F3F3;
}

.worse-score {
   color: #fba6a6;
   /*background: #f9dbdb;*/
   text-decoration: line-through;
}

.removed-score {
   color: #e3a6fb;
   /*background: #f9dbdb;*/
   text-decoration: line-through;
}

.pasted-score {
   background: #eeeeee;
}

.flytime-over,
.distance-over,
.startheight-over {
   /*
   text-align: center;
   color: #000000;
   */
   font-size: 2rem;
   font-weight: bold;
   width: 100%;
}

.rcs-modal-header {
   background-color: #f3f3f3;
}

.login-title {
   color: #4e4e4e;
   font-weight: bold;
   font-size: 1.2em;
   vertical-align: sub;
}

.error-stack-msg {
   font-size: 0.8rem;
   font-weight: 400;
   color: #858585;
}

.input-licence {
   width: 7rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #6e707e;
   border: 1px solid #d1d3e2;
   border-radius: 0.35rem;
}

.label-licence {
   font-size: 1rem;
   font-weight: 400;
}

.disabled-label{
   color: #c9c9c9;   
}

/*
  overload .custom-select to fit with bootstrap-select
*/

.custom-select-rcs {
   display: inline-block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 1.75rem 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #6e707e;
   vertical-align: middle;
   background-color: #fff;
   border: 1px solid #d1d3e2;
   border-radius: 0.35rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.custom-preend-select-rcs {
   height: calc(1.5em + 0.75rem + 2px);
}

.custom-select-rcs:hover {
   color: #6e707e;
   background-color: #fff;
   border-color: #d1d3e2;
}

.custom-select-rcs:disabled {
   color: #5a5c69;
   background-color: #c5c6ca;
}

.custom-select-rcs-sm {
   height: calc(1.5em + 0.5rem + 2px);
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   padding-left: 0.5rem;
   font-size: 0.875rem;
}

.custom-select-rcs-lg {
   height: calc(1.5em + 1rem + 2px);
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: 1rem;
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 1.5;
   color: #6e707e;
   vertical-align: middle;
   background-color: #fff;
   border: 1px solid #d1d3e2;
   border-radius: 0.35rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.filter-select {
   font-size: 0.8rem;
   color: #d6e1ff;
   background-color: var(--primary);
   border-color: var(--primary);
}

.filter-select:hover {
   color: #fff;
}

/*
   for club access manager
*/

.scheduler-header-current-month-rcs {
   font-size: 1.4rem;
   font-weight: 400;
   background-color: #e4e4e4;
}

.scheduler-header-next-month-rcs {
   font-size: 1.4rem;
   font-weight: 400;
   background-color: #f0f0f0;
}

.scheduler-header-day-rcs {
   font-size: 0.875rem;
   font-weight: 100;
   background-color: #d9d9d9;
}

.scheduler-header-off-day-rcs {
   font-size: 0.875rem;
   font-weight: 100;
   background-color: #cecece;
}

.scheduler-cell-type-am-rcs {
   font-size: 0.875rem;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
   background-color: #d0e9fb;
   padding: 0.5rem;
   width: 34px;
   line-height: 34px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.scheduler-cell-type-pm-rcs {
   font-size: 0.875rem;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
   background-color: #fae4ab;
   padding: 0.5rem;
   width: 34px;
   line-height: 34px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.scheduler-cell-type-day-rcs {
   font-size: 0.875rem;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
   background-color: #f9dbdb;
   padding: 0.5rem;
   width: 34px;
   line-height: 34px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.scheduler-footer-cell-type-am-rcs {
   font-size: 0.7rem;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
   background-color: #d0e9fb;
   padding: 0.4rem;
   width: 34px;
   line-height: 34px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.scheduler-footer-cell-type-pm-rcs {
   font-size: 0.7rem;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
   background-color: #fae4ab;
   padding: 0.4rem;
   width: 34px;
   line-height: 34px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.scheduler-name-column-rcs {
   font-size: 0.9rem;
   font-weight: 600;
   white-space: nowrap;
   background-color: #f0f0f0;
}

/*
  overload MarkerCluster for leaflet
   as default colors are to near from background colors OSM layer
 */

.marker-cluster-small {
   background-color: rgba(140, 192, 226, 0.6);
}

.marker-cluster-small div {
   background-color: rgba(67, 165, 228, 0.6);
}

.marker-cluster-medium {
   background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
   background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
   background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
   background-color: rgba(241, 128, 23, 0.6);
}

.swiper-container {
   width: 600px;
   height: 300px;
}

.site-manager-title {
   margin-bottom: 1em;
   font-weight: bolder;
   font-size: large;
}

.vl {
   border-left: 1px solid rgb(236, 236, 236);
   height: 500px;
   position: absolute;
   left: 50%;
   margin-left: -3px;
   top: 0;
}

.container-sm {
   padding-left: 1.5rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-right: 1rem;

}

/* slider */
.slider-rangeHighlight.category1 {
   background: #ff0e0e;
}

table tr[disabled] {
   pointer-events: none;
   background: #f9dbdb;
   text-decoration: line-through;
}

/* tutorial */
.tuto-msg {
   font-size: 30px;
   color: #ffffff;
   background: #c2c2c2;
}

.color-card-secondary {
   color: #45464e;
   background-color: #f8f9fc;
   border-color: #dddde2;
}