<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/tippy/6.2.6/dist/tippy.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/6.2.6/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/6.2.6/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/quill/1.3.7/quill.snow.css" />

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}

               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  {{ if_master }}
                  <li class="breadcrumb-item"><a href="index2.html">{{ lang en="Home" fr="Accueil" de="Home" es="Hogar"}}</a></li>
                  {{ else }}
                  <li class="breadcrumb-item"><a href="javascript:goToContest()">{{ lang en="Home" fr="Accueil" de="Home" es="Hogar"}}</a></li>
                  {{ endif }}
                  <li class="breadcrumb-item active" aria-current="page">{{ lang en="Account" fr="Compte" de="Konto" es="Cuenta" }}</li>
               </ol>
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-user-circle"></i>&nbsp;{{ lang en="User account"
                  fr="Compte utilisateur" de="Benutzerkonto" es="Cuenta de usuario" }}</h1>
               <p class="mb-4">{{ lang en="Change avatar, password, license..."
                  fr="Changer d'avatar, de mot de passe, de licence ..."
                  de="Ändern Sie Avatar, Passwort, lizenz"
                  es="Cambiar avatar, contraseña, licencia" }}...</p>
               <!--
                  <p><a href="#" class="btn btn-warning btn-circle btn-sm"><i class="fas fa-exclamation-triangle"></i></a>&nbsp;
                  {{ lang en="For GDPR purposes, you are inform that <b>RC-Contest</b> will never give/sale/rent your personal informations for any kind for usage."
                  fr="Concernant RGPD, vous êtes informé que <b> RC-Contest </b> ne donnera/vendra/louera jamais vos informations personnelles pour quelques usages que ce soit."
                  de="Für GDPR-Zwecke werden Sie darüber informiert, dass <b>RC-Contest</b> niemals Ihre persönlichen Informationen für irgendeine Art zur Verwendung weitergibt/verkauft/vermietet."
                  es="Para fines de GDPR, se le informa que <b>RC-Contest</b> nunca dará/venderá/alquilará su información personal para ningún tipo de uso."
                  }}</p>
               -->


               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">{{ lang en="User parameters" fr="Paramètres
                        utilisateur" de="Benutzerparameter" es="Parámetros de usuario" }}</h6>
                  </div>
                  <div class="card-body">
                     <form name="profile">
                        <div class="form-group">
                           <div class="row" style="margin-left: 1em;margin-right: 1em; overflow:scroll;">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                 <label class="btn" id="av1"><input type="radio" name="options" value="1" autocomplete="off"><img src="image/avatar/av1.png" width="64" height="67"></label>
                                 <label class="btn" id="av2"><input type="radio" name="options" value="2" autocomplete="off"><img src="image/avatar/av2.png" width="64" height="67"></label>
                                 <label class="btn" id="av3"><input type="radio" name="options" value="3" autocomplete="off"><img src="image/avatar/av3.png" width="64" height="67"></label>
                                 <label class="btn" id="av4"><input type="radio" name="options" value="4" autocomplete="off"><img src="image/avatar/av4.png" width="64" height="67"></label>
                                 <label class="btn" id="av5"><input type="radio" name="options" value="5" autocomplete="off"><img src="image/avatar/av5.png" width="64" height="67"></label>
                                 <label class="btn" id="av6"><input type="radio" name="options" value="6" autocomplete="off"><img src="image/avatar/av6.png" width="64" height="67"></label>
                                 <label class="btn" id="av7"><input type="radio" name="options" value="7" autocomplete="off"><img src="image/avatar/av7.png" width="64" height="67"></label>
                                 <label class="btn" id="av8"><input type="radio" name="options" value="8" autocomplete="off"><img src="image/avatar/av8.png" width="64" height="67"></label>
                                 <label class="btn" id="av9"><input type="radio" name="options" value="9" autocomplete="off"><img src="image/avatar/av9.png" width="64" height="67"></label>
                                 <label class="btn" id="av10"><input type="radio" name="options" value="10" autocomplete="off"><img src="image/avatar/av10.png" width="64" height="67"></label>
                              </div>
                           </div>
                        </div>

                        <div class="form-group row">
                           <div class="input-group col-sm-4 mb-3 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-user" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="First Name" fr="Prénom" de="Vorname" es="Nombre de pila" }}'></i></span>
                              </div>
                              <input type="text" class="form-control" id="profile-firstName" placeholder='{{ lang en="First Name" fr="Prénom" de="Vorname" es="Nombre de pila" }}'>
                           </div>
                           <div class="input-group col-sm-4 mb-3 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="far fa-user" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Last name" fr="Nom" de="Nachname" es="Apellido" }}'></i></span>
                              </div>
                              <input type="text" class="form-control" id="profile-lastName" placeholder='{{ lang en="Last name" fr="Nom" de="Nachname" es="Apellido" }}'>
                           </div>
                           <div class="input-group col-sm-2 mb-4 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-key" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Password" fr="Mot de passe" de="Passwort" es="Contraseña" }}'></i></span>
                              </div>
                              <input type="password" class="form-control" id="profile-inputPassword" value="foo" placeholder="{{ lang en='Password' fr='Mot de passe' de='Passwort' es='Contraseña' }}">
                           </div>
                           <div class="input-group col-sm-2 mb-4 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-key" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Repeat Password" fr="Répéter mot de passe" de="Passwort wiederholen" es="Repite la contraseña" }}'></i></span>
                              </div>
                              <input type="password" class="form-control" id="profile-repeatPassword" value="foo" placeholder="{{ lang en='Repeat Password' fr='Répéter le mot de passe' de='Passwort wiederholen' es='Repite la contraseña' }}">
                           </div>
                        </div>

                        <div class="form-group row">
                           <div class="input-group col-sm-1">
                              <div id="profile-gender" class="btn-group btn-group-toggle" data-toggle="buttons">
                                 <label class="btn btn-secondary" id="gender-m" data-toggle="tooltip" data-placement="top" title="{{ lang en='Male' fr='Homme' de='Männlich' es='Hombre' }}">
                                    <input type="radio" name="gender" value="m" autocomplete="off"><i class="fas fa-male fa-lg"></i>
                                 </label>
                                 <label class="btn btn-secondary" id="gender-f" data-toggle="tooltip" data-placement="top" title="{{ lang en='Female' fr='Femme' de='Weiblich' es='Hembra' }}">
                                    <input type="radio" name="gender" value="f" autocomplete="off"><i class="fas fa-female fa-lg"></i>
                                 </label>
                              </div>
                              <div id="validFeedback01" class="invalid-feedback">
                                 {{ lang en="Male or Female?" fr="Homme ou Femme ?" de="Männlich oder weiblich"
                                 es="¿Hombre o Hembra?"}}
                              </div>
                           </div>
                           <div class="input-group col-sm-1">
                              <div id="profile-category" class="btn-group btn-group-toggle" data-toggle="buttons">
                                 <label class="btn btn-secondary" id="category-j" data-toggle="tooltip" data-placement="top" title="{{ lang en='Junior' fr='Junior' de='Junior' es='Júnior' }}">
                                    <input type="radio" name="category" value="j" autocomplete="off">J
                                 </label>
                                 <label class="btn btn-secondary" id="category-s" data-toggle="tooltip" data-placement="top" title="{{ lang en='Senior' fr='Sénior' de='Senior' es='Mayor' }}">
                                    <input type="radio" name="category" value="s" autocomplete="off">S
                                 </label>
                              </div>
                              <div id="validFeedback02" class="invalid-feedback">
                                 {{ lang en="Senior or Junior?" fr="Sénior ou Junior?" de="Senior oder Junior?" es="¿Senior o Junior?" }}
                              </div>
                           </div>
                           <div class="input-group col-sm-2">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                 <label class="btn btn-secondary" id="notify-none" data-toggle="tooltip" data-placement="top" title="{{ lang en='No notification' fr='Pas de notification' de='keine Benachrichtigung' es='no notificación' }}">
                                    <input type="radio" name="notify" value="none"><i class="far fa-bell-slash"></i>
                                 </label>
                                 <label class="btn btn-secondary" id="notify-email" data-toggle="tooltip" data-placement="top" title="{{ lang en='Notification by email' fr='Notification par courriel' de='Benachrichtigung per Mail' es='Notificación por correo' }}">
                                    <input type="radio" name="notify" value="email"><i class="fas fa-envelope"></i>
                                 </label>
                                 <label class="btn btn-secondary" id="notify-msg" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Notification by message' fr='Notification par message' de='Benachrichtigung per Nachricht' es='Notificación por mensaje' }}">
                                    <input type="radio" name="notify" value="msg"><i class="fas fa-bell"></i>
                                 </label>
                                 <!-- 
                                 <label class="btn btn-secondary" id="notify-signal" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang en='Notification by using <a href=\'https://www.signal.org\'>Signal</a>' fr='Notification en utilisant <a href=\'https://www.signal.org/fr\'>Signal</a>' de='Benachrichtigung über <a href=\'https://www.signal.org/de\'>Signal</a>' es='Notificación mediante el uso de <a href=\'https://www.signal.org/es\'>Signal</a>' }}">
                                   <input type="radio" name="notify" value="signal"><i class="far fa-bell"></i>
                                 </label>-->
                              </div>
                              <div id="validFeedback02" class="invalid-feedback">
                                 {{ lang en="Senior or Junior?" fr="Sénior ou Junior?" de="Senior oder Junior?" es="¿Senior o Junior?" }}
                              </div>
                           </div>
                           <div class="input-group col-sm-4 mb-3 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="far fa-envelope" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang
                                       en='Email. <u>Warning:</u> In case of change, a message will be sent to the new address for validation'
                                       fr='Courriel. <u>Attention:</u> En cas de changement, un message sera envoyé à la nouvelle adresse pour validation'
                                       de='E-Mail. <u>Warnung:</u> Im Falle einer Änderung wird eine Nachricht zur Validierung an die neue Adresse gesendet'
                                       es='Email. <u>Advertencia:</u> En caso de cambio, se enviará un mensaje a la nueva dirección para su validación.'
                                       }}"></i>
                                 </span>
                              </div>
                              <input type="email" class="form-control" id="profile-email" placeholder='{{ lang en="john.doe@mysite.com" fr="raoul.dupont@monsite.fr" de="karl.striker@meinsite.de" es="Email" }}'>
                           </div>
                           <div class="input-group col-sm-4 mb-3 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-mobile-alt" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ lang
                                       en='Phone. <u>Warning:</u> In case of change email or password change, a message will be sent'
                                       fr='Téléphone. <u>Attention:</u> En cas de changement de courriel ou de mot de passe, un message sera envoyé'
                                       de='E-Mail. <u>Warnung:</u> Im Falle einer Änderung der E-Mail oder des Passworts wird eine Nachricht gesendet'
                                       es='Email. <u>Advertencia:</u> En caso de cambio de correo electrónico o cambio de contraseña, se enviará un mensaje'
                                       }}"></i>
                                 </span>
                              </div>
                              <input type="tel" class="form-control" id="profile-phone" placeholder='{{ lang en="+1 xxx xxx xxx" fr="+33 xx xx xx xx xx" de="+33 xx xx xx xx xx" es="+33 xx xx xx xx xx" }}'>
                           </div>
                        </div>

                        <div class="form-group row">
                           <div class="input-group col-sm-4 mb-4 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="far fa-flag" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Country" fr="Pays" de="Land" es="País" }}'></i></span>
                              </div>
                              <select id="country-select" class="form-control selectpicker" data-style="custom-select-rcs" data-live-search="true">
                              </select>
                           </div>
                           <div class="input-group col-sm-4 mb-4 mb-sm-0">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-language" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Language" fr="Langue" de="Sprache" es="Idioma" }}'></i></span>
                              </div>
                              <select id="language-select" class="form-control selectpicker" data-style="custom-select-rcs">
                              </select>
                           </div>

                           <div class="input-group col-sm-4 mb-4 mb-sm-0">
                              <div class="input-group-prepend" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Used frequencies" fr="Fréquences utilisées" de="Verwendete Frequenzen" es="Frecuencias utilizadas" }}'>
                                 <span class="input-group-text"><i class="fas fa-broadcast-tower"></i></span>
                              </div>
                              <select id="freq-select" class="form-control selectpicker" aria-describedby="validFeedback03" data-style="custom-select-rcs" multiple required>
                                 <option value="2.4">2.4 Ghz</option>
                                 <option value="35">35 Mhz</option>
                                 <option value="72">72 Mhz</option>
                                 <option value="27">27 Mhz</option>
                                 <option value="41">41 Mhz</option>
                                 <option value="50">50 Mhz</option>
                              </select>
                              <div id="validFeedback03" class="invalid-feedback">
                                 {{ lang en="Fill up category" fr="Remplir la catégorie" de="Kategorie auffüllen" es="Llenar categoría" }}
                              </div>
                           </div>

                        </div>

                        <div class="form-group">
                           <div>
                              <b><span id="license-label">{{ lang en="Add" fr="Ajouter" de="Hinzufügen" es="Añadir"}}</span></b>
                              <button class="btn-circle border-0 btn-primary btn-sm font-weight-bold" onclick="return onAddNewLicense();"><span style="font-size: 1.2rem;">+</span></button>
                           </div>
                           <div id="licenses_container" style="overflow:scroll;">
                              <table id="license_table" class="table table-striped table-dark table-hover" style="width:100%;margin-top:0.5rem;">
                                 <thead>
                                    <tr>
                                       <th width="5%">{{ lang en="Op" fr="Op" de="Aktion" es="Op"}}</th>
                                       <th width="45%">{{ lang en="Federation / Organization" fr="Fédération / Organisation" de="Föderation / Organisation" es="Federación / Organización"}}
                                       </th>
                                       <th width="50%">{{ lang en="License number" fr="Numéro de licence" de="Lizenznummer" es="Número de licencia"}}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </form>

                     <div class="row justify-content-between">
                        <button class="btn btn-primary btn-icon-split" onClick="onUpdateAccount()">
                           <span class="icon text-white-50"><i class="fas fa-edit"></i></span>
                           <span class="text">{{ lang en="Update" fr="Mettre à jour" de="Aktualisieren" es="Actualizar" }}</span>
                        </button>
                        <button class="btn btn-warning btn-icon-split" onClick="resetPrefs()">
                           <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                           <span class="text">{{ lang en="reset prefs" fr="Raz prefs" de="Einstellungen zurücksetzen" es="restablecer prefs" }}</span>
                        </button>
                     </div>
                     <div class="container mt-4" id="alertList">
                        <div id="successUpdateAlert" class="fixed-bottom alert fade show" style="display:none;margin:1em;" role="alert">
                           <span id="alertMsg"></span>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   <div id="containerIEAlert" style="position: fixed;text-align: center;right: 3rem;bottom: 1rem;width: 90%;">
      <div id="messageIEAlert" class="fixed-bottom alert fade show" style="display:none;margin:1em;" role="alert">
         <span id="alertIEMsg"></span>
      </div>
   </div>


   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}
   {{ include "include/homepageModal.html" }}

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <!--Waiting for bootstrap-select to support popper v2
  <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang
   fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.js'></script>"}}
   <script src="/vendor/tippy/6.2.6/dist/tippy.umd.min.js"></script>
   <script src="/vendor/quill/1.3.7/quill.min.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>
   <script src="/vendor/imaskjs/6.4.3/dist/imask.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/rcs/base.js"></script>
   <script src="/js/rcs/bus.js"></script>
   <script src="/js/rcs/chrono.js"></script>
   <script src="/js/rcs/speech.js"></script>


   <script>
      let passwordMagicNumber = "ahdqjHSJSa";
      let currentEntrantID;
      let displayTable;
      let emailHasChange = false;
      let passwordHasChange = false;
      let organizationList = [];
      let rowLicenseIdx;

      function goToContest() {
         window.location.href = "/contest.html?contest_id=0";
      }

      function updateValidFields() {
         let ret = true;

         $('#profile-firstName').removeClass("is-invalid");
         $('#profile-lastName').removeClass("is-invalid");
         $('#profile-gender').removeClass("is-invalid");
         $('#profile-category').removeClass("is-invalid");
         $('#freq-select').removeClass("is-invalid");

         if ($('#profile-firstName').val() == "") {
            $('#profile-firstName').addClass("is-invalid");
            ret = false;
         }
         if ($('#profile-lastName').val() == "") {
            $('#profile-lastName').addClass("is-invalid");
            ret = false;
         }
         if ($('#profile-gender').val() == null) {
            $('#profile-gender').addClass("is-invalid");
            ret = false;
         }
         if ($('#profile-category').val() == null) {
            $('#profile-category').addClass("is-invalid");
            ret = false;
         }
         if ($('#freq-select').selectpicker("val").length == 0) {
            $('#freq-select').addClass("is-invalid");
            ret = false;
         }
         if (getLicenseListValuesFromUI().length == 0) {
            $('#license-label').addClass("is-invalid");
            ret = false;
         }

         return ret;
      }

      //
      // Licenses
      //

      function isLicenseAlreadyIncluded(newLicenseOrg, licenseList) {
         for (const lic of licenseList) {
            if (lic.split("=")[0] == newLicenseOrg)
               return true;
         }
         return false;
      }

      function getLicenseListValuesFromUI() {
         let licenseList = [];

         $("[lic-value]").each(function () {
            let val = $(this).val();
            let orgLic = $(this).attr("lic-value");
            if (!isLicenseAlreadyIncluded(orgLic, licenseList))
               licenseList.push(orgLic + '=' + val);
         });

         return licenseList.join(";");
      }

      function getDuplicateLicenseList() {
         let licenseList = [];
         let dupLicenseList = [];

         $("[lic-value]").each(function () {
            let orgLic = $(this).attr("lic-value");
            if (isLicenseAlreadyIncluded(orgLic, licenseList))
               dupLicenseList.push(orgLic);
            else
               licenseList.push(orgLic);
         });

         return dupLicenseList;
      }

      function getNextUnusedLicense(totalOrgList) {
         let usedLicList = [];
         $("[lic-value]").each(function () {
            let orgLic = $(this).attr("lic-value");
            usedLicList.push(orgLic);
         });
         for (const org of totalOrgList) {
            if (org.lic_code == undefined)
               continue;
            if (!isLicenseAlreadyIncluded(org.lic_code, usedLicList))
               return org.lic_code;
         }

         return null;
      }

      function onAddNewLicense() {
         let licenseListNum = getLicenseListValuesFromUI().split(";").length;
         let orgNum = 0;
         for (const org of organizationList) {
            if (org.lic_code)
               orgNum++;
         }
         if (orgNum > licenseListNum)
            addRowLicense(organizationList, getNextUnusedLicense(organizationList), rowLicenseIdx++, "");

         return false;
      }

      function onAskRemoveLicense(orgName) {
         displayModalMsg({
            type: "error-question",
            title: '{{ lang en="Remove" fr="Supprimer" de="Entfernen" es="Eliminar" }}',
            message: '{{ lang en="Do you really want to remove this license ?" fr="Voulez-vous vraiment supprimer cette licence ?" de="Möchten Sie diese Lizenz wirklich entfernen?" es="¿Realmente desea eliminar esta licencia?" }}',
            cb_params: orgName,
            ok_callback: function (event, orgName) { onRemoveLicense(orgName); },
            showCancel: true
         });
      }

      function onRemoveLicense(orgName) {
         removeRowLicense(orgName);
         return false;
      }

      function addRowLicense(organizationList, selectedOrgName, idx, value) {
         let count = $("#license_table tbody td").length;
         let line = `<tr id="row-lic${idx}">`;
         line += `<td><button style="margin-top:4px;" class="btn-circle btn-secondary btn-sm form-control" onclick="return onAskRemoveLicense('${idx}');"><i class="fa fa-trash contest-op-active"></i></button></td>`;
         line += `<td><select class="selectpicker form-control" data-container="body" lic-select="${count}" data-style="custom-select-rcs" onchange="return onLicenseSelectChange(${idx}, this.value)" required>`;
         for (const org of organizationList) {
            if (org.lic_code == undefined)
               continue;
            line += `<option value="${org.lic_code}" `;
            line += 'data-content="<img style=\'margin-bottom:4px;\' src=\'/json/countries/data/' + org.country.toLowerCase() + '.svg\' class=\'country-flag\' alt=\'' + org.country + '\'>&nbsp;<span class=\'label-license\'>' + org.long_name + '</span>" ';
            if (org.lic_code === selectedOrgName) {
               line += "selected";
            }
            line += `>${org.lic_code}</option>`;
         }
         line += "</select></td>";
         line += `<td><input lic-value="${selectedOrgName}" class="input-license form-control" type="text" style="width:100%;" value="${value}"></td>`;
         line += "</tr>";

         $("#license_table tbody").append(line);

         $(`[lic-select=${count}]`).selectpicker("refresh");
      }

      function removeRowLicense(idx) {
         $("#row-lic" + idx).remove();
      }

      function onLicenseSelectChange(selectedIdx, newValue) {
         let curIdx = 0;
         $("#license_table #row-lic" + selectedIdx + " input").attr("lic-value", newValue);

         return false;
      }

      //
      // onload
      //

      $(async function () {

         $("#text-color-display").val("ABE881");
         displayTable = $("#display-table");
         displayTable.bootstrapTable();

         let inputPassword = document.querySelector("#profile-inputPassword");
         inputPassword.addEventListener("input", function () {
            passwordHasChange = true;
         });

         let repeatPassword = document.querySelector("#profile-repeatPassword");
         repeatPassword.addEventListener("input", function () {
            passwordHasChange = true;
         });

         let inputEmail = document.querySelector("#profile-email");
         inputEmail.addEventListener("input", function () {
            emailHasChange = true;
            $("#profile-inputPassword").val("");
            $("#profile-repeatPassword").val("");
         });

         getSessionUserParams()
            .then(async function (result) {
               $("#av" + result.avatar_id).button('toggle');
               $("#profile-firstName").val(result.first_name);
               $("#profile-lastName").val(result.last_name);
               $("#profile-email").val(result.login);
               $("#profile-club").val(result.club);
               $("#profile-phone").val(result.phone);
               $("#gender-" + result.gender).button("toggle");
               $("#category-" + result.category).button("toggle");
               $("#notify-" + result.notification_type).button("toggle");
               if (result.freq_list)
                  $("#freq-select").selectpicker("val", result.freq_list.split(";"));
               $("#profile-inputPassword").val(passwordMagicNumber);
               $("#profile-repeatPassword").val(passwordMagicNumber);

            
               let licenseList = [];
               currentEntrantID = result.entrant_id;
               let country;
               let language;
               if (result.locale != undefined) {
                  language = result.locale.split("-")[0];
                  country = result.locale.split("-")[1];

                  // country select
                  await fetch("/api/v1/op/getCountryList")
                     .then(handleErrors)
                     .then(function (response) {
                        jQuery.each(response.country_name, function (key, value) {
                           let img = `<span><img src='/json/countries/data/w40/${key.toLowerCase()}.png' style='width:25px;height:18px;'>&nbsp;${value}</span>`;
                           $("#country-select").append($(`<option value="${key}" data-content="${img}"></option>`));
                        });
                        $('#country-select').selectpicker("val", country);
                        $('#country-select').selectpicker("refresh");
                     })
                     .catch(function (error) {
                        displayErrorMsg(error);
                     });

                  // language select
                  await fetch("/api/v1/op/getLanguageList?country=" + country)
                     .then(handleErrors)
                     .then(function (response) {
                        jQuery.each(response, function (key, value) {
                           $("#language-select").append($("<option>", {
                              value: key,
                              text: value
                           }));
                        });
                        $("#language-select").selectpicker("refresh");
                        $("#language-select").selectpicker("val", language);
                     })
                     .catch(function (error) {
                        displayErrorMsg(error);
                     });
               }

               if (result.is_site_manager || result.is_site_administrator) {
                  var inputs = document.getElementsByClassName("show-if-sm");
                  for (var i = 0; i < inputs.length; i++) {
                     inputs[i].hidden = false;
                  }
               }

               updateValidFields();

               if (result.license_list)
                  licenseList = result.license_list.split(";");

               await fetch("/api/v1/op/getOrganizationList?scope=all")
                  .then(handleErrors)
                  .then(function (response) {
                     organizationList = response;
                  })
                  .catch(function (error) {
                     displayErrorMsg(error);
                  });

               rowLicenseIdx = 0;
               for (const lic of licenseList) {
                  let orgName = lic.split("=")[0];
                  let value = lic.split("=")[1];
                  addRowLicense(organizationList, orgName, rowLicenseIdx++, value);
               }

               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      });

      $("#country-select").on("change", function () {
         let country = this.value;

         updateValidFields();

         $("#language-select").empty();
         fetch("/api/v1/op/getLanguageList?country=" + country)
            .then(handleErrors)
            .then(function (response) {
               jQuery.each(response, function (key, value) {
                  $("#language-select").append($("<option>", {
                     value: key,
                     text: value
                  }));
               });
               $("#language-select").selectpicker("refresh");
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      });

      $("#profile-gender").on("change", function () { updateValidFields(); });
      $("#profile-category").on("change", function () { updateValidFields(); });

      function onUpdateAccount() {
         updateValidFields();

         let inputPassword = $("#profile-inputPassword").val();
         let repeatPassword = $("#profile-repeatPassword").val();
         let email = $("#profile-email").val();
         let dupLicList = getDuplicateLicenseList();

         if (dupLicList.length != 0) {
            displayAlert({
               type: "error",
               msg: `{{ lang en="license ${dupLicList} is defined twice or more" fr="la licence ${dupLicList} est définie deux fois ou plus" de="Lizenz ${dupLicList} wird zweimal oder öfter definiert" es="la licencia ${dupLicList} se define dos veces o más" }}`,
               divElt: $('#successUpdateAlert'),
               spanElt: $('#alertMsg'),
               autoHide: true
            });
            return;
         }

         if (!(currentUser.is_site_manager || currentUser.is_site_administrator) && getLicenseListValuesFromUI().length <= 0) {
            displayAlert({
               type: "error",
               msg: '{{ lang en="At least one license must be entered" fr="Au moins une licence doit être fournie" de="Es muss mindestens eine Lizenz eingegeben werden" es="Se debe ingresar al menos una licencia" }}',
               divElt: $('#successUpdateAlert'),
               spanElt: $('#alertMsg'),
               autoHide: true
            });
            return;
         }
         else if ($('#profile-gender').val() == null) {
            displayAlert({
               type: "error",
               msg: '{{ lang en="Gender must be provided" fr="Le sexe doit être fourni" de="Das Geschlecht muss angegeben werden" es="Se debe proporcionar el género" }}',
               divElt: $("#successUpdateAlert"),
               spanElt: $("#alertMsg"),
               autoHide: true
            });
         }
         else if ($('#profile-category').val() == null) {
            displayAlert({
               type: "error",
               msg: '{{ lang en="Category must be provided" fr="La catégorie doit être fournie" de="Kategorie muss angegeben werden" es="Se debe proporcionar la categoría" }}',
               divElt: $("#successUpdateAlert"),
               spanElt: $("#alertMsg"),
               autoHide: true
            });
         }
         else if (inputPassword == repeatPassword) {
            let data = {
               first_name: encodeHTML($("#profile-firstName").val()),
               last_name: encodeHTML($("#profile-lastName").val()),
               phone: $("#profile-phone").val(),
               gender: document.forms.profile.gender.value,
               category: document.forms.profile.category.value,
               notification_type: document.forms.profile.notify.value,
               avatar_id: parseInt(document.forms.profile.options.value),
               freq_list: $("#freq-select").selectpicker("val").join(";"),
               locale: $("#language-select").selectpicker('val') + "-" + $("#country-select").selectpicker('val'),
               license_list: getLicenseListValuesFromUI()
            };

            if (emailHasChange) {
               data.login = email;
               data.new_hash = sha3_512(email + inputPassword);
            } else if (passwordHasChange) {
               data.new_hash = sha3_512(email + inputPassword);
            }

            fetch("/api/v1/modifyAccount", {
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
               },
               method: "POST",
               body: JSON.stringify(data)
            })
               .then(handleErrors)
               .then(function (response) {
                  displayAlert({
                     type: "success",
                     msg: '{{ lang en="Account updated" fr="Compte mis à jour" de="Konto aktualisiert" es="Cuenta actualizada" }}',
                     divElt: $('#successUpdateAlert'),
                     spanElt: $('#alertMsg'),
                     autoHide: true,
                     callbackOnHide: function () {
                        if (response.redirect)
                           window.location.href = response.redirect;
                     }
                  });
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         } else {
            $("#errorModal").modal();
            $("#errMsg").html('{{ lang en="Passwords are different" fr="Les mots de passe sont différents" de="Passwörter sind unterschiedlich" es="Las contraseñas son diferentes"}}');
         }
      }

      function resetPrefs() {
         deleteUserPrefs();
         displayAlert({
            type: "success",
            msg: '{{ lang en="All preferences reset" fr="Toutes les préférences sont réinitialisées" de="Alle Einstellungen werden zurückgesetzt" es="Todas las preferencias se restablecen" }}',
            divElt: $('#successUpdateAlert'),
            spanElt: $('#alertMsg')
         });
      }

   </script>

</body>

</html>