<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">
</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Search -->
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}"
                        aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                        </button>
                     </div>
                  </div>
               </form>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small"
                                 placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2"
                                 autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <!--#include file="include/navItemMessage.html"-->

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <!--#include file="include/navItemUser.html"-->

               </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-bolt"></i>&nbsp;{{ lang en="Blitz contest"
                  fr="Concours éclair" de="Blitzwettbewerb"
                  es="Concurso relámpago"}}</h1>
               <p class="mb-4">{{ lang en="Organize and compete against on the field"
                  fr="Organisez et affrontez-vous sur le terrain" de="Organisiere und trete gegen auf dem Feld an"
                  es="Organiza y compite en el campo"}}.</p>


               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Teams list" fr="Liste des équipes"
                        de="Liste der Teams" es="Concurso relámpago"}}</h6>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">



                        <div id="blitz-toolbar">
                           <div class="form-inline" role="form">
                              <div class="form-group">
                                 <button id="signInBut" type="submit" class="btn-circle border-0 btn-primary"
                                    data-toggle="modal" data-target="#newBlitzModal">
                                    <i class="fas fa-plus" data-toggle="tooltip" data-html="true" data-placement="top"
                                       title='{{ lang en="Add flash contest" fr="Ajouter un concours flash" de="Flash-Wettbewerb hinzufügen" es="Agregar concurso flash" }}'>
                                    </i>
                                 </button>
                              </div>&nbsp;&nbsp;
                           </div>
                        </div>
                        <table id="blitz-table" data-cookie="true" {{ lang fr="data-locale='fr-FR'"
                           de="data-locale='de-DE'" es="data-locale='es-ES'" }} data-cookie-id-table="blitz-table"
                           data-cookie-storage="localStorage" data-toolbar="#blitz-toolbar" data-toggle="table"
                           data-show-fullscreen="true" data-show-refresh="true" data-sort-class="table-active"
                           data-sortable="true" data-search="true">
                           <thead>
                              <tr>
                                 <th data-field="id">#</th>
                                 <th data-field="operate" data-formatter="operateFormatter" data-switchable="false">{{ lang en="Op." fr="Op." de="Ar." es="Fu." }}</th>
                                 <th data-field="avatar_id" data-formatter="avatarFormater" data-switchable="false">Logo</th>
                                 <th data-field="name" data-sortable="true" data-align="left">{{ lang en="Team name" fr="Nom d'équipe" de="Teamname" es="Nombre del equipo" }}</th>
                                 <th data-field="start_datetime" data-sortable="true" data-formatter="dateFormatter" data-align="center">{{ lang en="Start time" fr="Heure de début" de="Startzeit" es="Hora de inicio" }}</th>
                                 <th data-field="status" data-sortable="true" data-align="center">{{ lang en="Status" fr="Statut" de="Status" es="Estado" }}</th>
                              </tr>
                           </thead>
                        </table>


                     </div>
                  </div>
               </div>


            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}
      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   {{ include "include/basicModal.html" }}
   {{ include "include/blitzModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
   <script src="/js/sha3.min.js" async></script>
   <script src="/js/main.js"></script>
   <script src="/js/mapCommon.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

   <script>
      let blitzTable;

      //
      // onload
      //

      function newBlitz() {

         $("#newBlitzModal").modal('toggle');

         let name = $("#modal-team-name").val();
         let sd = new Date();
         let startDate = getDatetimeFormatted(sd, "sqlite");
         let ed = new Date(sd.getTime() + 3600 * 2 * 1000);
         let endDate = getDatetimeFormatted(ed, "sqlite");
         let closeTime = $("#modal-close-time-select").selectpicker("val");
         let rd = new Date(sd.getTime() + parseInt(closeTime) * 1000);
         let registerDeadline = getDatetimeFormatted(rd, "sqlite");
         let categories = $("#modal-contest-type-select").selectpicker("val");


         let data = {
            name: name,
            entrant_id: currentUser.entrant_id,
            club_id: 0,
            start_datetime: startDate,
            end_datetime: endDate,
            register_deadline: registerDeadline,
            categories: categories,
            fly_site_id: -1,
            allowed_freq_list: "2.4",
            selection_type: "fla",
            is_original: true
         };

         fetch('/api/v1/createContest', {
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
         })
            .then(handleErrors)
            .then(function (/*response*/) {
               blitzTable.bootstrapTable('refresh', { url: '/api/v1/getContestList?scope=year_2022&flash' });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function askRemoveBlitzContest(contestID) {
         displayModalMsg({
            type: "error-question",
            title: '{{ lang en="Remove" fr="Supprimer" de="Entfernen" es="Eliminar" }}',
            message: '{{ lang en="Do you really want to remove this flash contest ?" fr="Voulez-vous vraiment supprimer ce concours flash ?" de="Möchten Sie diesen Flash-Wettbewerb wirklich entfernen?" es="¿De verdad quieres eliminar este concurso flash?" }}',
            ok_callback: function removeCB() {
               removeBlitzContest(contestID);
            },
            showCancel: true
         });

      }

      function removeBlitzContest(contestID) {
         removeContest(contestID)
            .then(handleErrors)
            .then(function (/*response*/) {
               blitzTable.bootstrapTable('refresh', { url: '/api/v1/getContestList?flash' });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

      }

      function dateFormatter(value, row, index) {
         return `<span style="white-space: nowrap">${value.split(' ')[1]}</span>`;
      }

      function operateFormatter(value, row) {
         if (currentUser.is_site_manager || row.cd == currentUser.entrant_id)
            return '<button class="btn-circle btn-secondary btn-sm" style="border:0;" onclick="askRemoveBlitzContest(' + row.id + ')" ><i class="fas fa-trash"></i></button>';
         else
            return '<button class="btn-circle btn-secondary btn-sm contest-op-inactive" style="border:0;" disable><i class="fas fa-trash"></i></button>';
      }

      function avatarFormater(value, row) {
            let bg = "#000000";
            switch(row.avatar_id) {
               case 1: bg = "#FF0000"; break;
               case 2: bg = "#00FF00"; break;
               case 3: bg = "#0000FF"; break;
            }
            return `<a href="module/f5j/contest.html?contest_id=${row.id}"><div style="background-color:${bg};"><i class="fas fa-paper-plane"></i></div></a>`;
      }

      $(function () {

         blitzTable = $("#blitz-table");

         $("#newBlitzModal").on('shown.bs.modal', function () {
         });

         getSessionUserParams()
            .then(function (result) {
               blitzTable.bootstrapTable('refresh', { url: '/api/v1/getContestList?flash' });

               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

      });
   </script>

</body>

</html>