<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">

   <style type="text/css">
      .qbox {
         height: 250px;
         width: 800px;
         box-sizing: border-box;
         overflow: hidden;
      }

      .marq {
         position: relative;
         box-sizing: border-box;
      }
   </style>
</head>

<body style="background-color: #000000;margin: 0px;">

   <div id="state" class="broadcast-time" hidden>--</div>
   <div id="round" class="broadcast-time" hidden>--</div>
   <div id="group" class="broadcast-time" hidden>--</div>
   <div id="time" class="broadcast-time" hidden>--:--</div>

   <div class="qbox" id="qbox">
      <div class="marq" id="rank" hidden>
         <table class="broadcast-table">
            <tbody id="body-score-tab">
            </tbody>
         </table>
      </div>
   </div>

   {{ include "include/loginModal.html" }}

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/rcs/base.js"></script>
   <script src="/js/rcs/bus.js"></script>
   <!--<script src="/js/rcs/chrono.js"></script>
   <script src="/js/rcs/speech.js"></script>-->

   <script>
      let urlParams = new URLSearchParams(location.search);
      let contestID = urlParams.get("contest_id");
      //let speech;
      let pilotTab = [];
      let scroller = document.getElementById("rank");
      let scrollerHeight;
      let scrollerSpeed = 1;
      let tabBoby = document.getElementById("body-score-tab");
      let qboxHeight = document.getElementById("qbox").clientHeight;
      let isFlyoff = false;
      let isJunior = false;

      function onContestParamsChanged(data) {
         //console.log(data);
         document.getElementById("round").innerText = data.round_id + 1;
         document.getElementById("group").innerText = data.group_id + 1;
         document.getElementById("state").innerText = data.state;
      }

      function onTimeChanged(timeInSec) {
         //console.log(timeInSec);
         document.getElementById("time").innerText = timeFormat(timeInSec);
      }

      function getPilot(pilotID) {
         for (const pilot of pilotTab) {
            if (pilot.id === pilotID)
               return pilot;
         }
         return undefined;
      }

      function getPilotData(pilotID, data) {
         let ret = [];

         if (data) {
            let maxTotalScore = -1;
            for (let score of data.score) {
               if (score.entrant_id == pilotID) {
                  if (score.total_score != "" && maxTotalScore < score.total_score)
                     maxTotalScore = score.total_score;
                  if (!score.worse_score && !score.removed)
                     if (score.total_score != "") {
                        ret.push(score.group_score.toFixed(0));
                     } else {
                        ret.push(0);
                     }
               }
            }
            ret.unshift(maxTotalScore.toFixed(1));
         }

         return ret;
      }

      function updateRankingList(data) {
         let rank = 1;
         fetch(`/api/v1/getBestPilotList?contest_id=${contestID}&is_flyoff=${isFlyoff}&is_junior=${isJunior}`)
            .then(handleErrors)
            .then(result => {
               tabBoby.innerHTML = "";
               for (let pilotID of result) {
                  let pilot = getPilot(pilotID);

                  // country flag
                  let cca2 = pilot.locale.split("-")[1];
                  let img = document.createElement("img");
                  img.classList.add("country-flag-sm");
                  img.setAttribute("src", `/json/countries/data/w40/${cca2.toLowerCase()}.png`);
                  let tdRow = document.createElement("tr");

                  let tdRank = document.createElement("td");
                  tdRank.setAttribute("width", "25px");
                  tdRank.append(`${rank++}`);
                  tdRow.append(tdRank);

                  let tdName = document.createElement("td");
                  tdName.classList.add("-nowrap");
                  let span = document.createElement("span");
                  span.append(` ${pilot.first_name} ${pilot.last_name}`);
                  span.classList.add("broadcast-rank-pilotname");

                  tdName.append(img, span);
                  tdRow.append(tdName);

                  let pilotsData = getPilotData(pilotID, data);
                  let first = true;
                  for (let pilotData of pilotsData) {
                     let tdScore = document.createElement("td");
                     tdScore.setAttribute("width", "50px");
                     if (first) {
                        tdScore.classList.add("broadcat-score-total-item");
                        first = false;
                     } else
                        tdScore.classList.add("broadcat-score-group-item");
                     tdScore.append(pilotData);
                     tdRow.append(tdScore);
                     break;
                  }

                  tabBoby.append(tdRow);
               }
               scrollerHeight = scroller.clientHeight;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onResultChanged(data) {
         //console.log(data);
         updateRankingList(data);
      }

      function scrollForever(p_top) {
         let new_top = p_top - scrollerSpeed;
         scroller.style.top = "" + p_top + "px";
         if (scrollerHeight + (new_top - qboxHeight) >= 0) {
            setTimeout(function () { scrollForever(new_top); }, 50);
         }
         else {
            setTimeout(function () { scrollBack(new_top); }, 1000);
         }
      }

      function scrollBack(p_top) {
         if (p_top < 0) {
            p_top = p_top + scrollerSpeed;
            scroller.style.top = "" + p_top + "px";
            setTimeout(function () { scrollBack(p_top); }, 50);
         }
         else {
            scroller.style.top = "0px";
            setTimeout(function () { scrollForever(0); }, 1000);
         }
      }

      /* onload */
      $(async function () {
         //console.log(location.search);
         if (location.search.includes("state"))
            document.getElementById("state").removeAttribute("hidden");
         if (location.search.includes("round"))
            document.getElementById("round").removeAttribute("hidden");
         if (location.search.includes("group"))
            document.getElementById("group").removeAttribute("hidden");
         if (location.search.includes("time"))
            document.getElementById("time").removeAttribute("hidden");
         if (location.search.includes("rank")) {
            document.getElementById("rank").removeAttribute("hidden");
            await fetch(`/api/v1/getEntrantList?contest_id=${contestID}&role=pi`)
               .then(handleErrors)
               .then(result => {
                  pilotTab = result;
                  updateRankingList();
                  scrollForever(0);
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         }

         let bus = new RCSBus({
            isSSL: true, port: 8081,
            callbackList: [
               { topic: RCSBus.RCS_WS_TOPIC_TIME_CHANGED, cb: onTimeChanged },
               //{ topic: RCSBus.RCS_WS_TOPIC_PILOT_RESULT_CHANGED, cb: onPilotResultChanged },
               { topic: RCSBus.RCS_WS_TOPIC_RESULT_CHANGED, cb: onResultChanged },
               { topic: RCSBus.RCS_WS_TOPIC_ROUND_CHANGED, cb: onContestParamsChanged },
               //{ topic: RCSBus.RCS_WS_TOPIC_PHONE_IS_ALLOWED, cb: onPhoneIsAllow }
            ]
         });
         await bus.init();

         /*
         await getSessionUserParams({ contestID: contestID })
            .then(async function (result) {
 
               speech = new RCSSpeech();
               await speech.init();
 
               let bus = new RCSBus({
                  isSSL: result.ssl, port: result.ws_port,
                  callbackList: [
                     { topic: RCSBus.RCS_WS_TOPIC_TIME_CHANGED, cb: onTimeChanged },
                     //{ topic: RCSBus.RCS_WS_TOPIC_PILOT_RESULT_CHANGED, cb: onPilotResultChanged },
                     //{ topic: RCSBus.RCS_WS_TOPIC_RESULT_CHANGED, cb: onResultChanged },
                     { topic: RCSBus.RCS_WS_TOPIC_ROUND_CHANGED, cb: onContestParamsChanged },
                     //{ topic: RCSBus.RCS_WS_TOPIC_PHONE_IS_ALLOWED, cb: onPhoneIsAllow }
                  ]
               });
               await bus.init();
 
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
         */
      });

   </script>

</body>

</html>