<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">


            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">{{ lang en="Browser not supported" fr="Navigateur pas supporté" de="Browser nicht unterstützt" es="Navegador no compatible"}}</h1>
               <p class="mb-4">{{ lang 
                  en="Sorry, this browser is not compatible with RC-Contest, please use lastest Chrome or Edge browser instead."
                  fr="Désolé, ce navigateur n'est pas compatible avec RC-Contest, veuillez utiliser le dernier navigateur Chrome ou Edge à la place."
                  de="Dieser Browser ist leider nicht mit RC-Contest kompatibel. Bitte verwenden Sie stattdessen den neuesten Chrome oder Edge Browser."
                  es="Lo sentimos, este navegador no es compatible con RC-Contest, por favor utilice el último navegador Chrome o Edge en su lugar."
               }}</p>

               <a href="{{ lang es='http://apple.com/en/app-store' fr='http://apple.com/fr/app-store' de='http://apple.com/de/app-store' es='http://apple.com/es/app-store'}}">
                  <h2>Apple Store</h2>
               </a>

               <a href="https://apps.microsoft.com/store">
                  <h2>
                     Microsoft Store
                  </h2>
               </a>

            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>