<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">


<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/Leaflet/1.7.1/dist/leaflet.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.Default.css">
   <link rel="stylesheet" href="/vendor/flatpickr/4.6.13/dist/flatpickr.min.css">
   <link rel="stylesheet" href="/vendor/flatpickr/4.6.13/dist/themes/material_blue.css">
   <script src="/vendor/Leaflet/1.7.1/dist/leaflet.js"></script>
   <script src="/vendor/Leaflet.markercluster/1.4.1/dist/leaflet.markercluster.js"></script>
</head>

<body id="page-top">

   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}

               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index2.html">{{ lang en="Home" fr="Accueil" de="Home" es="Hogar"}}</a></li>
                  <li class="breadcrumb-item"><a href="club.html">{{ lang en="Club" fr="Club" de="Klub" es="Club" }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ lang en="Detail" fr="Détail" de="Detail" es="Detalle"}}</li>
               </ol>
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-info"></i>&nbsp;{{ lang en="Detail informations" fr="Informations détaillées" de="Detailinformationen" es="Información detallada" }}</h1>
               <p class="mb-4">{{ lang
                  en="Location, list of members, list of contests"
                  fr="Position, Adhérants, Liste des compétitions"
                  de="Ort, Mitgliederliste, Liste der Wettbewerbe"
                  es="Ubicación, lista de miembros, lista de concursos." }}
               </p>

               <div class="row">
                  <div class="col">

                     <div class="row justify-content-center">
                        <div class="col-auto">
                           <nav class="nav btn-group">
                              <a href="#general" class="btn btn-outline-primary active" data-toggle="tab">{{ lang en="General" fr="Général" de="Allgemeines" es="General" }}</a>
                              <a href="#members" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-user-friends"></i>&nbsp;{{ lang en="Members" fr="Adhérants" de="Mitglieder" es="Miembros" }}</a>
                              <a href="#contests" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-trophy"></i>&nbsp;{{ lang en="Contests" fr="Compétitions" de="Wettbewerbe" es="Concursos" }}</a>
                              <a href="#access" class="btn btn-outline-primary" data-toggle="tab"><i class="fas fa-universal-access"></i>&nbsp;{{ lang en="Access" fr="Accès" de="Zugriff" es="Acceso" }}</a>
                           </nav>
                        </div>
                     </div>

                     <div class="tab-content mt-3">

                        <!-- Active contests table -->
                        <div class="tab-pane fade active show" id="general">
                           <div class="card shadow mb-4 ">
                              <div class="card-header py-3">

                                 <div class="form-inline align-items-center justify-content-between" role="form">
                                    <h6 id="calendarHeading" class="m-0 font-weight-bold text-primary">{{ lang en="General informations" fr="Informations générales" de="Allgemeine Informationen" es="Información general" }}</h6>
                                 </div>
                              </div>

                              <div class="card-body">
                                 <form autocomplete="off" action="" method="post" onsubmit="return false;">

                                    <div class="form-group row">
                                       <div class="col-9 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-tag" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Club name" fr="Nom du club" de="Clubname" es="Nombre del club" }}'></i></span>
                                          </div>
                                          <input type="text" id="longName" class="form-control edit-if-cd" style="font-size: 1.4em" placeholder='{{ lang en="Club name" fr="Nom du club" de="Clubname" es="Nombre del club" }}' disabled>
                                       </div>
                                       <div class="col-3 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-tags" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Acronym" fr="Acronyme" de="Akronym" es="Acrónimo" }}'></i></span>
                                          </div>
                                          <input type="text" id="shortName" class="form-control edit-if-cd" style="font-size: 1.4em" disabled>
                                       </div>
                                    </div>

                                    <div class="form-group row">
                                       <div class="col-4 input-group mb-3" style="z-index:1001;">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="far fa-flag" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Country" fr="Pays" de="Land" es="País" }}'></i></span>
                                          </div>
                                          <select id="country-select" class="form-control selectpicker edit-if-cd" data-style="custom-select-rcs" data-live-search="true" disabled>
                                          </select>
                                       </div>
                                       <div class="col-5 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-user-tie" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="President" fr="Président" de="Präsident" es="Presidente" }}'></i></span>
                                          </div>
                                          <input type="text" id="presidentName" class="form-control" placeholder='{{ lang en="President (not enrolled to site)" fr="Président (non inscrit sur le site)" de="Präsident (nicht auf der Website registriert)" es="Presidente (no inscrito en el sitio)" }}' disabled>
                                       </div>
                                       <div class="col-3 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-phone" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Phone" fr="Téléphone" de="Telefon" es="Teléfono" }}'></i></span>
                                          </div>
                                          <input type="text" id="phone" class="form-control edit-if-cd" placeholder='{{ lang en="Phone" fr="Téléphone" de="Telefon" es="Teléfono" }}' disabled>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-3 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><a id="clubAnchorURL"><i class="fas fa-link" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Site link" fr="Lien site" de="Site-Link" es="Enlace sitio" }}'></i></a></span>
                                          </div>
                                          <input type="text" id="url" class="form-control edit-if-cd" placeholder='{{ lang en="Site link" fr="Lien site" de="Site-Link" es="Enlace sitio" }}' disabled>
                                       </div>
                                       <div class="col-6 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-mail-bulk" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Address" fr="Adresse" de="Adresse" es="Habla a" }}'></i></span>
                                          </div>
                                          <input type="text" id="address" class="form-control edit-if-cd" placeholder='{{ lang en="Address" fr="Adresse" de="Adresse" es="Habla a" }}' disabled>
                                       </div>
                                       <div class="col-3 input-group mb-3">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><a id="clubAnchorEmail"><i class="far fa-envelope" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Email" fr="Courriel" de="Email" es="Email" }}'></i></a></span>
                                          </div>
                                          <input type="text" id="email" class="form-control edit-if-cd" placeholder='{{ lang en="Email" fr="Courriel" de="Email" es="Email" }}' disabled>
                                       </div>
                                    </div>
                                    <hr>
                                    <div>
                                       <div class="row justify-content-between">
                                          <div class="col show-if-cd" style="padding-bottom:0.75rem;" hidden>
                                             <div style="z-index:100011000;">
                                                <select id="site-select" class="form-control selectpicker" data-style="custom-select-rcs" style="width:auto;"></select>
                                             </div>
                                          </div>
                                          <div class="col show-if-cd" style="text-align: right;" hidden>
                                             <button class="btn-circle border-0 btn-primary" onClick="addNewSite();return false;"><i class="fas fa-map-marker-alt" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="New site" fr="Nouveau site" de="Neue Seite" es="Nuevo sitio"}}'></i></button>
                                          </div>
                                       </div>
                                       <div id="mapid" class="contest-map"></div>
                                       <div style="margin-top:0.5rem;">
                                          <span>{{ lang en="GPS Location" fr="Position GPS" de="GPS-Standort" es="Ubicación GPS" }}:
                                          </span>
                                          <span id="mouse-position"></span>
                                          <span id="mouse-position-hidden" hidden></span>
                                          <a href="javascript:navigator.clipboard.writeText($('#mouse-position-hidden').text())"> <i class="far fa-clone" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Copy to clipboard" fr="Copier dans le presse-papier" de="In die Zwischenablage kopieren" es="Copiar al portapapeles"}}'></i></a>
                                       </div>
                                       <hr class="show-if-cd" hidden>
                                       <div class="row justify-content-between">
                                          <div class="col" style="padding-bottom:0.75rem;">
                                             <button id="updateBtn" onClick="onModifyClub();return false;" class="btn btn-primary show-if-cd" hidden><span><i class="fas fa-edit"></i></span><span> {{ lang en="Update" fr="Mettre à jour" de="Aktualisieren" es="Actualizar" }}</span></button>
                                          </div>
                                          <div class="col" style="text-align: right;">
                                             <button class="btn btn-secondary" onClick="suggestEditSite();return false;"><i class="fas fa-pen-square" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Suggest an edit" fr="Suggérer une modification" de="Schlagen Sie eine Bearbeitung vor" es="Sugerir una edición" }}'></i></button>
                                             <button class="btn btn-secondary" onClick="claimSite();return false;"><i class="fas fa-user-shield" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Claim this club" fr="Revendiquer ce club" de="Fordern Sie diesen Verein an" es="Reclama este club" }}'></i></button>
                                          </div>

                                       </div>
                                    </div>
                                 </form>

                              </div>
                           </div>

                        </div>

                        <div class="tab-pane fade" id="members">
                           <div class="card shadow mb-4 ">
                              <div class="card-header py-3">

                                 <div class="form-inline align-items-center justify-content-between" role="form">
                                    <h6 id="calendarHeading" class="m-0 font-weight-bold text-primary">{{ lang en="Members list" fr="Liste des adhérants" de="Mitgliederliste" es="Lista de miembros" }}</h6>
                                 </div>
                              </div>

                              <div class="card-body">
                                 <div class="table-responsive">
                                    <div id="club-members-toolbar">
                                       <div class="form-inline" role="form">
                                          <div class="form-group">
                                             <button id="addMemberBut" class="btn-circle border-0 btn-primary show-if-cd mr-2" onClick="onAddEntrant()" hidden><i class="fas fa-plus" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="New member" fr="Nouvel adhérant" de="Neues Mitglied" es="Nueva miembro" }}'></i></button>
                                             <!--<button id="askRegister" class="btn btn-secondary" onclick="onAskReg()">{{ lang en="Registration request" fr="Demande d'inscription" de="Registrierungsanfrage" es="Solicitud de registro" }}</button>-->
                                             <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="askRegister" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   {{ lang en="Registration request" fr="Demande d'inscription" de="Registrierungsanfrage" es="Solicitud de registro" }}
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="askRegister">
                                                   <a class="dropdown-item" href="javascript:onAskReg('pi')">{{ lang en="As Pilot" fr="Comme Pilote" de="Als Pilot" es="Como Piloto"}}</a>
                                                   <a class="dropdown-item" href="javascript:onAskReg('mg')">{{ lang en="As" fr="Comme" de="Als" es="Como" }} <span class="entrant-club-organizer item-legend">{{ lang en="Officer/Organizer" fr="Encadrant/Organisateur" de="Veranstalter/Clubamtsträger" es="Organizador/Dirigente del club" }}</span></a>
                                                   <a class="dropdown-item" href="javascript:onAskReg('pr')">{{ lang en="As" fr="Comme" de="Als" es="Como" }} <span class="entrant-club-president item-legend">{{ lang en="President" fr="Président" de="Präsident" es="Presidente" }}</span></a>
                                                   <a class="dropdown-item" href="javascript:onAskReg('np')">{{ lang en="As Non-Practicing" fr="Comme Non Pratiquant" de="Als Nicht Praktizierend" es="Como no Practicante" }}</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <table id="club-members-table" data-cookie="true" {{ lang en="" fr="data-locale='fr-FR'" de="data-locale='de-DE'" es="data-locale='es-ES'" }} data-cookie-id-table="club-members-table" data-cookie-storage="localStorage" data-toolbar="#club-members-toolbar" data-show-fullscreen="true" data-show-refresh="true" data-show-columns="true" data-show-columns-toggle-all="true" data-sort-class="table-active" data-sortable="true" data-search="true" data-pagination="true">
                                       <thead>
                                          <tr>
                                             <th data-field="operate" data-formatter="operateMemberFormatter" data-width="50">Op.</th>
                                             <th data-field="first_name" data-cell-style="membersCellStyle" data-sortable="true" data-align="left">{{ lang en="First name" fr="Prénom" de="Vorname" es="Nombre de pila" }}</th>
                                             <th data-field="last_name" data-cell-style="membersCellStyle" data-sortable="true" data-align="left">{{ lang en="Last name" fr="Nom" de="Nachname" es="Apellido" }}</th>
                                             <th data-field="role" data-cell-style="membersCellStyle" data-sortable="true" data-formatter="roleFormatter" data-align="left">{{ lang en="Role" fr="Rôle" de="Rolle" es="Papel" }}</th>
                                             <th data-field="gender" data-cell-style="membersCellStyle" data-sortable="true" data-formatter="genderFormatter" data-align="left">{{ lang en="Gender" fr="Genre" de="Geschlecht" es="Género" }}</th>
                                             <th data-field="freq_list" data-cell-style="membersCellStyle" data-sortable="true" data-align="left">Freq.</th>
                                          </tr>
                                       </thead>
                                    </table>
                                 </div>
                                 <!-- legend -->
                                 <div class="table-legend">
                                    <span class="entrant-club-organizer item-legend">{{ lang en="Organizer/club officer" fr="Encadrant/Organisateur" de="Veranstalter/Clubamtsträger" es="Organizador/Dirigente del club" }}</span>&nbsp&nbsp
                                    <span class="entrant-club-president item-legend">{{ lang en="President" fr="Président" de="Präsident" es="Presidente" }}</span>&nbsp&nbsp
                                    <span class="entrant-club-reject item-legend">{{ lang en='Rejected' fr='Rejeté' de='Abgelehnt' es='Rechazado'}}</span>&nbsp&nbsp
                                 </div>

                              </div>

                           </div>

                        </div>

                        <div class="tab-pane fade" id="contests">
                           <div class="card shadow mb-4 ">
                              <div class="card-header py-3">

                                 <div class="form-inline align-items-center justify-content-between" role="form">

                                    <h6 id="calendarHeading" class="m-0 font-weight-bold text-primary">{{ lang en="Contests list" fr="Liste des compétitions" de="Liste der Wettbewerbe" es="Lista de concursos" }}
                                    </h6>
                                 </div>
                              </div>

                              <div class="card-body">

                                 <div class="table-responsive">
                                    <div id="club-contests-toolbar">
                                       <div class="form-inline" role="form">
                                          <div class="form-group">
                                             <button class="btn-circle border-0 btn-primary show-if-cd" data-toggle="modal" data-target="#newContestModal" hidden><i class="fas fa-plus" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="New contest" fr="Nouvelle compétition" de="Neuer Wettbewerb" es="Nuevo concurso" }}'></i></button>
                                          </div>
                                       </div>
                                    </div>
                                    <table id="club-contest-table" data-cookie="true" {{ lang en="" fr="data-locale='fr-FR'" de="data-locale='de-DE'" es="data-locale='es-ES'" }} data-cookie-id-table="club-contest-table" data-cookie-storage="localStorage" data-toolbar="#club-contests-toolbar" data-toggle="table" data-show-fullscreen="true" data-show-refresh="true" data-show-columns="true" data-show-columns-toggle-all="true" data-sort-class="table-active" data-sortable="true" data-search="true" data-pagination="true">
                                       <thead>
                                          <tr>
                                             <th data-field="operate" data-formatter="operateContestFormatter" data-width="50">Op.</th>
                                             <th data-field="start_datetime" data-cell-style="contestCellStyle" data-formatter="dateFormatter" data-sortable="true" data-align="left">{{ lang en="Date" fr="Date" de="Datum" es="Fecha" }}</th>
                                             <th data-field="name" data-cell-style="contestCellStyle" data-sortable="true" data-align="left">{{ lang en="Name" fr="Nom" de="Name" es="Nombre" }}</th>
                                             <th data-field="categories" data-cell-style="contestCellStyle" data-formatter="categoriesFormatter" data-sortable="true" data-align="left">{{ lang en="Cat." fr="Cat." de="Kat." es="Cat." }}</th>
                                             <th data-field="max_entrant" data-cell-style="contestCellStyle" data-sortable="true" data-align="left">{{ lang en="Entries" fr="Entrées" de="Einträge" es="Entradas" }}</th>
                                             <!--
                                                <th data-field="fly_site_id" data-cell-style="contestCellStyle" data-sortable="true" data-align="left">{{ lang en="Site" fr="Site" de="Seite" es="Sitio" }}</th>
                                                <th data-field="status" data-cell-style="contestCellStyle" data-formatter="statusFormatter" data-sortable="true" data-align="left">{{ lang en="Status" fr="Statut" de="Status" es="Estado" }}</th>
                                             -->
                                          </tr>
                                       </thead>
                                    </table>
                                 </div>
                                 <!-- legend -->
                                 <div class="table-legend">
                                    <span class="calendar-bg-unknown item-legend">{{ lang en="In preparation" fr="En préparation" de="In Vorbereitung" es="En la preparación" }}</span>
                                    <span class="entrant-contest-dir item-legend">{{ lang en="Registration" fr="A l'inscription" de="Anmeldung" es="Registro" }}</span>&nbsp&nbsp
                                    <span class="entrant-waitlist item-legend">{{ lang en="In progress" fr="En cours" de="In Bearbeitung" es="En progreso" }}</span>&nbsp&nbsp
                                    <span class="entrant-cancellation item-legend">{{ lang en="Cancelled" fr="Annulé" de="Abgebrochen" es="Cancelado" }}</span>
                                 </div>

                              </div>

                           </div>
                        </div>

                        <div class="tab-pane fade" id="access">
                           <div class="card shadow mb-4 ">
                              <div class="card-header py-3">

                                 <div class="form-inline align-items-center justify-content-between" role="form">
                                    <h6 id="calendarHeading" class="m-0 font-weight-bold text-primary">{{ lang en="Club access management" fr="Gestion des accès au club" de="Clubzugangsverwaltung" es="Gestión de acceso al club" }}</h6>
                                 </div>
                              </div>

                              <div class="card-body">
                                 <div id="club-access-toolbar">
                                    <div class="form-inline">
                                       <div class="col input-group pl-0 mb-3 my-auto">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-users" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Maximum people allowed into club house and field" fr="Nombre maximum de personnes autorisées dans le club house et sur le terrain" de="Maximal erlaubte Personen in Clubhaus und Feld" es="Máximo de personas permitidas en la casa club y el campo" }}'></i></span>
                                          </div>
                                          <input type="text" id="maxEntrant" class="form-control edit-if-cd" maxlength="2" size="2" disabled>
                                       </div>
                                       <button id="accessHisto" class="btn btn-secondary show-if-cd" onClick="exportAccessHisto()" hidden>{{ lang en="Access log" fr="Journal d'accès" de="Zugriffsprotokoll" es="Registro de acceso"}}</button>
                                    </div>
                                 </div>

                                 <table id="club-access-table" data-cookie="true" {{ lang en="" fr="data-locale='fr-FR'" de="data-locale='de-DE'" es="data-locale='es-ES'" }} data-cookie-id-table="club-access-table" data-cookie-storage="localStorage" data-toggle="table" data-toolbar="#club-access-toolbar" data-show-refresh="true" data-sort-class="table-active" data-sortable="true" data-search="true" data-pagination="true" data-show-footer="true">
                                 </table>
                                 <div class="table-legend">
                                    <span class="access-club-morning item-legend">{{ lang en="Morning" fr="Matin" de="Morgen" es="Mañana" }}</span>&nbsp&nbsp
                                    <span class="access-club-afternoon item-legend">{{ lang en="Afternoon" fr="Après midi" de="Nachmittag" es="Tarde" }}</span>&nbsp&nbsp
                                    <span class="access-club-day item-legend">{{ lang en="Day" fr="Journée" de="Tag" es="Día" }}</span>
                                 </div>

                              </div>
                           </div>
                        </div>

                     </div>

                  </div>
               </div>



            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header rcs-modal-header">
               <h5 class="modal-title" id="addMemberModalLabel">{{ lang en="Add new member" fr="Ajout d'un nouvel adhérant" de="Neues Mitglied hinzufügen" es="Agregar nuevo miembro" }}</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>

            <form name="members" action="" method="post" onsubmit="addModifyEntrant();return false;">
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="form-group row">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">{{ lang en="Members" fr="Adhérants" de="Mitglieder" es="Miembros" }}</span>
                           </div>
                           <select id="member-select" class="form-control selectpicker" data-style="custom-select-rcs" data-live-search="true" required>
                           </select>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col">
                           <div class="form-check">
                              <input class="form-check-input" type="radio" name="role" id="addMemberPilot" value="pi" checked="checked">
                              <label class="form-check-label" for="addMemberPilot">{{ lang en="Pilot" fr="Pilote" de="Pilot" es="Piloto" }}</label>
                           </div>
                           <div class="form-check">
                              <input class="form-check-input" type="radio" name="role" id="addMemberNonPracticing" value="np">
                              <label class="form-check-label" for="addMemberNonPracticing">{{ lang en="Non-Practicing" fr="Non Pratiquant" de="Nicht Praktizierend" es="No Practicante" }}</label>
                           </div>
                        </div>
                        <div class="col">
                           <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="president" id="addMemberPresident" value="pr">
                              <label class="form-check-label" for="addMemberPresident">{{ lang en="President" fr="Président" de="Präsident" es="Presidente" }}</label>
                           </div>
                           <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="organizer" id="addMemberMg" value="mg">
                              <label class="form-check-label" for="addMemberMg">{{ lang en="Officer/Organizer" fr="Encadrant/Organisateur" de="Veranstalter" es="Organizador" }}</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
                  <button id="member-add-modify-button" type="submit" class="btn btn-primary"><i class="fas fa-user"></i>&nbsp;to be defined </button>
               </div>
            </form>

         </div>
      </div>
   </div>


   <div class="modal fade" id="newContestModal" tabindex="-1" role="dialog" aria-labelledby="newContestModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header rcs-modal-header">
               <h5 class="modal-title" id="newContestModalLabel">{{ lang en="Add a new contest" fr="Ajout d'une nouvelle compétition" de="Füge einen neuen Wettbewerb hinzu" es="Agregar un nuevo concurso" }}</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>

            <form action="" method="post" onsubmit="addNewContest();return false;">
               <div class="modal-body">
                  <div class="container-fluid">

                     <div class="form-group row">
                        <div class="col input-group flex-nowrap">
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping"><i class="fas fa-trophy"></i></span>
                           </div>
                           <input id="contestName" type="text" class="form-control" placeholder="{{ lang en='Contest name' fr='Nom du concours' de='Name des Wettbewerbs' es='Nombre del concurso' }}" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col input-group" id="datetimepicker1">
                           <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" title='{{ lang en="Start date" fr="Date début" de="Anfangsdatum" es="Fecha inicio" }}'>
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                           </div>
                           <input type="text" id="contestStartDate" class="form-control" data-target="#datetimepicker1" required />
                        </div>

                        <select id="contestSelectionType" class="selectpicker col-4" data-style="custom-select-rcs" data-width="fit" title="{{ lang en='Type' fr='Type' de='Type' es='Type' }}" data-selected-text-format="count > 0" data-count-selected-text="{0} {{ lang en='Types' fr='Types' de='Typen' es='Tipos' }}">
                           <option value="nat" data-content="<span class='calendar-bg-nat item-legend'>{{ lang en='National' fr='National' de='National' es='Nacional' }}</span>"></option>
                           <option value="loc" data-content="<span class='calendar-bg-loc item-legend'>{{ lang en='Local' fr='Local' de='Lokal' es='Local' }}</span>"></option>
                           <option value="met" data-content="<span class='calendar-bg-met item-legend'>{{ lang en='Meeting' fr='Meeting' de='Meeting' es='Meeting' }}</span>"></option>
                        </select>
                     </div>

                     <div class="form-group row">
                        <div class="col">
                           <select class="selectpicker" id="contestCategories" data-style="custom-select-rcs" data-live-search="true" multiple>
                           </select>
                        </div>
                        <div class="col">
                           <select class="form-control" id="contestSite">
                           </select>
                        </div>
                     </div>

                  </div>

                  <div class="modal-footer">
                     <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
                     <button type="submit" class="btn btn-primary"><i class="fas fa-trophy"></i>&nbsp;{{ lang en="Add" fr="Ajouter" de="Hinzufügen" es="Añadir" }}</button>
                  </div>
            </form>

         </div>

      </div>
   </div>
   </div>

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- turn contest director Modal-->
   <div class="modal fade" id="clubOrganizerModal" tabindex="-1" role="dialog" aria-labelledby="clubOrganizerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header rcs-modal-header">
               <h5 class="modal-title" id="clubOrganizerModalLabel">{{ lang en="Grant/revoke organizer rights?"
                  fr="Accorder/révoquer les droits d'organisateur'?"
                  de="Organisatorrechte gewähren / widerrufen?"
                  es="¿Otorgar/revocar derechos de organizador?"
                  }}</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div id="coModalMsg" class="modal-body"></div>
            <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
               <a id="coOkBut" class="btn text-gray-100 bg-gradient-danger" data-dismiss="modal"><span><i class="far fa-stop-circle"></i></span><span> xxxx</span></a>
            </div>
         </div>
      </div>
   </div>

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
   <script src='/vendor/flatpickr/4.6.13/dist/l10n/{{ lang fr="fr.js" de="de.js" es="es.js" }}'></script>"
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/mapCommon.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

   <script>
      let urlParams = new URLSearchParams(location.search);
      let club_id = urlParams.get('club_id');
      let clubMembersTable, clubContestTable, clubAccessTable;
      let startDateTime;
      let mymap;
      let marker;
      let previousMarker;
      let markers;
      let myCurrentAccessRowId = -1;

      function fillDropdownCountry(country) {
         $('#country-select').empty();
         fetch("/api/v1/op/getCountryList")
            .then(handleErrors)
            .then(function (response) {
               jQuery.each(response.country_name, function (key, value) {
                  let flagName = response.cca2_cca3[key];
                  var img = '<span><img src=\'/json/countries/data/' + flagName.toLowerCase() + '.svg\' style=\'width:25px;height:18px;\'> ' + value + '</span>';
                  $('#country-select').append($('<option value="' + flagName + '" data-content="' + img + '">' + value + '</option>'));
               });
               $('#country-select').selectpicker('refresh');
               $('#country-select').selectpicker('val', country);
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function aggregateAccessResult(fieldName, data, extra) {
         if (extra != null) {
            for (let item of data) {
               if (item.id == extra.row.id)
                  item[fieldName] = undefined;
            }
         }
         let valAM = data.map(row => {
            return row[fieldName];
         }).reduce(function (sum, v) {
            let val = 0;
            if (v == "am")
               val = 1;
            else if (v == "day")
               val = 1;
            return sum + val;
         }, 0);
         let valPM = data.map(row => {
            return row[fieldName];
         }).reduce(function (sum, v) {
            let val = 0;
            if (v == "pm")
               val = 1;
            else if (v == 'day')
               val = 1;
            return sum + val;
         }, 0);
         return { am: valAM, pm: valPM };
      }

      function buildAccesTable(accessTable, dateSpread) {
         let columns = [];
         const curDate = new Date();
         curDate.setHours(8, 0, 0, 0);
         const curFirstDay = curDate.getDate();
         let curMonth = curDate.getMonth();
         let curYear = curDate.getFullYear();
         const curLastDay = 32 - new Date(curYear, curMonth, 32).getDate();

         let nextMonth = curMonth + 1;
         let nextYear = curYear;
         if (curMonth == 11) {
            nextMonth = 0;
            nextYear++;
         }
         const nextDate = new Date(nextYear, nextMonth, 1);

         let nbColCurMonth = 0;
         let nbColNextMonth = 0;
         let colDays = [];
         for (let day = 0; day < dateSpread; day++) {
            let dayIdx = day;
            if (dayIdx > curLastDay)
               dayIdx -= curLastDay;

            let colDate = new Date(curDate.valueOf() + day * 86400000);
            if (colDate.getMonth() == curMonth)
               nbColCurMonth++;
            else
               nbColNextMonth++;

            colDays.push({
               title: colDate.toLocaleString('{{ lang en="en-us" fr="fr-fr" de="de-de" es="es-es"}}', { day: '2-digit', weekday: 'short' }),
               field: "date " + colDate.valueOf(),
               align: "center",
               switchable: false,
               colspanIndex: day + 1,
               fieldIndex: day + 1,
               formatter: function (value, row, index, field) {
                  //console.log(row.name, value, field);
                  if (value == "am")
                     return '<span class="scheduler-cell-type-am-rcs">{{ lang en="am" fr="ma" de="mo" es="ma"}}</span>';
                  else if (value == "pm")
                     return '<span class="scheduler-cell-type-pm-rcs">{{ lang en="pm" fr="am" de="na" es="tar"}}</span>';
                  else if (value == "day")
                     return '<span class="scheduler-cell-type-day-rcs">{{ lang en="day" fr="jou" de="tag" es="día"}}</span>';
                  else
                     return '';
               },
               footerFormatter: function (data, value) {
                  let ret = aggregateAccessResult(this.field, data, null);
                  return '<div style="white-space: nowrap;"><span class="scheduler-footer-cell-type-am-rcs">' + formatDigit(ret.am) + '</span> <span class="scheduler-footer-cell-type-pm-rcs">' + formatDigit(ret.pm) + '</span></div>';
               }/*,
               cellStyle: function cellStyle(value, row, index) {
                  let date = new Date(parseInt(this.fields[index].split(" ")[1]));
                  if (isNaN(date.getTime()))
                     return {};
                  if ((date.getDay() == 0) || (date.getDay() == 6))
                     return { classes: 'scheduler-name-column-rcs' };
                  else
                     return {};
               }*/
            });
         }

         let colMonths = [
            {
               title: '{{ lang en="Name" fr="Nom" de="Name" es="Nombre" }}',
               rowspan: 2,
               field: "name",
               valign: "middle",
               searchable: true,
               sortable: true,
               footerFormatter: function (data, value) {
                  return '{{ lang en="Total" fr="Total" de="Gesamt" es="Total"}}';
               },
               cellStyle: function cellStyle(value, row, index) {
                  return { classes: 'scheduler-name-column-rcs' };
               }
            },
            {
               title: curDate.toLocaleString('{{ lang en="en-us" fr="fr-fr" de="de-de" es="es-es"}}', { month: 'long', year: 'numeric' }),
               field: "curMonth",
               height: 10,
               colspan: nbColCurMonth
            }
         ];
         if (nbColCurMonth > 0) {
            colMonths.push(
               {
                  title: nextDate.toLocaleString('{{ lang en="en-us" fr="fr-fr" de="de-de" es="es-es"}}', { month: 'long', year: 'numeric' }),
                  field: "nextMonth",
                  colspan: nbColNextMonth
               });
         }

         columns.push(colMonths);
         columns.push(colDays);

         accessTable.bootstrapTable('destroy').bootstrapTable({
            columns: columns,
            data: [],
            fixedColumns: true,
            fixedNumber: 1,
            fixedRightNumber: 0,
            uniqueId: "id",
            onClickCell: function (field, value, row, $element) {
               if (row.id !== myCurrentAccessRowId && !currentUser.is_club_manager) {
                  displayModalMsg({
                     type: "error",
                     title: "{{ lang en='Error' fr='Erreur' de='Error' es='Error' }}",
                     message: '{{ lang en="Action not allowed" fr="Action non autorisée" de="Aktion nicht erlaubt" es="Acción no permitida" }} '
                  });
                  return;
               }

               // roll one step forward
               let ret = aggregateAccessResult(field, this.data, { row: row, value: value });
               let newVal;
               if (value == undefined) {
                  if (ret.am < row.maxEntrant)
                     newVal = 'am';
                  else if (ret.pm < row.maxEntrant)
                     newVal = 'pm';
               }
               else if (value == 'am') {
                  if (ret.pm < row.maxEntrant)
                     newVal = 'pm';
               }
               else if (value == 'pm') {
                  if ((ret.am < row.maxEntrant) && (ret.pm < row.maxEntrant))
                     newVal = 'day';
               }
               else
                  newVal = undefined;

               let date = new Date(parseInt(field.split(" ")[1]));
               //let dateStr = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
               let dateStr = getDatetimeFormatted(date, "date-only-us");
               registerAccess(row.id, field, dateStr, newVal);
            },
            headerStyle: function (column) {
               if (column.field == "name")
                  return { css: { 'font-weight': '400' } };
               else if (column.field == "curMonth")
                  return { classes: 'scheduler-header-current-month-rcs' };
               else if (column.field == "nextMonth")
                  return { classes: 'scheduler-header-next-month-rcs' };
               else if (column.field.startsWith("date ")) {
                  let date = new Date(parseInt(column.field.split(" ")[1]));
                  if ((date.getDay() == 0) || (date.getDay() == 6))
                     return { classes: 'scheduler-header-off-day-rcs' };
                  else
                     return { classes: 'scheduler-header-day-rcs' };
               }
            }
         });
      }

      /* onload */
      $(async function () {

         clubMembersTable = $("#club-members-table");
         clubContestTable = $("#club-contest-table");
         clubAccessTable = $("#club-access-table");
         clubMembersTable.bootstrapTable();
         clubContestTable.bootstrapTable();
         buildAccesTable(clubAccessTable, 32);

         createMap();

         await getSessionUserParams({ clubID: club_id })
            .then(function (result) {

               if (currentUser.is_club_manager) {
                  let inputs = document.getElementsByClassName("edit-if-cd");
                  for (let i = 0; i < inputs.length; i++)
                     inputs[i].disabled = false;

                  inputs = document.getElementsByClassName("show-if-cd");
                  for (let i = 0; i < inputs.length; i++)
                     inputs[i].hidden = false;

                  $("#askRegister").hide();

                  clubMembersTable.bootstrapTable("showColumn", "operate");
                  clubContestTable.bootstrapTable("showColumn", "operate");

                  mymap.on("click", function (e) {
                     marker.setLatLng(e.latlng);
                     $("#mouse-position").text(DD2DMS(e.latlng.lat, true) + " " + DD2DMS(e.latlng.lng, false));
                     $("#mouse-position-hidden").text("tito");
                  });
               }
               else {
                  clubMembersTable.bootstrapTable("hideColumn", "operate");
                  clubContestTable.bootstrapTable("hideColumn", "operate");

                  if (currentUser.club_role != "")
                     $("#askRegister").hide();
               }

               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         fetch("/api/v1/getClub?club_id=" + club_id + "&members&fly_site")
            .then(handleErrors)
            .then(function (item) {
               $('#longName').val(item.long_name);
               $('#shortName').val(item.short_name);
               $('#phone').val(item.phone);
               $('#url').val(item.url);
               $('#clubAnchorURL').prop('href', item.url);
               $('#address').val(item.address);
               $('#email').val(item.email);
               $('#clubAnchorEmail').prop('href', 'mailto:' + item.email);
               $('#maxEntrant').val(item.max_entrant);

               clubMembersTable.bootstrapTable('refreshOptions', { data: item.members });

               for (let i in item.members) {
                  let m = item.members[i];
                  if (m.role.includes("pr")) {
                     $('#presidentName').val(m.first_name + " " + m.last_name);
                  }
               }

               if (item.fly_site.length === 0) {
                  item.fly_site = [{
                     gps: "0.0,0.0",
                     id: 0
                  }];
               }

               markers = L.markerClusterGroup();
               let i = 0;
               item.fly_site.forEach(function (data, index) {
                  let gps = data.gps;
                  let gpsTxt = DD2DMS(gps.split(",")[0], true) + " " + DD2DMS(gps.split(",")[1], false);
                  marker = L.marker(gps.split(","), { opacity: 1.0 }).addTo(mymap);
                  marker.bindPopup('<b>{{ lang en="Site" fr="Site" de="Seite" es="Sitio" }} ' + (i + 1) + '</b>&nbsp;<a onClick="removeSite(' + data.id + ')"><i class="fas fa-trash-alt"></i></a><br>' + data.address + '<br>' + gpsTxt);
                  markers.addLayer(marker);
                  //mymap.setView(gps.split(","), 12);
                  $("#site-select").append($('<option value="' + data.id + '">' + data.name + '</option>'));
                  $("#contestSite").append($('<option value="' + data.id + '">' + data.name + '</option>'));
                  $('#mouse-position').text(gpsTxt);
                  $('#mouse-position-hidden').text(data.gps);

                  i++;
               });
               $('#site-select').selectpicker('refresh');

               if (markers.getLayers().length != 0) {
                  mymap.fitBounds(markers.getBounds(), { maxZoom: 17, padding: [10, 10] });
                  previousMarker = marker;
                  marker.setOpacity(0.5);
               }

               fillDropdownCountry(item.country);

               $('#site-select').on('change', function (evt) {
                  if (previousMarker != undefined)
                     previousMarker.setOpacity(1.0);
                  let value = this.selectedIndex;
                  marker = markers.getLayers()[value];
                  marker.setOpacity(0.5);
                  previousMarker = marker;
                  //console.log(marker);
               });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

         refreshClubAccessTable();
         refreshContestTable();

         $('#addMemberModal').on('show.bs.modal', function () {
            $('#member-select').empty();
            let action = $("#addMemberModal").data("action");
            if (action == "add") {
               fetch("/api/v1/getEntrantList?scope=ExceptClubID " + club_id)
                  .then(handleErrors)
                  .then(function (response) {
                     for (const item of response) {
                        let country = item.locale.split("-")[1];
                        let img = '<span><img src=\'image/country-flags/svg/' + country.toLowerCase() + '.svg\' style=\'width:25px;height:18px;\'> ' + item.first_name + ' ' + item.last_name + '</span>';
                        $('#member-select').append($(`<option value="${item.id}" data-content="${img}"></option>`));
                     }
                     $('#member-select').attr('disabled', false);
                     $('#member-select').selectpicker('refresh');
                  })
                  .catch(function (error) {
                     displayErrorMsg(error);
                  });
            } else {
               fetch("/api/v1/getEntrantList?club_id=" + club_id)
                  .then(handleErrors)
                  .then(function (response) {
                     for (const item of response) {
                        let country = item.locale.split("-")[1];
                        let img = '<span><img src=\'image/country-flags/svg/' + country.toLowerCase() + '.svg\' style=\'width:25px;height:18px;\'> ' + item.first_name + ' ' + item.last_name + '</span>';
                        $('#member-select').append($(`<option value="${item.id}" data-content="${img}"></option>`));
                     }
                     $('#member-select').attr('disabled', true);
                     $('#member-select').selectpicker('refresh');

                     let selectID = action.split(" ")[1];
                     if (selectID) {
                        $('#member-select').selectpicker('val', selectID);
                        for (const item of response) {
                           if (item.id == selectID) {
                              if (item.role.includes("pi"))
                                 $("#addMemberPilot").prop("checked", true);
                              else
                                 $("#addMemberNonPracticing").prop("checked", true);

                              $("#addMemberPresident").prop("checked", item.role.includes("pr"));
                              $("#addMemberMg").prop("checked", item.role.includes("mg"));

                              $("#addMemberModal").data("oldRole", item.role);
                           }
                        }
                     }
                  })
                  .catch(function (error) {
                     displayErrorMsg(error);
                  });
            }
         });

         $('#newContestModal').on('show.bs.modal', async function () {

            $("#contestName").val("");
            startDateTime = flatpickr('#contestStartDate', {
               minDate: Date.now(),
               static: true,
               dateFormat: "{{ lang en='Y-m-d h:i K' fr='d M Y H:i' de='d M Y H:i' es='d M Y H:i' }}",
               locale: "{{ lang en='en' fr='fr' de='de' es='es' }}"
            });
            startDateTime.clear();

            let organizations;
            await getOrganizationList()
               .then(function (response) {
                  organizations = response;
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });

            //$("#contestSelectionType").selectpicker('val', undefined);

            $('#contestCategories').empty();
            getCategoryList('all')
               .then(function (response) {

                  for (let organization of organizations) {
                     let optGroup = $('<optgroup>', { label: organization.short_name });

                     jQuery.each(response, function (key, value) {
                        if (value.organizations.includes(organization.short_name))
                           optGroup.append($('<option>', { value: value.code, title: value.code, "data-content": '<span class="text-monospace"><b>' + value.code + '</b></span> ' + value.name }));
                     });

                     $("#contestCategories").append(optGroup);
                  }

                  $('#contestCategories').selectpicker('refresh');
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         });

      });

      function operateMemberFormatter(value, row) {

         let str = '<div style="white-space: nowrap">';
         if (currentUser.is_club_manager) {
            if (row.status == "ar") {
               str += '<button class="btn-circle btn-secondary btn-sm" style="border:0;margin-left:4px;" onClick="onAskValidateEntrant(' + row.id + ',true)"><i class="fas fa-check-circle"></i></button>';
               str += '<button class="btn-circle btn-secondary btn-sm" style="border:0;margin-left:4px;" onClick="onAskValidateEntrant(' + row.id + ',false)"><i class="fas fa-ban"></i></button>';
            } else {
               str += '<button class="btn-circle btn-secondary btn-sm" style="border:0;margin-left:4px;" onClick="onModifyEntrant(' + row.id + ')"><i class="fas fa-pen"></i></button>';
               str += '<button class="btn-circle btn-secondary btn-sm" style="border:0;margin-left:4px;" onClick="askRemoveEntrant(' + row.id + ')"><i class="fas fa-trash"></i></button>';
            }
         }
         str += '</div>';

         return str;
      }

      function operateContestFormatter(value, row) {
         let str = '<div style="white-space: nowrap">';
         if (currentUser.is_club_manager) {
            str += '<button class="btn-circle btn-secondary btn-sm" style="border:0;margin-left:4px;" onClick="modifyContest(' + row.id + ')"><i class="fas fa-pen"></i></button>';
            str += '<button class="btn-circle btn-secondary btn-sm" style="border:0;margin-left:4px;" onClick="askRemoveContest(' + row.id + ')" ><i class="fas fa-trash"></i></button>';
         }
         str += '</div>';

         return str;
      }

      function categoriesFormatter(value) {
         return formatCategories(value);
      }

      function roleFormatter(value, row, index) {
         let str = "";

         if (row.role.includes("pr"))
            str += "{{ lang en='President' fr='Président' de='Präsident' es='Presidente' }} ";
         if (row.role.includes("mg"))
            str += "{{ lang en='Organizer' fr='Organisateur' de='Veranstalter' es='Organizador' }} ";
         if (row.role.includes("pi"))
            str += "{{ lang en='Pilot' fr='Pilote' de='Pilot' es='Piloto' }} ";
         if (row.role.includes("np"))
            str += "{{ lang en='Non praticing' fr='Non pratiquant' de='Nicht üben' es='No practicante' }} ";
         if (row.status.includes("ar"))
            str += "<span class='entrant-registration item-legend'>{{ lang en='Registration pending' fr='Inscription en attente' de='Registrierung ausstehend' es='Registro pendiente' }}</span>";

         return str;
      }

      function genderFormatter(value, row, index) {
         if (value == "m")
            return '{{ lang en="Male" fr="Homme" de="Männlich" es="Hombre"}}';
         else
            return '{{ lang en="Female" fr="Femme" de="Weiblich" es="Hembra"}}';
      }

      function countryFormatter(value, row, index) {
         return '<img src="/json/countries/data/' + value.toLowerCase() + '.svg" style="width:32px;height:16px;">';
      }

      function dateFormatter(value, row, index) {
         return '<a href="contest.html?contest_id=' + row.id + '"><span style="white-space: nowrap">' + value.split(' ')[0] + '</span></a>';
      }

      function statusFormatter(value, row, index) {
         if (row.status == "F")
            return 'Forecast';
         else if (row.status == "A")
            return 'Reg. active';
         else if (row.status == "C")
            return 'Cancelled';
         else if (row.status == "O")
            return 'Complete';
         else return value;
      }

      function membersCellStyle(value, row, index) {
         if (row.status == "ca") {
            return { classes: 'entrant-cancellation' };
         }

         if (row.role.includes("pr")) {
            return { classes: 'entrant-club-president' };
         }
         else if (row.role.includes("mg")) {
            return { classes: 'entrant-club-organizer' };
         }

         return {};
      }

      function contestCellStyle(value, row, index) {
         if (row.status == "A") {
            return { classes: 'entrant-contest-dir' };
         }
         else if (row.status == "C") {
            return { classes: 'entrant-cancellation' };
         }
         else if (row.status == "X") {
            return { classes: 'calendar-bg-unknown' };
         }

         return {};
      }

      function accessCellStyle(value, row, index) {
         if (row.status == "A") {
            return { classes: 'entrant-contest-dir' };
         }
         else if (row.status == "C") {
            return { classes: 'entrant-cancellation' };
         }
         else if (row.status == "X") {
            return { classes: 'calendar-bg-unknown' };
         }

         return {};
      }

      function modifyClub(clubID, data) {
         fetch("/api/v1/modifyClub?club_id=" + clubID, {
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
         })
            .then(handleErrors)
            .then(function (response) {

               displayAlert({
                  type: 'success',
                  msg: '{{ lang en="Club informations are updated" fr="Les informations du club sont mises à jour" de="Clubinformationen werden aktualisiert" es="La información del club se actualiza" }}',
                  divElt: $('#successUpdateAlert'),
                  spanElt: $('#alertMsg')
               });

            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      $('#maxEntrant').on('change', function (evt) {
         let data = {
            max_entrant: $('#maxEntrant').val()
         };

         modifyClub(club_id, data);

      });

      function onModifyClub() {
         let gps = "";
         if (marker != undefined)
            gps = marker.getLatLng().lat + "," + marker.getLatLng().lng;

         let data = {
            long_name: $('#longName').val(),
            short_name: $('#shortName').val(),
            email: $('#email').val(),
            phone: $('#phone').val(),
            address: $('#address').val(),
            url: $('#url').val(),
            gps_outdoor_location: gps,
            country: $("#country-select").selectpicker('val'),
            max_entrant: $('#maxEntrant').val()
         };

         modifyClub(club_id, data);
      }

      function onAddEntrant() {
         $("#member-add-modify-button").html("{{ lang en='Add' fr='Ajouter' de='Hinzufügen' es='Añadir' }}");
         $("#addMemberModal").data("action", "add");
         $("#addMemberModal").modal({ cache: false }, "show");
      }

      function onModifyEntrant(entrantID) {
         $("#addMemberModalLabel").html("{{ lang en='Modify member' fr='Modifier un adhérant' de='Neues Mitglied hinzufügen' es='Agregar nuevo miembro' }}");
         $("#member-add-modify-button").html("{{ lang en='Modify' fr='Modifier' de='Ändern' es='Modificar' }}");
         $("#addMemberModal").data("action", "modify " + entrantID);
         $("#addMemberModal").modal({ cache: false }, "show");
      }

      function askRemoveEntrant(entrantID) {
         displayModalMsg({
            type: "error-question",
            title: '{{ lang en="Remove this member" fr="Supprimer ce membre" de="Entfernen Sie dieses Element" es="Eliminar este miembro" }}',
            message: '{{ lang en="Do you really want to remove this member ?" fr="Voulez-vous vraiment supprimer ce membre ?" de="Möchten Sie dieses Mitglied wirklich entfernen?" es="¿De verdad quieres eliminar a este miembro?" }}',
            ok_callback: function removeCB() { 
               onRemoveEntrant(entrantID); 
            },
            showCancel: true
         });
      }

      function onRemoveEntrant(entrantID) {
         signout("all", entrantID);
      }

      function addModifyEntrant() {
         $("#addMemberModal").modal("hide");
         let action = $("#addMemberModal").data("action");
         let oldRole = $("#addMemberModal").data("oldRole");

         const entrantID = $("#member-select").selectpicker("val");
         const pilotOrNP = document.forms.members.role.value;
         const president = document.forms.members.president.checked;
         const organizer = document.forms.members.organizer.checked;
         let newRole = pilotOrNP;
         if (president)
            newRole += ";pr";
         if (organizer)
            newRole += ";mg";


         if (action.startsWith("modify")) {
            // compute delta bwt old and new role
            let oldRoleList = oldRole.split(";");
            let newRoleList = newRole.split(";");
            // identify role removed
            for (role of oldRoleList) {
               if (!newRoleList.includes(role)) {
                  signout(role, entrantID);
               }
            }

            // identify role addeds
            for (role of newRoleList) {
               if (!oldRoleList.includes(role)) {
                  signin(role, entrantID);
               }
            }
         } else {
            let newRoleList = newRole.split(";");
            for (role of newRoleList) {
               signin(role, entrantID);
            }
         }
      }

      function askRemoveContest(contestID) {
         displayModalMsg({
            type: "error-question",
            title: '{{ lang en="Remove this contest" fr="Supprimer ce concours" de="Entfernen Sie diesen Wettbewerb" es="Eliminar este concurso" }}',
            message: '{{ lang en="Do you really want to remove this contest ?" fr="Voulez-vous vraiment supprimer ce concours ?" de="Möchten Sie diesen Wettbewerb wirklich entfernen?" es="¿Realmente quieres eliminar este concurso?" }}',
            ok_callback: function () { removeContest(contestID); },
            showCancel: true
         });
      }

      function removeContest(contestID) {
         fetch("/api/v1/removeContest?contest_id=" + contestID)
            .then(handleErrors)
            .then(function (/*response*/) {
               refreshContestTable();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function addNewContest() {
         $('#newContestModal').modal('toggle');

         let name = $("#contestName").val();
         let startDate = getDatetimeFormatted(startDateTime.selectedDates[0], "sqlite");
         startDate = startDate.split(" ")[0] + " 09:00:00.000";
         let endDate = startDate.split(" ")[0] + " 18:00:00.000";
         let categories = $("#contestCategories").selectpicker('val');
         let flySiteID = $("#contestSite").val();
         let selectionType = $("#contestSelectionType").selectpicker('val');

         let data = {
            name: name,
            entrant_id: currentUser.entrant_id,
            club_id: club_id,
            start_datetime: startDate,
            end_datetime: endDate,
            categories: categories.join(","),
            fly_site_id: flySiteID,
            selection_type: selectionType
         };

         fetch('/api/v1/createContest', {
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
         })
            .then(handleErrors)
            .then(function (/*response*/) {
               clubContestTable.bootstrapTable('refresh', { url: '/api/v1/getContestList?scope=with_future;all_years&club_id=' + club_id });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function modifyContest(contestID) {
         window.location = "contest.html?contest_id=" + contestID;
      }

      function addNewSite() {
         let gps = "";
         if (marker != undefined)
            gps = marker.getLatLng().lat + "," + marker.getLatLng().lng;

         let data = {
            club_id: club_id,
            name: $('#longName').val(),
            gps: gps,
            country: $("#country-select").selectpicker('val')
         };

         fetch('/api/v1/createSite', {
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
         })
            .then(handleErrors)
            .then(function () {
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function removeSite(flySiteID) {
         fetch('/api/v1/removeSite?site_id=' + flySiteID)
            .then(handleErrors)
            .then(function () {
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function refreshContestTable() {
         clubContestTable.bootstrapTable('refresh', { url: '/api/v1/getContestList?scope=with_future;all_years&club_id=' + club_id });
      }

      function refreshClubMemberTable() {
         fetch("/api/v1/getClub?club_id=" + club_id + "&members")
            .then(handleErrors)
            .then(function (item) {
               clubMembersTable.bootstrapTable('refreshOptions', { data: item.members });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function refreshClubAccessTable() {
         fetch("/api/v1/getClub?club_id=" + club_id + "&accesses")
            .then(handleErrors)
            .then(function (item) {

               let data = [];
               for (let i = 0; i < item.accesses.length; i++) {
                  let row = {};
                  row.maxEntrant = item.max_entrant;
                  row.name = item.accesses[i].first_name + " " + item.accesses[i].last_name;
                  row.id = item.accesses[i].id;
                  if (item.accesses[i].id === currentUser.entrant_id)
                     myCurrentAccessRowId = currentUser.entrant_id;

                  let eventList = item.accesses[i].event_list.split(";");

                  const timeElapsed = Date.now();
                  const today = new Date(timeElapsed);

                  for (const event of eventList) {
                     if (!event.includes("="))
                        continue;

                     let dateStr = event.split("=")[0];
                     let date = new Date(dateStr);
                     date.setHours(8, 0, 0, 0);
                     if (today.getFullYear() != date.getFullYear())
                        continue;
                     if (today.getMonth() != date.getMonth() && (today.getMonth() + 1) != date.getMonth())
                        continue;

                     let duration = event.split("=")[1];
                     row["date " + date.valueOf()] = duration;
                  }
                  data.push(row);
               }
               clubAccessTable.bootstrapTable('refreshOptions', { data: data });

            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function signin(role, entrantID) {
         let procure = "";
         if (entrantID != "")
            procure = "&entrant_id=" + entrantID;
         fetch(`/api/v1/modifyEntrantToClub?club_id=${club_id}&signin&role=${role}${procure}`)
            .then(handleErrors)
            .then(function (response) {
               refreshClubMemberTable();
               refreshClubAccessTable();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function signout(role, entrantID) {
         let procure = "";
         if (entrantID != "")
            procure = "&entrant_id=" + entrantID;
         fetch(`/api/v1/modifyEntrantToClub?club_id=${club_id}&role=${role}${procure}`)
            .then(handleErrors)
            .then(function (response) {
               refreshClubMemberTable();
               refreshClubAccessTable();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function registerAccess(entrantID, field, date, duration) {
         let oper = (duration == undefined) ? "remove" : "add";
         let event = date + "=" + duration;
         let delegation = "";
         if (currentUser.is_club_manager)
            delegation = "&entrant_id=" + entrantID;

         fetch(`/api/v1/modifyEntrantToClub?club_id=${club_id}&access&event=${event}&oper=${oper}${delegation}`)
            .then(handleErrors)
            .then(function (/*response*/) {
               $('#club-access-table').bootstrapTable('updateCellByUniqueId', {
                  id: entrantID,
                  field: field,
                  value: duration
               });
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function suggestEditSite() {
         displayModalMsg({
            type: "error-question",
            title: '{{ lang en="Remove this contest" fr="Supprimer ce concours" de="Entfernen Sie diesen Wettbewerb" es="Eliminar este concurso" }}',
            message: '{{ lang en="Do you really want to remove this contest ?" fr="Voulez-vous vraiment supprimer ce concours ?" de="Möchten Sie diesen Wettbewerb wirklich entfernen?" es="¿Realmente quieres eliminar este concurso?" }}',
            ok_callback: function () { },
            showCancel: true
         });
      }

      function claimSite() {

      }

      function exportAccessHisto() {
         fetch(`/api/v1/getAccessLog?club_id=${club_id}`)
            .then(handleErrors)
            .then(function (response) {
               downloadCSVFromJson(getDatetimeFormatted() + '-access-log.csv', response);
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onAskReg(role) {
         fetch(`/api/v1/askRegistrationToClub?club_id=${club_id}&role=${role}`)
            .then(handleErrors)
            .then(function (/*response*/) {
               refreshClubMemberTable();
               $("#askRegister").hide();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onValidateEntrant(entrantID, validate) {
         fetch(`/api/v1/validateRegistrationToClub?club_id=${club_id}&entrant_id=${entrantID}&value=${validate}`)
            .then(handleErrors)
            .then(function (/*response*/) {
               refreshClubMemberTable();
               if(validate)
                  $("#askRegister").hide();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      function onAskValidateEntrant(entrantID, validate) {

         let type, title, message;

         if (validate) {
            type = "success-question";
            title = "{{ lang en='Accept' fr='Accepter' de='Akzeptieren' es='Aceptar'}}";
            message = "{{ lang en='Do you accept him as member ?' fr='L\'acceptez-vous comme membre?' de='Akzeptierst du ihn als Mitglied?' es='¿Lo acepta como miembro?'}}";
         } else {
            type = "error-question";
            title = "{{ lang en='Reject' fr='Rejeter' de='Ablehnen' es='Rechazar'}}";
            message = "{{ lang en='Do you reject him as member ?' fr='Le rejetez-vous comme membre?' de='Lehnen Sie ihn als Mitglied ab?' es='¿Lo rechazas como miembro?'}}";
         }

         displayModalMsg({
            type: type,
            title: title,
            message: message,
            ok_callback: function validCB() {
               onValidateEntrant(entrantID, validate);
            },
            showCancel: true
         });

      }

   </script>

</body>

</html>