<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/Leaflet/1.7.1/dist/leaflet.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.Default.css">
   <script src="/vendor/Leaflet/1.7.1/dist/leaflet.js"></script>
   <script src="/vendor/Leaflet.markercluster/1.4.1/dist/leaflet.markercluster.js"></script>
</head>

<body id="page-top">

   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}

               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index2.html">{{ lang en="Home" fr="Accueil" de="Home" es="Hogar" }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ lang en="Club" fr="Club" de="Klub" es="Club"
                     }}</li>
               </ol>
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-shield-alt"></i>&nbsp;{{ lang en="Browse clubs"
                  fr="Explorer les clubs" de="Clubs durchsuchen" es="Explorar clubes" }}</h1>
               <p class="mb-4">{{ lang en="General informations (country, location...)" fr="Informations générales
                  (pays, localisation ...)" de="Allgemeine Informationen (Land, Ort ...)" es="Información general (país,
                  ubicación ...)" }}</p>

               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">

                     <div class="d-flex align-items-end">
                        <h6 class="align-self-center mr-auto p-2 m-0 font-weight-bold text-primary"></h6>
                        <div style="z-index:10000;">
                           <select id="country-select" class="selectpicker p-1" data-style="filter-select"
                              data-width="fit" data-live-search="true" multiple title="{{ lang en=" Country" fr="Pays"
                              de="Land" es="País" }}" data-actions-box="true"
                              data-select-all-text="<i class='far fa-check-square'></i>"
                              data-deselect-all-text="<i class='far fa-square'></i>"
                              data-selected-text-format="count > 3"
                              data-count-selected-text="{0} {{ lang en='Countries' fr='Pays' de='Lander' es='Países' }}">
                           </select>
                        </div>

                     </div>
                  </div>

                  <div class="card-body">
                     <div class="table-responsive">

                        <div id="club-toolbar">
                           <div class="form-inline" role="form">
                              <span id="msgToolbar" class="entrant-registration"></span>
                              <div class="form-group">
                                 <button id="signInBut" type="submit" class="btn-circle border-0 btn-primary show-if-sm"
                                    data-toggle="modal" data-target="#newClubModal" hidden><i class="fas fa-plus"
                                       data-toggle="tooltip" data-html="true" data-placement="top"
                                       title='{{ lang en="Add club" fr="Ajouter un Club" de="Club hinzufügen" es="Agregar club" }}'></i></button>
                              </div>&nbsp;&nbsp;
                           </div>
                        </div>
                        <table id="club-table" data-cookie="true" {{ lang fr="data-locale='fr-FR'"
                           de="data-locale='de-DE'" es="data-locale='es-ES'" }} data-cookie-id-table="club-table"
                           data-cookie-storage="localStorage" data-toolbar="#club-toolbar" data-toggle="table"
                           data-show-fullscreen="true" data-show-refresh="true" data-sort-class="table-active"
                           data-sortable="true" data-search="true" data-side-pagination="server" data-pagination="true">
                           <thead>
                              <tr>
                                 <th data-field="operate" data-formatter="operateFormatter" data-switchable="false">{{
                                    lang en="Op." fr="Op." de="Ar." es="Fu." }}</th>
                                 <th data-field="long_name" data-sortable="true" data-formatter="nameFormatter"
                                    data-align="left">{{ lang en="name" fr="Nom" de="Name" es="Nombre" }}</th>
                                 <th data-field="country" data-sortable="true" data-formatter="countryFormatter"
                                    data-align="center">{{ lang en="Country" fr="Pays" de="Land" es="País" }}</th>
                                 <th data-field="state" data-sortable="true" data-align="center">{{ lang en="State"
                                    fr="Dépt." de="Bundesland" es="Estatal"}}</th>
                                 <th data-field="address" data-sortable="true" data-formatter="addrFormatter"
                                    data-align="left">{{ lang en="Address" fr="Adresse" de="Adresse" es="Habla a" }}
                                 </th>
                                 <th data-field="email" data-sortable="true" data-formatter="emailFormatter"
                                    data-align="left">{{ lang en="Email" fr="Courriel" de="Email" es="Email"}}</th>
                                 <th data-field="url" data-sortable="true" data-formatter="siteURLFormatter"
                                    data-align="left">{{ lang en="Site link" fr="Lien site" de="Site link" es="Enlace
                                    del sitio" }}</th>
                              </tr>
                           </thead>
                        </table>

                        <br>
                        <div id="mapid" style="height: 550px;"></div>

                     </div>
                  </div>
               </div>

               <div>

               </div>
               <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {{ include "include/footer.html" }}

         </div>
         <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <a class="scroll-to-top rounded" href="#page-top">
         <i class="fas fa-angle-up"></i>
      </a>

      {{ include "include/basicModal.html" }}
      {{ include "include/clubModal.html" }}
      {{ include "include/loginModal.html" }}
      {{ include "include/logoutModal.html" }}


      <!-- JS --->
      <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
      <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
      <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
      <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
      <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
      <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
      {{ lang fr="
      <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
      de="
      <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
      es="
      <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
      <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
      {{ lang fr="
      <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
      de="
      <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
      es="
      <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
      <script src="/js/sha3.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/mapCommon.js"></script>
      <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

      <script>
         var clubTable;
         var myEntrantID;
         var mymap;
         var currentCountry;
         var currentSearchText = "";
         var markers;
         var useOpenAPI = false;

         async function fillDropdowCountry(country) {
            await fetch("/api/v1/op/getCountryList?scope=club")
               .then(handleErrors)
               .then(function (result) {
                  for (const countryCode of result) {
                     let img = '<span><img src=\'/json/countries/data/' + countryCode.toLowerCase() + '.svg\' style=\'width:25px;height:18px;\'> ' + countryCode + '</span>';
                     $('#country-select').append($('<option value="' + countryCode + '" data-content="' + img + '"></option>'));
                  }

                  $('#country-select').selectpicker('refresh');
                  $('#country-select').selectpicker('val', country);

                  // check first time this page is open (not prefs)
                  if (country.length === 1 && country[0] == "all")
                     $('#country-select').selectpicker('selectAll');

                  // callback when select changed
                  $('#country-select').on('changed.bs.select', function (/*e, clickedIndex, isSelected, previousValue*/) {
                     currentCountry = $('#country-select').selectpicker('val');
                     setUserPrefsValue("cntFilt", currentCountry);
                     markers.clearLayers();
                     mymap.setView([0, 0], 2);
                     refreshMapFromSearchTable(currentCountry, currentSearchText);
                  });

               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         }

         async function fillModalDropdownCountry(country) {
            $('#modal-country-select').empty();
            await fetch("/api/v1/op/getCountryList")
               .then(handleErrors)
               .then(function (response) {
                  jQuery.each(response.country_name, function (key, value) {
                     let flagName = response.cca2_cca3[key];
                     var img = '<span><img src=\'/json/countries/data/' + flagName.toLowerCase() + '.svg\' style=\'width:25px;height:18px;\'> ' + value + '</span>';
                     $('#modal-country-select').append($('<option value="' + flagName + '" data-content="' + img + '">' + value + '</option>'));
                  });
                  $('#modal-country-select').selectpicker('refresh');
                  $('#modal-country-select').selectpicker('val', country);
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         }

         async function refreshMapFromSearchTable(country, text) {
            let countries = country.join(",");

            clubTable.bootstrapTable("refresh", { url: "/api/v1/getClubList?fields=full&countries=" + countries });

            let searchParam = (text != "") ? "&scope=search&search=" + text : "";
            await fetch('/api/v1/getClubList?countries=' + countries + '&fields=site' + searchParam)
               .then(handleErrors)
               .then(function (result) {
                  mymap.removeLayer(markers);
                  markers.clearLayers();
                  result.forEach(function (club/*, index*/) {
                     club.fly_site_list.forEach(function (flySite/*, index*/) {
                        addMarkerMap({ data: { fly_site: flySite }, duplicate: "merge" });
                     });
                  });
                  mymap.addLayer(markers);
                  if (markers.getLayers().length != 0)
                     mymap.fitBounds(markers.getBounds(), { maxZoom: 17, padding: [4, 4] });
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         }

         //
         // onload
         //
         
         $(async function () {

            clubTable = $("#club-table");

            await getSessionUserParams()
               .then(function (result) {
                  myEntrantID = result.entrant_id;

                  if (result.is_country_manager) {
                     let inputs = document.getElementsByClassName('show-if-sm');
                     for (let i = 0; i < inputs.length; i++) {
                        inputs[i].hidden = false;
                     }
                  }
                  else
                     clubTable.bootstrapTable('hideColumn', 'operate');
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });

            currentCountry = getUserPrefsValue("cntFilt", ["all"]);
            currentSearchText = localStorage.getItem("club-table.bs.table.searchText");
            if (currentSearchText == null)
               currentSearchText = "";

            clubTable.on('search.bs.table', function (event, text) {
               currentSearchText = text;
               refreshMapFromSearchTable(currentCountry, currentSearchText);
            });

            refreshMapFromSearchTable(currentCountry, currentSearchText);
            fillDropdowCountry(currentCountry);

            markers = L.markerClusterGroup();
            createMap();

            $('#newClubModal').on('shown.bs.modal', function () {
               fillModalDropdownCountry('{{ lang en="GBR" fr="FRA" de="DEU" es="ESP" }}');
            });

            $('[data-toggle="tooltip"]').tooltip();
         });

         function operateFormatter(value, row) {
            if (currentUser.role.includes(row.country) || currentUser.is_site_manager)
               return '<button class="btn-circle btn-secondary btn-sm" style="border:0;" onclick="askRemoveClub(' + row.id + ')" ><i class="fas fa-trash"></i></button>';
            else
               return '<button class="btn-circle btn-secondary btn-sm contest-op-inactive" style="border:0;" disable><i class="fas fa-trash"></i></button>';
         }

         function nameFormatter(value, row) {
            return '<a href="club-mg.html?club_id=' + row.id + '">' + value + '</a>';
         }

         function siteURLFormatter(value, row) {
            return '<a href="' + row.url + '">' + stringTruncate(row.url, 10) + '</a>';
         }

         function countryFormatter(value, row) {
            return '<img src="/json/countries/data/' + value.toLowerCase() + '.svg" class="country-flag" data-toggle="tooltip" data-html="true" data-placement="top" title="' + value + '">';
         }

         function emailFormatter(value, row) {
            return '<a href="mailto:' + value + '">' + stringTruncate(value, 10) + '</a>';
         }

         function addrFormatter(value, row) {
            return stringTruncate(value, 10);
         }

         function newClub() {
            $("#newClubModal").modal('toggle');

            let country = $("#modal-country-select").selectpicker('val');
            let name = $("#longName").val();

            fetch("/api/v1/createClub?entrant_id=" + myEntrantID + '&country=' + country + '&long_name=' + name)
               .then(handleErrors)
               .then(function (/*response*/) {
                  clubTable.bootstrapTable('refresh', { url: '/api/v1/getClubList?fields=full' });
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });
         }

         function askRemoveClub(clubID) {
            displayModalMsg({
               type: "error-question",
               title: '{{ lang en="Remove this club" fr="Supprimer ce club" de="Entfernen Sie diesen Schläger" es="Eliminar este club" }}',
               message: '{{ lang en="Do you really want to remove this club ?" fr="Voulez-vous vraiment supprimer ce club?" de="Möchten Sie diesen Verein wirklich entfernen?" es="¿De verdad quieres eliminar este club?" }}',
               ok_callback: function () { removeClub(clubID); },
               showCancel: true
            });
         }

         function removeClub(clubID) {
            if (clubID >= 0) {
               fetch("/api/v1/removeClub?club_id=" + clubID)
                  .then(handleErrors)
                  .then(function (/*response*/) {
                     let countries = currentCountry.join(",");
                     clubTable.bootstrapTable('refresh', { url: '/api/v1/getClubList?fields=full&countries=' + countries });
                  })
                  .catch(function (error) {
                     displayErrorMsg(error);
                  });
            }
         }

      </script>

</body>

</html>