<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang='{{ lang en="en" fr="fr" de="de" es="es" }}'>

<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>RC- Contest - {{ lang en="Forgot Password?" fr="Mot de passe oublié?" de="Passwort vergessen?" es="¿Se teolvidó tu contraseña?" }}</title>

   <!-- Favicon --->
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">

   <!-- Custom fonts for this template-->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <!-- <link href="css/rcs.min.css" rel="stylesheet"> -->
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">"

</head>

<body class="bg-gradient-primary">

   <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

         <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
               <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                     <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                     <div class="col-lg-6">
                        <div class="p-5">
                           <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-2"><img src="/image/20 noir.png" height="55" width="55"> {{ lang en="Forgot Your Password?" fr="Mot de passe oublié?" de="Passwort vergessen?" es="¿Olvidaste tu contraseña?" }}</h1>
                              <p class="mb-4">{{ lang en="Just enter your email address below and a new password. we'll send you a link to reset it!"
                                 fr="Entrez simplement votre adresse e-mail ci-dessous et un nouveau mot de passe. nous vous enverrons un lien pour le réinitialiser!"
                                 de="Geben Sie einfach Ihre E-Mail-Adresse und ein neues Passwort ein. Wir senden Ihnen einen Link zum Zurücksetzen!"
                                 es="Simplemente ingrese su dirección de correo electrónico a continuación y una nueva contraseña. ¡te enviaremos un enlace para restablecerlo!" }}</p>
                           </div>
                           <form class="user">
                              <div class="form-group">
                                 <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="{{ lang en='Email Address' fr='Adresse email' de='E-Mail-Addresse' es='Correo electrónico' }}..." autofocus>
                              </div>
                              <div class="form-group row">
                                 <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="{{ lang en='Password' fr='Mot de passe' de='Passwort' es='Contraseña' }}">
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="repeatPassword" placeholder="{{ lang en='Repeat Password' fr='Répéter mot de passe' de='Passwort wiederholen' es='Repite la contraseña' }}">
                                 </div>
                              </div>

                              <a onClick="onReset()" class="btn btn-primary text-gray-100 btn-user btn-block">
                                 {{ lang en="Reset Password" fr="Réinitialiser mot de passe" de="Passwort zurücksetzen" es="Restablecer contraseña" }}
                              </a>
                           </form>
                           <hr>
                           <div class="text-center">
                              <a class="small" href="new-account.html">{{ lang en="Create an Account!" fr="Créer un compte!" de="Ein Konto erstellen!" es="¡Crea una cuenta!" }}</a>
                           </div>
                           <div class="text-center">
                              <a class="small" href="login.html">{{ lang en="Already have an account? Login!" fr="J'ai déjà un compte, m'identifier!" de="Sie haben bereits ein Konto? Anmeldung!" es="¿Ya tienes una cuenta? ¡Iniciar sesión!" }}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>

   </div>

   <!-- errorModal Modal-->
   <div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title title-error" id="errorModalLabel"><i class="fas fa-exclamation-circle"></i>&nbsp;Server
                  error</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body"><span id="errMsg"></span></div>
            <div class="modal-footer">
               <button class="btn btn-danger" type="button" data-dismiss="modal">Ok</button>
            </div>
         </div>
      </div>
   </div>

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <!--<script src="/js/rcs.min.js"></script>-->
   <script>
      function onReset() {

         var email = $('#inputEmail').val();
         var password = $('#inputPassword').val();
         var hash = sha3_512(email + password);

         fetch("/api/v1/op/changePassword?login=" + email + "&new_hash=" + hash)
            .then(function (response) {
               if (response.status == 200)
                  window.location.href = "login.html";
               else {
                  $('#errorModal').modal();
                  $('#errMsg').html(response.statusText);
               }
            });

      }
   </script>

</body>

</html>