<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">
   <link rel="stylesheet" href="//vjs.zencdn.net/8.3.0/video-js.min.css">
</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Search -->
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                        </button>
                     </div>
                  </div>
               </form>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <!--#include file="include/navItemMessage.html"-->

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <!--#include file="include/navItemUser.html"-->

               </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">{{ lang en="General help" fr="Aide générale" de="Allgemeine Hilfe" es="Ayuda general"}}</h1>
               <p class="mb-4">{{ lang en="Documentation, tutorials, exemples." fr="Documentation, tutoriels, exemples." de="Dokumentation, Tutorials, Beispiele." es="Documentación, tutoriales, ejemplos."}}</p>


               <!-- Active contests table
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Documentation" fr="Documentation" de="Dokumentation" es="Documentación"}}</h6>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">

                        <a href="server-help.html">{{ lang en="Standalone server management" fr="Gestion du
                           serveur autonome" de="Eigenständige Serververwaltung" es="Gestión de servidor independiente"}}</a>

                     </div>
                  </div>
               </div>-->
            
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">{{ lang en="General" fr="Général" de="Allgemeine" es="General"}}</h6>
                  </div>
                  <div class="card-body">
                     <a href="/docs/main.html">{{ lang 
                        en="General documentation" 
                        fr="Documentation générale" 
                        de="Allgemeine Dokumentation" 
                        es="Documentación general"}}
                     </a>
                     <br>
                     <hr>
                     <i class="fa-solid fa-video"></i>
                     {{ lang 
                        en="<b>Tutorials</b><br><br><u>Warning</u>> Need internet connection" 
                        fr="<b>Tutoriels</b><br><br><u>Attention</u> Nécessité d'une connexion internet" 
                        de="<b>Tutorials</b><br><br><u>Warnung</u> Internetverbindung erforderlich" 
                        es="<b>Tutorials</b><br><br><u>Advertencia</u> Necesita conexión a Internet"
                     }} <i class="fa-solid fa-wifi"></i> <i class="fa-solid fa-network-wired"></i>
                     <br>
                     <br>
                     <div class="table-responsive mt-2">
                        <nav>
                           <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a class="nav-link active" id="nav-profile-tab" data-toggle="tab" onclick="onSelectionChange('en')" role="tab" aria-controls="nav-profile" aria-selected="true"><!--<img src='/json/countries/data/w40/gb.png' style='width:25px;height:18px;'-->English</a>
                              <a class="nav-link" id="nav-profile-tab" data-toggle="tab" onclick="onSelectionChange('fr')" role="tab" aria-controls="nav-profile" aria-selected="false"><!--<img src='/json/countries/data/w40/fr.png' style='width:25px;height:18px;'>-->Français</a>
                              <a class="nav-link" id="nav-home-tab" data-toggle="tab" onclick="onSelectionChange('de')" role="tab" aria-controls="nav-home" aria-selected="false"><!--<img src='/json/countries/data/w40/de.png' style='width:25px;height:18px;'>-->Deutsch</a>
                              <a class="nav-link" id="nav-profile-tab" data-toggle="tab" onclick="onSelectionChange('es')" role="tab" aria-controls="nav-profile" aria-selected="false"><!--<img src='/json/countries/data/w40/es.png' style='width:25px;height:18px;'>-->Español</a>
                           </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                           <div id="tuto-content" class="row mt-3">
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}
      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <!--Waiting for bootstrap-select to support popper v2
    <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang
   fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.js'></script>"}}
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>
   <script src="//vjs.zencdn.net/8.3.0/video.min.js"></script>

   <script>
      function onTutoSelected(title, url, lang) {
         displayModalMsg({
            type: "info",
            title: title,
            body: `<div class="embed-responsive embed-responsive-16by9">
                     <video id="my-player" class="video-js" controls preload="auto" data-setup="{}" poster="/image/rc-contest-${lang}.png">
                        <source src="${url}" type="video/mp4">
                        </source>
                        <p class="vjs-no-js">
                        {{ lang
                           en="To view this video please enable JavaScript, and consider upgrading to a web browser that"
                           fr="Pour visualiser cette vidéo, veuillez activer JavaScript et envisager de passer à un navigateur web qui"
                           de="Um dieses Video zu sehen, aktivieren Sie bitte JavaScript und verwenden Sie einen Webbrowser, der"
                           es="Para ver este vídeo, active JavaScript y considere la posibilidad de actualizar a un navegador web que"
                        }}              
                        <a href="https://videojs.com/html5-video-support/" target="_blank">
                           supports HTML5 video
                        </a>
                        </p>
                     </video>
                     </div>`,
            ok_callback: function () {
               // not found function for stopping video in videojs()
               let video = document.getElementById("my-player");
               video.remove();
            }
         });
      }

      function encodeHTML2(str) {
         return str
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
      }
      function onSelectionChange(lang) {
         fetch("/json/tuto.jsonc")
            .then(function (response) {
               return response.json();
            })
            .then(function (data) {
               let content = "";
               for (let topic of data) {
                  for (let item of topic.list) {
                     if (item.lang != lang)
                        continue;
                     content += `<div class="col">
                                    <div class="card border-secondary mb-3" style="width: 18rem;">
                                       <div class="card-header">
                                          <div class="d-flex justify-content-between">
                                             <span>${item.level}</span>
                                             <span>${topic.type}</span>
                                             <span><i class="fa-regular fa-clock"></i>&nbsp;${item.duration}</span>
                                          </div>
                                       </div>
                                       <div class="card-body" onClick='onTutoSelected("${encodeHTML2(item.name)}","${item.url}","${item.lang}")' onmouseover="this.style.background='#f8f9fc';this.style.cursor='pointer'" onmouseout="this.style.background='white';">
                                          <h5 class="card-title">${item.name}</h5>
                                          <p class="card-text">${item.summary}</p>
                                       </div>
                                    </div>
                                 </div>`;
                  }
               }

               let elt = document.getElementById("tuto-content");
               elt.innerHTML = content;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      /* onload */
      $(function () {

         getSessionUserParams()
            .then(function (result) {
               currentEntrantID = result.entrant_id;
               onSelectionChange("en");
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

      });
   </script>

</body>

</html>