<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
    {{ include "include/head.html" }}

    <!-- CSS --->
    <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
    <link rel="stylesheet" href="css/rcs.css" type="text/css">
    <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/vendor/font-google/font.min.css">
    <link rel="stylesheet" href="/vendor/quill/1.3.7/quill.snow.css">

</head>

<body id="page-top" onload="onLoad()">

    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column shadow">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top bg-gradient-primary">
                    <img src="/image/18.png" height="60" width="60">&nbsp;&nbsp;
                    <h1 class="h4 mb-2 text-gray-100"><b>RC-Contest</b></h1>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                    </ul>
                    <a class="text-gray-100" href="login.html"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid bg-white">

                    <div class="card-body">

                        <div class="row">
                            <div id="server-name"></div>
                        </div>
                        <div class="row">
                            <div class="contest-note ql-container ql-editor" id="server-desc"></div>
                            <div class="col">
                                <div id="local-server-qrcode"></div>
                                <!--
                                <a id="contest-url" href="" hidden>
                                    <div id="qrcode"></div>
                                    <div id="qrcode-text"></div>
                                </a>
                                -->
                            </div>
                        </div>

                        <!--
                        <button type="button" class="btn btn-primary btn-lg" onclick="win10();"><i class="fab fa-windows"></i>&nbsp;Win
                            10</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="rpi();"><i
                                class="fab fa-raspberry-pi"></i>&nbsp;Raspberry PI</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="macos();"><i
                                class="fab fa-apple"></i></i>&nbsp;mac OS</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="linux();"><i
                                class="fab fa-linux"></i></i>&nbsp;Linux</button>
                        -->

                        <div hidden>
                            <div id="quill-toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-font"></select>
                                    <select class="ql-size"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-header" value="1"></button>
                                    <button class="ql-header" value="2"></button>
                                    <button class="ql-blockquote"></button>
                                    <button class="ql-code-block"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-indent" value="-1"></button>
                                    <button class="ql-indent" value="+1"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-direction" value="rtl"></button>
                                    <select class="ql-align"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                    <button class="ql-image"></button>
                                </span>
                            </div>
                            <div id="quill-editor-container" style="margin-bottom: 1rem;"></div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {{ include "include/footer.html" }}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    {{ include "include/basicModal.html" }}

    <!-- JS --->
    <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="/js/sha3.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>
    <script src="/vendor/qrCodejs/qrcode.min.js"></script>
    <script src="/vendor/quill/1.3.7/quill.min.js"></script>
    <script src="/js/rcs/base.js"></script>
    <script src="/js/rcs/qrcode.js"></script>

    <script>
        let quillEditor;

        //
        // onLoad
        //

        function onLoad() {
            quillEditor = new Quill("#quill-editor-container", {
                modules: { toolbar: "#quill-toolbar-container" },
                placeholder: '{{ lang en="Put your contest description here..." fr="Mettez la description de votre concours ici..." de="Geben Sie hier Ihre Wettbewerbsbeschreibung ein ..." es="Pon la descripción de tu concurso aquí..." }}',
                theme: "snow"
            });

            getLocalServerInfo()
                .then(function (data) {
                    $("#server-name").text(data.server_name);

                    if (data.contest_id != undefined && data.ref_ip_addr) {
                        new RCSQrCode({
                            url: `/module/f5j/contest.html?contest_id=${data.contest_id}`,
                            server_ip: data.ref_ip_addr,
                            element: document.getElementById("local-server-qrcode"),
                            display_url: true,
                            width: 256,
                            height: 256
                        });
                    }

                    if (data.server_description) {
                        let contents = JSON.parse(data.server_description);
                        quillEditor.setContents(contents, "api");
                        let notes = document.querySelector("#quill-editor-container .ql-editor").innerHTML;
                        document.querySelector("#server-desc").innerHTML = notes;
                    } else {
                        document.querySelector("#server-desc").innerHTML = `{{ lang 
                            en="Your local server has no description yet.<br>To do so, local admin must go to his local user account, and click on home page button <img src='image/help/en/home-page.png' width='130' >" 
                            fr="Votre serveur local n'a pas encore de description.<br>Pour ce faire, l'administrateur local doit accéder à son compte d'utilisateur local et cliquer sur le bouton de la page d'accueil <a href='settings.html'><img src='image/help/fr/home-page.png' width='130'></a>" 
                            de="Ihr lokaler Server hat noch keine Beschreibung.<br>Dazu muss der lokale Administrator zu seinem lokalen Benutzerkonto gehen und die erforderlichen Felder ausf&uuml;llen <img src='image/help/de/home-page.png' width='130'>" 
                            es="Su servidor local a&uacute;n no tiene descripci&oacute;n.<br>Para hacerlo, el administrador local debe ir a su cuenta de usuario local y completar los campos obligatorios <img src='image/help/es/home-page.png' width='130'>" 
                        }}`;
                    }
                })
                .catch(function (error) {
                    displayErrorMsg(error);
                });
        }

        /*
            function win10() {
                window.location = "ftp://rc-contest.com/rcs.latest.win10.7z";
            }
            function rpi() {
                window.location = "ftp://rc-contest.com/rcs.latest.rpi.7z";
            }
            function macos() {
                window.location = "ftp://rc-contest.com/rcs.latest.mac.7z";
            }
            function linux() {
                window.location = "ftp://rc-contest.com/rcs.latest.linux.7z";
            }
        */
    </script>

</body>

</html>