<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS -->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/js-year-calendar/2.0.0/dist/js-year-calendar.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">

   <!--
  <link rel="stylesheet" href="/vendor/tippy/6.2.6/dist/tippy.css" type="text/css">
  <link rel="stylesheet" href="/vendor/tippy/6.2.6/themes/light.css" type="text/css">
  <link rel="stylesheet" href="/vendor/tippy/6.2.6/animations/scale-subtle.css" type="text/css">
-->
   <link rel="stylesheet" href="/vendor/Leaflet/1.7.1/dist/leaflet.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.Default.css">
   <script src="/vendor/Leaflet/1.7.1/dist/leaflet.js"></script>
   <script src="/vendor/Leaflet.markercluster/1.4.1/dist/leaflet.markercluster.js"></script>
</head>

<body id="page-top">

   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>


               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}


                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}

               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                     {{ lang en="Home" fr="Accueil" de="Home" es="Hogar" }}</li>
               </ol>
            </nav>


            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">
                  {{ lang en="Events dashboard" fr="Calendrier des événements" de="Termine-Dashboard" es="Panel de
                  eventos" }}
               </h1>
               <p class="mb-4">{{ lang
                  en="Global calendar of aeromodelling contests & meetings<br>Fields location map, wishlist for the
                  current year"
                  fr="Calendrier général des concours et rencontres d'aéromodélisme<br>Carte géographique d'emplacement
                  des terrains, liste de souhaits pour l'année en cours"
                  de="Globaler Kalender für Aeromodelling-Wettbewerbe und -Treffen<br>Feldstandortkarte, Wunschliste für
                  das laufende Jahr"
                  es="Calendario global de concursos de aeromodelismo<br>Mapa de ubicación de campos, lista de deseos
                  para el año actual"
                  }}</p>

               <div class="card shadow mb-4 ">
                  <div class="card-header py-3">

                     <div class="d-flex align-items-end">
                        <h6 class="align-self-center mr-auto p-2 m-0 d-none d-sm-block font-weight-bold text-primary">
                           {{ lang en="Global calendar" fr="Calendrier général" de="Globaler Kalender" es="Calendario
                           global" }}
                        </h6>



                     </div>
                  </div>

                  <div class="card-body">

                  </div>
               </div>


            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   <!-- Scrollable modal -->
   <div class="modal fade" id="allContestModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="allContestModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
            <!--<div class="modal-header">
               <h5 class="modal-title" id="allContestModalLabel">Contests list</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>-->
            <div class="modal-body" id="AllContestBodyModal">
               
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <!--Waiting for bootstrap-select to support popper v2
    <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/vendor/js-year-calendar/2.0.0/dist/js-year-calendar.min.js"></script>
   {{ lang fr="
   <script src='/vendor/js-year-calendar/2.0.0/locales/js-year-calendar.fr.js'></script>"
   de="
   <script src='/vendor/js-year-calendar/2.0.0/locales/js-year-calendar.de.js'></script>"
   es="
   <script src='/vendor/js-year-calendar/2.0.0/locales/js-year-calendar.es.js'></script>" }}
   <!--<script src="/vendor/tippy/6.2.6/dist/tippy.umd.min.js"></script>-->
   <script src="/vendor/tippy/5.1.1/dist/tippy-bundle.iife.min.js"></script>
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.js"></script>
   <script src="/js/sha3.min.js" async></script>
   <script src="/js/main.js"></script>
   <script src="/js/mapCommon.js"></script>
   <script src="/js/indexCommon.js"></script>


   <script>
      let user;
      let currentCategory = ["all"];
      let currentCountry = ["all"];
      let currentEventTypes = ["all"];
      let wich_list_table;
      let calendar;
      let mymap;
      let markers;
      let currentYear;
      let sortDir = "asc";

      async function updates() {
         await fillDropdowCategory();
         await fillDropdowCountry();
         await fillDropdowEventTypes();
         calendar.setDataSource(function () { return getCalendarData(); });
      }
      /* onload */
      $(function () {
         $("#forecastLabelLegend").html(contestStatusChar('F'));
         $("#forecastLabelLegend").addClass(contestStatusClass('F'));
         $("#forecastTextLegend").html(contestStatusText('F'));
         $("#registrationLabelLegend").html(contestStatusChar('A'));
         $("#registrationLabelLegend").addClass(contestStatusClass('A'));
         $("#registrationTextLegend").html(contestStatusText('A'));
         $("#inProgressLabelLegend").html(contestStatusChar('R'));
         $("#inProgressLabelLegend").addClass(contestStatusClass('R'));
         $("#inProgressTextLegend").html(contestStatusText('R'));

         $("#cancelLabelLegend").html(contestStatusChar('C'));
         $("#cancelLabelLegend").addClass(contestStatusClass('C'));
         $("#cancelTextLegend").html(contestStatusText('C'));

         $("#postponedLabelLegend").html(contestStatusChar('P'));
         $("#postponedLabelLegend").addClass(contestStatusClass('P'));
         $("#postponedTextLegend").html(contestStatusText('P'));

         $("#completeLabelLegend").html(contestStatusChar('O'));
         $("#completeLabelLegend").addClass(contestStatusClass('O'));
         $("#completeTextLegend").html(contestStatusText('O'));


         $('#sortSelectionType').on('change', function () {
            sortDir = $("#sortSelectionType input:checked")[0].id;
            calendar.setDataSource(function () { return getCalendarData(); });
         });


         currentYear = getUserPrefsValue("curCalYear", new Date().getFullYear());
         markers = L.markerClusterGroup();

         wich_list_table = $("#wich-list-contest-table");
         wich_list_table.bootstrapTable();

         getSessionUserParams()
            .then(function (result) {
               createCalendar(false, '{{ lang en="en" fr="fr" de="de" es="es" }}');
               createMap();
               createSearchPopper();
               updates();
               updateLastUpdate();

               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      });

      function toggleWishList(contestID, refreshCalendar) {
         //window.event.preventDefault();
         //window.event.stopPropagation();
         fetch("/api/v1/toggleWishList?contest_id=" + contestID)
            .then(handleErrors)
            .then(async function (response) {
               wich_list_table.bootstrapTable('refresh');
               for (let item of tippyElementMap[contestID]) {
                  item.checked = response.result;
               }
               for (let item of elementMap[contestID]) {
                  if (response.result) {
                     //item.style.padding = "1px";
                     item.style.border = "1px solid #A0A0A0";
                  }
                  else {
                     item.style.border = "";
                     //item.style.padding = "";
                  }
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      async function inWishList(contestID) {
         await fetch("/api/v1/inWishList?contest_id=" + contestID)
            .then(handleErrors)
            .then(function (response) {
               return response.result;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

   </script>
</body>

</html>