<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>RC-Contest - {{ lang en="Login" fr="Identification" de="Anmeldung" es="Iniciar sesión" }}</title>

   <!-- Favicon --->
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">

   <!-- Custom fonts for this template-->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="/css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">"

   <!-- Custom styles for this template-->
   <!-- <link href="css/rcs.min.css" rel="stylesheet"> -->
   <link href="css/rcs.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

   <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

         <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
               <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                     <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                     <div class="col-lg-6">
                        <div class="p-5">
                           <div class="text-center" style="margin-bottom:1.5rem;">
                              <h4 class="text-gray-600"><img src="/image/20 noir.png" height="60" width="60">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>RC-Contest</b></h4>
                              <h4 class="text-gray-600"><b>{{ lang en="Login" fr="Identification" de="Anmeldung" es="Iniciar sesión" }}</b></h4>
                           </div>
                           <form class="user">
                              <div class="form-group">
                                 <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="{{ lang en='Enter Email Address...' fr='Entrer une adresse e-mail...' de='E-Mail Adresse eingeben...' es='Introducir correo electrónico...' }}" autocomplete="on" autofocus>
                              </div>
                              <div class="form-group" id="index-html">
                                 <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="{{ lang en='Password' fr='Mot de passe' de='Passwort' es='Contraseña'}}" autocomplete="current-password">
                              </div>
                              <div class="form-group">
                                 <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">{{ lang en="Remember Me" fr="Se souvenir de moi" de="Erinnere dich an mich" es="Recuérdame" }}</label>
                                 </div>
                              </div>
                              <div class="container mt-4" id="alertListLoginFail">
                                 <div id="loginFadeMsg" class="alert alert-success alert-dismissible fade show" style="display:none;margin-top:1em;">
                                    <span class="text-xs" id="loginMsg"></span>
                                 </div>
                              </div>
                              {{ if_master }}
                              <a onClick="onLogin('main-master.html')" class="btn btn-primary btn-user text-gray-100 btn-block">
                                 {{ lang en="Login" fr="S'identifier" de="Anmeldung" es="Iniciar sesión" }}
                              </a>
                              {{ else }}
                              <a id="loginBut" onClick="onLogin('/contest.html')" class="btn btn-primary btn-user text-gray-100 btn-block">
                                 {{ lang en="Login" fr="S'identifier" de="Anmeldung" es="Iniciar sesión" }}
                              </a>
                              {{ endif }}
                              <!--
                                 <hr>
                                 <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=email&access_type=online&redirect_uri=http%3A%2F%2Flocalhost%3A8081%2FOAuth%2Fgoogle&response_type=code&client_id=415368903985-446hhjhofvcrddk6qp3ppu8vr8a4ajlb.apps.googleusercontent.com&state=fromgoogle"
                                 class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i>&nbsp;Login with Google
                                 </a>


                                 <a href="main.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i>&nbsp;Login with Facebook
                                 </a>
                                 -->
                           </form>
                           <hr>
                           <div class="text-center">
                              <a class="small" href="forgot-password.html">{{ lang en="Forgot Password?" fr="Mot de passe oublié?" de="Passwort vergessen?" es="¿Se te olvidó tu contraseña?" }}</a>
                           </div>
                           <div class="text-center">
                              <a class="small" href="new-account.html">{{ lang en="Create an Account!" fr="Créer un compte!" de="Ein Konto erstellen!" es="¡Crea una cuenta!" }}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>

   </div>

   {{ include "include/basicModal.html" }}

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script>
      /* onload */
      $(function () {
         initLogin();
      });
   </script>

</body>

</html>