<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS -->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/js-year-calendar/2.0.0/dist/js-year-calendar.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">

   <!--
  <link rel="stylesheet" href="/vendor/tippy/6.2.6/dist/tippy.css" type="text/css">
  <link rel="stylesheet" href="/vendor/tippy/6.2.6/themes/light.css" type="text/css">
  <link rel="stylesheet" href="/vendor/tippy/6.2.6/animations/scale-subtle.css" type="text/css">
-->
   <link rel="stylesheet" href="/vendor/Leaflet/1.7.1/dist/leaflet.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.css">
   <link rel="stylesheet" href="/vendor/Leaflet.markercluster/1.4.1/dist/MarkerCluster.Default.css">
   <script src="/vendor/Leaflet/1.7.1/dist/leaflet.js"></script>
   <script src="/vendor/Leaflet.markercluster/1.4.1/dist/leaflet.markercluster.js"></script>
</head>

<body id="page-top">

   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Search -->
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                  autocomplete="off" action="" method="post" onsubmit="return false;">
                  <div class="input-group">
                     <input id="generalSearch" autocomplete="off" type="text"
                        class="form-control bg-light border-0 small" placeholder="{{ lang en=" Search for a contest..."
                        fr="Recheche d''une compétition" de="Suche nach einem Wettbewerb ..."
                        es="Buscar un concurso ..." }}" aria-label="Search" aria-describedby="basic-addon2"
                        onkeypress="onSearchChanged()" onkeyup="onSearchChanged()">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                        </button>
                     </div>
                  </div>
               </form>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small"
                                 placeholder="Search for competition..." aria-label="Search"
                                 aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  {{ include "include/navItemMessage.html" }}


                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  {{ include "include/navItemUser.html" }}

               </ul>

            </nav>
            <!-- End of Topbar -->

            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                     {{ lang en="Home" fr="Accueil" de="Home" es="Hogar" }}</li>
               </ol>
            </nav>


            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">
                  {{ lang en="Events dashboard" fr="Calendrier des événements" de="Termine-Dashboard" es="Panel de
                  eventos" }}
               </h1>
               <p class="mb-4">{{ lang
                  en="Global calendar of aeromodelling contests & meetings<br>Fields location map, wishlist for the
                  current year"
                  fr="Calendrier général des concours et rencontres d'aéromodélisme<br>Carte géographique d'emplacement
                  des terrains, liste de souhaits pour l'année en cours"
                  de="Globaler Kalender für Aeromodelling-Wettbewerbe und -Treffen<br>Feldstandortkarte, Wunschliste für
                  das laufende Jahr"
                  es="Calendario global de concursos de aeromodelismo<br>Mapa de ubicación de campos, lista de deseos
                  para el año actual"
                  }}</p>

               <div class="card shadow mb-4 ">
                  <div class="card-header py-3">

                     <div class="d-flex align-items-end">
                        <h6 class="align-self-center mr-auto p-2 m-0 d-none d-sm-block font-weight-bold text-primary">
                           {{ lang en="Global calendar" fr="Calendrier général" de="Globaler Kalender" es="Calendario
                           global" }}
                        </h6>

                        <div id="sortSelectionType" class="align-self-center btn-group btn-group-toggle"
                           data-toggle="buttons">
                           <label class="btn btn-sm btn-secondary active" data-toggle="tooltip" data-html="true"
                              data-placement="top"
                              title="{{ lang en='Display <b>world championships</b> first' fr='Afficher les <b>Championnats du Monde</b> en premier' de='Zeigen Sie zuerst <b>Weltmeisterschaften</b> an' es='Mostrar <b>campeonatos del mundo primero</b>'}}">
                              <input type="radio" name="seltype" id="asc" autocomplete="off" checked><small><i
                                    class="fas fa-sort-amount-up-alt"></i></small>
                           </label>
                           <label class="btn btn-sm btn-secondary" data-toggle="tooltip" data-html="true"
                              data-placement="top"
                              title="{{ lang en='Display <b>trainings</b> first' fr='Afficher les <b>Entrainements</b> en premier' de='Zeigen Sie zuerst die <b>Schulungen</b> an' es='Mostrar primero los <b>entrenamientos</b>'}}">
                              <input type="radio" name="seltype" id="desc" autocomplete="off"> <small><i
                                    class="fas fa-sort-amount-down"></i></small>
                           </label>
                        </div>

                        <select id="event-types-select" class="selectpicker p-1" data-style="btn-primary"
                           data-width="fit" multiple title="{{ lang en='Type' fr='Type' de='Type' es='Type' }}"
                           data-actions-box="true" data-select-all-text="<i class='far fa-check-square'></i>"
                           data-deselect-all-text="<i class='far fa-square'></i>" data-selected-text-format="count > 0"
                           data-count-selected-text="{0} {{ lang en='Types' fr='Types' de='Typen' es='Tipos' }}">
                           <option data-divider="true"></option>
                           <option value="wcs"
                              data-content="<span class='calendar-bg-wcs item-legend'>{{ lang en='World CS' fr='Champ. monde' de='Weltmeisterschaft' es='Campeonato mundial' }}</span>">
                           </option>
                           <option value="ccs"
                              data-content="<span class='calendar-bg-ccs item-legend'>{{ lang en='Continental CS' fr='Champ. conti.' de='Kontinentalmeisterschaft' es='Campeonato continental' }}</span>">
                           </option>
                           <option value="wcc"
                              data-content="<span class='calendar-bg-wcc item-legend'>{{ lang en='World cup event' fr='Selection CdM' de='Welt' es='Mundial' }}</span>">
                           </option>
                           <option value="ccc"
                              data-content="<span class='calendar-bg-ccc item-legend'>{{ lang en='Continental cup event' fr='Selection conti.' de='Kontinental' es='Continental' }}</span>">
                           </option>
                           <option value="nat"
                              data-content="<span class='calendar-bg-nat item-legend'>{{ lang en='National' fr='National' de='National' es='Nacional' }}</span>">
                           </option>
                           <option value="loc"
                              data-content="<span class='calendar-bg-loc item-legend'>{{ lang en='Local' fr='Local' de='Lokal' es='Local' }}</span>">
                           </option>
                           <option value="met"
                              data-content="<span class='calendar-bg-met item-legend'>{{ lang en='Meeting' fr='Meeting' de='Meeting' es='Meeting' }}</span>">
                           </option>
                           <option value="exa"
                              data-content="<span class='calendar-bg-exa item-legend'>{{ lang en='Exam' fr='Examen' de='Prüfung' es='Examen' }}</span>">
                           </option>
                           <option value="tra"
                              data-content="<span class='calendar-bg-tra item-legend'>{{ lang en='Training' fr='Entraînement' de='Ausbildung' es='Capacitación' }}</span>">
                           </option>
                           <!--<option value="oth" data-content="<span class='calendar-bg-unknown item-legend'>{{ lang en='Other' fr='Autre' de='Andere' es='Otro' }}</span>"></option>-->
                        </select>

                        <select id="country-select" class="selectpicker p-1" data-style="btn-primary" data-width="fit"
                           data-live-search="true" multiple
                           title="{{ lang en='Country' fr='Pays' de='Land' es='País' }}" data-actions-box="true"
                           data-select-all-text="<i class='far fa-check-square'></i>"
                           data-deselect-all-text="<i class='far fa-square'></i>" data-selected-text-format="count > 2"
                           data-count-selected-text="{0} {{ lang en='Countries' fr='Pays' de='Lander' es='Países' }}">
                        </select>

                        <select id="category-select" class="selectpicker p-1" data-style="btn-primary"
                           data-width="fit" data-live-search="true" multiple
                           title="{{ lang en='Category' fr='Catégorie' de='Kategorie' es='Categoría' }}"
                           data-actions-box="true" data-select-all-text="<i class='far fa-check-square'></i>"
                           data-deselect-all-text="<i class='far fa-square'></i>" data-selected-text-format="count > 3"
                           data-count-selected-text="{0} {{ lang en='Cat.' fr='Cat.' de='Kat.' es='Cat.' }}">
                        </select>

                     </div>
                  </div>

                  <div class="card-body">
                     <div id="calendar" style="padding-bottom:1.2em;"></div>
                     <hr>
                     <div class="row">
                        <div class="col-3" style="font-size: 0.75rem;">
                           {{ lang en="Last updated" fr="Dernière Maj" de="Zuletzt aktual." es="Última actual." }}:
                           <span id="lastUpdateDate"></span>
                           <span id="lastUpdateTime"></span>
                        </div>
                        <div class="col-9">
                           <div class="table-legend">
                              <span class="calendar-wish">{{ lang en='Wishes' fr='Souhait' de='Wünscht' es='Deseos'
                                 }}</span>
                              <span class="calendar-bg-wcs item-legend">{{ lang en='World champ.' fr='Champ. Monde'
                                 de='Welt' es='Mundial/Continental' }}</span>
                              <span class="calendar-bg-wcc item-legend">{{ lang en='World CS selection' fr='Selection
                                 CdM' de='Auswahl der Weltmeisterschaft' es='Selección campeonato mundial' }}</span>
                              <span class="calendar-bg-nat item-legend">{{ lang en='National' fr='National'
                                 de='National' es='Nacional' }}</span>
                              <span class="calendar-bg-loc item-legend">{{ lang en='Local' fr='Local' de='Lokal'
                                 es='Local' }}</span>
                              <span class="calendar-bg-met item-legend">Meeting</span>
                              <span class="calendar-bg-exa item-legend">{{ lang en='Exam' fr='Examen' de='Prüfung'
                                 es='Examen'}}</span>
                              <span class="calendar-bg-tra item-legend">{{ lang en='Training' fr='Entraînement'
                                 de='Ausbildung' es='Capacitación'}}</span>
                              <span class="calendar-bg-unknown item-legend">{{ lang en="Other" fr="Autre" de="Andere"
                                 es="Otro" }}</span>
                           </div>
                           <div class="table-legend">
                              <span class="badge" id="forecastLabelLegend"></span><span id="forecastTextLegend"></span>
                              <span class="badge" id="registrationLabelLegend"></span><span
                                 id="registrationTextLegend"></span>
                              <span class="badge" id="inProgressLabelLegend"></span><span
                                 id="inProgressTextLegend"></span>
                              <span class="badge" id="postponedLabelLegend"></span><span
                                 id="postponedTextLegend"></span>
                              <span class="badge" id="cancelLabelLegend"></span><span id="cancelTextLegend"></span>
                              <span class="badge" id="completeLabelLegend"></span><span id="completeTextLegend"></span>
                           </div>
                        </div>
                     </div>
                     <div id="mapid" style="height: 550px;"></div>
                  </div>
               </div>

               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary"><i class="a-add-wishlist fas fa-heart"></i>
                        {{ lang en="My wishlist" fr="Ma liste de souhaits" de="Meine Wunschliste" es="Mi lista de
                        deseos" }}
                     </h6>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">
                        <table id="wich-list-contest-table" data-cookie="true" {{ lang fr="data-locale='fr-FR'"
                           de="data-locale='de-DE'" es="data-locale='es-ES'" }}
                           data-cookie-id-table="wich-list-contest-table" data-cookie-storage="localStorage"
                           data-toggle="table" data-show-fullscreen="true" data-show-refresh="true"
                           data-sort-class="table-active" data-sortable="true" data-search="true" data-pagination="true"
                           data-url="/api/v1/getContestList?wish_list">
                           <thead>
                              <tr>
                                 <th data-field="operate" data-formatter="operateFormatter" data-switchable="false">Op
                                 </th>
                                 <th data-field="name" data-formatter="nameFormatter">{{ lang en="Name" fr="Nom"
                                    de="Nachname" es="Apellido" }}</th>
                                 <th data-field="categories" data-formatter="categoriesFormatter" data-sortable="true"
                                    data-align="center">{{ lang en="Cat." fr="Cat." de="Kat." es="Cat." }}</th>
                                 <th data-field="country" data-sortable="true" data-formatter="countryFormatter"
                                    data-align="center">{{ lang en="Country" fr="Pays" de="Land" es="País" }}</th>
                                 <th data-field="start_datetime" data-align="center" data-formatter="dateFormatter">{{
                                    lang en="Start date" fr="Date début" de="Anfangsdatum" es="Fecha inicio" }}</th>
                                 <th data-field="register_deadline" data-align="center" data-formatter="dateFormatter">
                                    {{ lang en="Register deadline" fr="Date limite" de="Anmeldeschluss" es="Fecha
                                    límite" }}</th>
                                 <th data-field="remain_day" data-sortable="true" data-cell-style="cellStyle"
                                    data-align="center" data-formatter="remainFormatter">{{ lang en="Remaining days"
                                    fr="Jours restants" de="Verbleibende Tage" es="Días restantes" }}</th>
                                 <th data-field="pilot_registered" data-sortable="true" data-align="center">{{ lang
                                    en="Registered" fr="Inscrit" de="Eingetragen" es="Registrado" }}</th>
                                 <th data-field="max_entrant" data-sortable="true" data-align="center">{{ lang en="Max
                                    pilots" fr="Pilotes Max" de="Max Piloten" es="Max pilotos" }}</th>
                                 <th data-field="contest_url" data-align="center" data-formatter="contestFormatter">{{
                                    lang en="Site link" fr="Lien site" de="Site-Link" es="Enlace sitio" }}</th>
                                 <th data-field="organiser_email" data-formatter="emailFormatter">{{ lang en="Org.
                                    Email" fr="Courriel org." de="E-Mail Veranst." es="Correo elec. org." }}</th>
                              </tr>
                           </thead>
                        </table>

                     </div>
                  </div>
               </div>

            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}

      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   <!-- Scrollable modal -->
   <div class="modal fade" id="allContestModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="allContestModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
            <!--<div class="modal-header">
               <h5 class="modal-title" id="allContestModalLabel">Contests list</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>-->
            <div class="modal-body" id="AllContestBodyModal">
               
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <!--Waiting for bootstrap-select to support popper v2
    <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/vendor/js-year-calendar/2.0.0/dist/js-year-calendar.min.js"></script>
   {{ lang fr="
   <script src='/vendor/js-year-calendar/2.0.0/locales/js-year-calendar.fr.js'></script>"
   de="
   <script src='/vendor/js-year-calendar/2.0.0/locales/js-year-calendar.de.js'></script>"
   es="
   <script src='/vendor/js-year-calendar/2.0.0/locales/js-year-calendar.es.js'></script>" }}
   <!--<script src="/vendor/tippy/6.2.6/dist/tippy.umd.min.js"></script>-->
   <script src="/vendor/tippy/5.1.1/dist/tippy-bundle.iife.min.js"></script>
   <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.js"></script>
   <script src="/js/sha3.min.js" async></script>
   <script src="/js/main.js"></script>
   <script src="/js/mapCommon.js"></script>
   <script src="/js/indexCommon.js"></script>


   <script>
      let user;
      let currentCategory = ["all"];
      let currentCountry = ["all"];
      let currentEventTypes = ["all"];
      let wich_list_table;
      let calendar;
      let mymap;
      let markers;
      let currentYear;
      let sortDir = "asc";

      async function updates() {
         await fillDropdowCategory();
         await fillDropdowCountry();
         await fillDropdowEventTypes();
         calendar.setDataSource(function () { return getCalendarData(); });
      }
      /* onload */
      $(function () {
         $("#forecastLabelLegend").html(contestStatusChar('F'));
         $("#forecastLabelLegend").addClass(contestStatusClass('F'));
         $("#forecastTextLegend").html(contestStatusText('F'));
         $("#registrationLabelLegend").html(contestStatusChar('A'));
         $("#registrationLabelLegend").addClass(contestStatusClass('A'));
         $("#registrationTextLegend").html(contestStatusText('A'));
         $("#inProgressLabelLegend").html(contestStatusChar('R'));
         $("#inProgressLabelLegend").addClass(contestStatusClass('R'));
         $("#inProgressTextLegend").html(contestStatusText('R'));

         $("#cancelLabelLegend").html(contestStatusChar('C'));
         $("#cancelLabelLegend").addClass(contestStatusClass('C'));
         $("#cancelTextLegend").html(contestStatusText('C'));

         $("#postponedLabelLegend").html(contestStatusChar('P'));
         $("#postponedLabelLegend").addClass(contestStatusClass('P'));
         $("#postponedTextLegend").html(contestStatusText('P'));

         $("#completeLabelLegend").html(contestStatusChar('O'));
         $("#completeLabelLegend").addClass(contestStatusClass('O'));
         $("#completeTextLegend").html(contestStatusText('O'));


         $('#sortSelectionType').on('change', function () {
            sortDir = $("#sortSelectionType input:checked")[0].id;
            calendar.setDataSource(function () { return getCalendarData(); });
         });


         currentYear = getUserPrefsValue("curCalYear", new Date().getFullYear());
         markers = L.markerClusterGroup();

         wich_list_table = $("#wich-list-contest-table");
         wich_list_table.bootstrapTable();

         getSessionUserParams()
            .then(function (result) {
               createCalendar(false, '{{ lang en="en" fr="fr" de="de" es="es" }}');
               createMap();
               createSearchPopper();
               updates();
               updateLastUpdate();

               $('[data-toggle="tooltip"]').tooltip();
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      });

      function toggleWishList(contestID, refreshCalendar) {
         //window.event.preventDefault();
         //window.event.stopPropagation();
         fetch("/api/v1/toggleWishList?contest_id=" + contestID)
            .then(handleErrors)
            .then(async function (response) {
               wich_list_table.bootstrapTable('refresh');
               for (let item of tippyElementMap[contestID]) {
                  item.checked = response.result;
               }
               for (let item of elementMap[contestID]) {
                  if (response.result) {
                     //item.style.padding = "1px";
                     item.style.border = "1px solid #A0A0A0";
                  }
                  else {
                     item.style.border = "";
                     //item.style.padding = "";
                  }
               }
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

      async function inWishList(contestID) {
         await fetch("/api/v1/inWishList?contest_id=" + contestID)
            .then(handleErrors)
            .then(function (response) {
               return response.result;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });
      }

   </script>
</body>

</html>