<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang='{% lang en="en" fr="fr" de="de" es="es" %}'>

<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>RC-Contest - Login</title>

   <!-- Custom fonts for this template-->
   <link rel="stylesheet" href="/vendor/bootstrap/4.6.0/css/bootstrap.min.css" id="bootstrap-css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">"

   <!-- Custom styles for this template-->
   <!-- <link href="css/rcs.min.css" rel="stylesheet"> -->
   <link href="css/rcs.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

   <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

         <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
               <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                     <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                     <div class="col-lg-6">
                        <div class="p-5">
                           <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4"><img src="/image/20 noir.png" height="60"
                                    width="60"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RC-Contest</h1>

                              <h4>
                                 <span id="title"></span>
                              </h4>
                              <br>
                              <span id="msg"></span>
                              <br>
                              <br>

                           </div>
                           <hr>
                           <div class="copyright text-center my-auto small">
                              <span>Copyright © RC-Contest.com 2019-2024 All rights reserved</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>

   </div>

   {{ include "include/basicModal.html" }}

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/js/main.js"></script>
   <!--<script src="/js/rcs.min.js"></script>-->
   <script>
      /* onload */
      $(function () {
         var urlParams = new URLSearchParams(location.search);
         var title = urlParams.get('title');
         var msg = urlParams.get('msg');
         var type = urlParams.get('type');
         var icon = "";

         if (type == "info")
            icon = '<i class="title-info fas fa-exclamation-circle"></i>&nbsp;';
         else if (type == "error")
            icon = '<i class="title-error fas fa-exclamation-triangle"></i>&nbsp;';

         $('#title').html(icon + title);

         $('#msg').html(msg);
      });
   </script>

</body>

</html>