<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>RC-Contest - {{ lang en="Create account" fr="Creation d'un compte" de="Konto erstellen" es="Crear una cuenta" }}</title>

   <!-- Favicon --->
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">

   <!-- Custom fonts for this template-->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">"
</head>

<body class="bg-gradient-primary">

   <div class="container">

      <div class="card o-hidden border-0 shadow-lg my-5">
         <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
               <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
               <div class="col-lg-7">
                  <div class="p-5">
                     <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"><img src="/image/20 noir.png" height="55" width="55"> {{ lang en="Create an Account!" fr="Créer un compte!" de="Ein Konto erstellen!" es="¡Crea una cuenta!" }}</h1>
                        <p class="mb-4">{{ lang en="Fill up minimal informations for registration." fr="Remplissez des informations minimales pour l'inscription." de="Füllen Sie minimale Informationen für die Registrierung aus." es="Rellene información mínima para el registro." }}</p>

                     </div>
                     <form class="user">
                        <div class="form-group row">
                           <div class="col-sm-6 mb-3 mb-sm-0">
                              <input type="text" class="form-control form-control-user" id="firstName"
                                 placeholder="{{ lang en=" First Name" fr="Prénom" de="Vorname" es="Nombre de pila" }}"
                                 autofocus>
                           </div>
                           <div class="col-sm-6">
                              <input type="text" class="form-control form-control-user" id="lastName"
                                 placeholder="{{ lang en=" Last name" fr="Nom" de="Nachname" es="Apellido" }}">
                           </div>
                        </div>
                        <div class="form-group">
                           <input type="email" class="form-control form-control-user" id="inputEmail"
                              placeholder="{{ lang en=" Email Address" fr="Adresse email" de="E-Mail-Addresse"
                              es="Correo electrónico" }}">
                        </div>
                        <div class="form-group row">
                           <div class="col-sm-6 mb-3 mb-sm-0">
                              <input type="password" class="form-control form-control-user" id="inputPassword"
                                 placeholder="{{ lang en=" Password" fr="Mot de passe" de="Passwort" es="Contraseña"
                                 }}">
                           </div>
                           <div class="col-sm-6">
                              <input type="password" class="form-control form-control-user" id="repeatPassword"
                                 placeholder="{{ lang en=" Repeat Password" fr="Répéter le mot de passe"
                                 de="Passwort wiederholen" es="Repite la contraseña" }}">
                           </div>
                        </div>
                        <a onClick="onRegister()" class="btn btn-primary text-gray-100 btn-user btn-block">
                           {{ lang en="Register Account" fr="Créer mon compte" de="Account registrieren" es="Registrar Cuenta" }}
                        </a>
                        <!--
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i>&nbsp;Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i>&nbsp;Register with Facebook
                </a>
              -->
                     </form>
                     <hr>
                     <div class="text-center">
                        <a class="small" href="forgot-password.html">{{ lang en="Forgot Password?" fr="Mot de passe oublié?" de="Passwort vergessen?" es="¿Se te olvidó tu contraseña?" }}</a>
                     </div>
                     <div class="text-center">
                        <a class="small" href="login.html">{{ lang en="Already have an account? Login!" fr="J'ai déjà un compte, m'identifier!" de="Sie haben bereits ein Konto? Anmeldung!" es="¿Ya tienes una cuenta? ¡Iniciar sesión!" }}</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

   {{ include "include/basicModal.html" }}

   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <!--<script src="/js/rcs.min.js"></script>-->
   <script src="/js/main.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script>
      function onRegister() {

         var firstName = $('#firstName').val();
         var lastName = $('#lastName').val();
         var inputEmail = $('#inputEmail').val();
         var inputPassword = $('#inputPassword').val();
         var repeatPassword = $('#repeatPassword').val();

         if (inputPassword == repeatPassword) {
            if (inputPassword == "") {
               $('#errorModal').modal();
               $('#errMsg').html('{{ lang en="password is empty" fr="Le mot de passe est vide" de="Passwort ist leer" es="La contraseña está vacía" }}');
            } else {
               var hash = sha3_512(inputEmail + inputPassword);

               fetch("/api/v1/op/createAccount?first_name=" + firstName + "&last_name=" + lastName + "&email=" + inputEmail + "&hash=" + hash)
                  .then(handleErrors)
                  .then(function (response) {
                     window.location.href = response.redirect;
                  })
                  .catch(function (error) {
                     displayErrorMsg(error);
                  });
            }
         } else {
            $('#errorModal').modal();
            $('#errMsg').html('{{ lang en="Passwords are different" fr="Les mots de passe sont différents" de="Passwörter sind unterschiedlich" es="Las contraseñas son diferentes" }}');
         }
      }

   </script>

</body>

</html>