<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Search -->
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                        </button>
                     </div>
                  </div>
               </form>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <!--#include file="include/navItemMessage.html"-->

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <!--#include file="include/navItemUser.html"-->

               </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">{{ lang en="Results board" fr="Tableau des résultats" de="Ergebnisliste" es="Tablero de resultados"}}</h1>
               <p class="mb-4">{{ lang en=""}}</p>


               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">

                     <div class="d-flex align-items-end">
                        <h6 class="align-self-center mr-auto p-2 m-0 font-weight-bold text-primary"></h6>
                        <div style="z-index:10000;">
                           <select id="country-select" class="selectpicker p-1" data-style="filter-select" data-width="fit" data-live-search="true" multiple title="{{ lang en=" Country" fr="Pays" de="Land" es="País" }}" data-actions-box="true" data-select-all-text="<i class='far fa-check-square'></i>" data-deselect-all-text="<i class='far fa-square'></i>" data-selected-text-format="count > 3" data-count-selected-text="{0} {{ lang en=" Items" fr="Eléments" de="Artikel" es="Artículos" }}">
                           </select>
                        </div>

                     </div>
                  </div>

                  <div class="card-body">
                     <div class="table-responsive">

                        <div id="result-toolbar">
                           <div class="form-inline" role="form">
                              <span id="msgToolbar" class="entrant-registration"></span>
                              <div class="form-group">
                                 <button id="signInBut" type="submit" class="btn-circle border-0 btn-primary show-if-sm" data-toggle="modal" data-target="#newResultModal" hidden><i class="fas fa-plus" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Add club" fr="Ajouter un Club" de="Club hinzufügen" es="Agregar club" }}'></i></button>
                              </div>&nbsp;&nbsp;
                           </div>
                        </div>
                        <table id="result-table" data-cookie="true" {{ lang fr="data-locale='fr-FR'" de="data-locale='de-DE'" es="data-locale='es-ES'" }} data-cookie-id-table="result-table" data-cookie-storage="localStorage" data-toolbar="#result-toolbar" data-toggle="table" data-show-fullscreen="true" data-show-refresh="true" data-sort-class="table-active" data-sortable="true" data-search="true" data-side-pagination="server" data-pagination="true">
                           <thead>
                              <tr>
                                 <th data-field="operate" data-formatter="operateFormatter" data-switchable="false">{{ lang en="Op." fr="Op." de="Ar." es="Fu." }}</th>
                                 <th data-field="long_name" data-sortable="true" data-formatter="nameFormatter" data-align="left">{{ lang en="name" fr="Nom" de="Name" es="Nombre" }}</th>
                                 <th data-field="country" data-sortable="true" data-formatter="countryFormatter" data-align="center">{{ lang en="Country" fr="Pays" de="Land" es="País" }}</th>
                                 <th data-field="state" data-sortable="true" data-align="center">{{ lang en="State" fr="Dépt." de="Bundesland" es="Estatal"}}</th>
                                 <th data-field="address" data-sortable="true" data-formatter="addrFormatter" data-align="left">{{ lang en="Address" fr="Adresse" de="Adresse" es="Habla a" }}</th>
                                 <th data-field="email" data-sortable="true" data-formatter="emailFormatter" data-align="left">{{ lang en="Email" fr="Courriel" de="Email" es="Email"}}</th>
                                 <th data-field="url" data-sortable="true" data-formatter="siteURLFormatter" data-align="left">{{ lang en="Site link" fr="Lien site" de="Site link" es="Enlace del sitio" }}</th>
                              </tr>
                           </thead>
                        </table>

                     </div>
                  </div>


               </div>
               <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {{ include "include/footer.html" }}
         </div>
         <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <a class="scroll-to-top rounded" href="#page-top">
         <i class="fas fa-angle-up"></i>
      </a>

      {{ include "include/basicModal.html" }}
      {{ include "include/loginModal.html" }}
      {{ include "include/logoutModal.html" }}

      <!-- JS --->
      <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
      <!--Waiting for bootstrap-select to support popper v2
    <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
      <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
      <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
      <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
      <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
      <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
      {{ lang fr="
      <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
      de="
      <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
      es="
      <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
      <script src="/vendor/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
      {{ lang fr="
      <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-fr_FR.min.js'></script>"
      de="
      <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-de_DE.min.js'></script>"
      es="
      <script src='/vendor/bootstrap-select/1.13.18/js/i18n/defaults-es_ES.min.js'></script>" }}
      <script src="/js/sha3.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

      <script>
         var urlParams = new URLSearchParams(location.search);
         var contestId = urlParams.get('contest_id');
         var currentEntrantID;
         var result_table;

         result_table = $('#result-table');
         result_table.bootstrapTable();

         /* onload */
         $(function () {

            getSessionUserParams()
               .then(function (result) {
                  currentEntrantID = result.entrant_id;
               })
               .catch(function (error) {
                  displayErrorMsg(error);
               });

         });
      </script>

</body>

</html>