<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.css" type="text/css">
   <link rel="stylesheet" href="/vendor/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <!--#include file="include/navItemMessage.html"-->

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <!--#include file="include/navItemUser.html"-->

               </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">{{ lang en="Standalone server management help"
                  fr="Aide à la gestion du serveur autonome"
                  de="Hilfe zur eigenständigen Serververwaltung"
                  es="Ayuda para la gestión del servidor independiente"}}</h1>
               <p class="mb-4">{{ lang en="How to install, start, update."
                  fr="Comment installer, démarrer, mettre à jour."
                  de="Hilfe zur Installation des Standalone-Servers"
                  es="Cómo instalar, iniciar, actualizar."}}
               </p>

               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Getting Started" fr="Pour commencer"
                        de="Einstieg" es="Empezando"}}</h6>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">

                        <p>{{ lang en="For on the field usage, rc-contest.com provide a standalone server called RCS. You can install this app into PC, Mac, Linux or a Raspberry PI."
                           fr="Pour une utilisation sur le terrain, rc-contest.com fournit un serveur autonome appelé RCS. Vous pouvez installer cette application sur PC, Mac, Linux ou un Raspberry PI."
                           de="Für den Feldeinsatz stellt rc-contest.com einen eigenständigen Server namens RCS zur Verfügung. Sie können diese App auf einem PC, Mac, Linux oder einem Raspberry PI installieren."
                           es="Para uso en el campo, rc-contest.com proporciona un servidor independiente llamado RCS. Puede instalar esta aplicación en PC, Mac, Linux o Raspberry PI."
                           }}</p>

                        <p>{{ lang en="The best solution will be to dedicate a machine with only RCS server installed in without any other programs that could interrupt it.
                           <br><br>
                           A minimalistic Linux distribution is available, optimize for only run RCS server. This distribution based on Raspbian, is only available for Raspberry Pi.
                           <br><br>
                           In a less optimize environment, a executable is also available for Windows, macOS or Linux."
                           fr="La meilleure solution sera de dédier une machine avec uniquement un serveur RCS installé sans aucun autre programme qui pourrait l'interrompre.
                           <br><br>
                           Une distribution Linux minimaliste est disponible, optimisée pour exécuter uniquement le serveur RCS. Cette distribution basée sur Raspbian, n'est disponible que pour Raspberry Pi.
                           <br><br>
                           Dans un environnement moins optimisé, un exécutable est également disponible pour Windows, macOS ou Linux."
                           de="Die beste Lösung besteht darin, einen Computer zu dedizieren, auf dem nur der RCS-Server installiert ist, ohne dass andere Programme ihn unterbrechen könnten.
                           <br><br>
                           Es ist eine minimalistische Linux-Distribution verfügbar, die nur für den RCS-Server optimiert ist. Diese auf Raspbian basierende Distribution ist nur für Raspberry Pi
                           verfügbar.
                           <br><br>
                           In einer weniger optimierten Umgebung ist auch eine ausführbare Datei für Windows, macOS oder Linux verfügbar."
                           es="La mejor solución será dedicar una máquina con solo el servidor RCS instalado sin ningún otro programa que pueda interrumpirlo.
                           <br><br>
                           Está disponible una distribución de Linux minimalista, optimizada para ejecutar solo el servidor RCS. Esta distribución basada en Raspbian, solo está disponible para Raspberry Pi.
                           <br><br>
                           En un entorno menos optimizado, un ejecutable también está disponible para Windows, macOS o Linux."
                           }}
                        </p>

                     </div>
                  </div>
               </div>


               <div class="row">
                  <div class="col">

                     <div class="row justify-content-center">
                        <div class="col-auto">
                           <nav class="nav btn-group" id="main-nav">
                              <a href="#rpi" class="btn btn-outline-primary active" data-toggle="tab"><i class="fab fa-raspberry-pi"></i>&nbsp;Raspberry Pi</a>
                              <a href="#window" class="btn btn-outline-primary" data-toggle="tab" id="location-nav"><i class="fab fa-windows"></i>&nbsp;Windows</a>
                              <!--
                              <a href="#macos" class="btn btn-outline-primary" data-toggle="tab"><i class="fab fa-apple"></i>&nbsp;macOS</a>
                              <a href="#linux" class="btn btn-outline-primary" data-toggle="tab"><i class="fab fa-linux"></i>&nbsp;Linux</a>
                              -->
                           </nav>
                        </div>
                     </div>

                     <div class="tab-content mt-3">

                        <div class="tab-pane fade active show" id="rpi">
                           <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                 <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Installing" fr="Installation"
                                    de="Installation" es="Instalación" }}</h6>
                              </div>

                              <div class="card-body">
                                 <div class="table-responsive">
                                    <p>
                                       <svg class="__rptl-header-logo" aria-hidden="true" focusable="false" height="44" viewBox="0 0 270 57" xmlns="http://www.w3.org/2000/svg" aria-labelledby="__rptl-header-logo">
                                          <title id="__rptl-header-logo">Raspberry Pi</title>
                                          <g fill-rule="nonzero" fill="none">
                                             <path d="M65.275 33.317h-4.477v9.46c0 .29-.235.526-.525.526h-4.57a.525.525 0 0 1-.526-.525V16.55a.525.525 0 0 1 .525-.525h9.61c3.223 0 5.709.718 7.457 2.154a7.437 7.437 0 0 1 2.623 6.09 8.391 8.391 0 0 1-1.208 4.655 8.24 8.24 0 0 1-3.663 2.97l5.635 10.638a.525.525 0 0 1-.464.77h-4.917a.63.63 0 0 1-.56-.342l-4.94-9.643Zm-4.477-4.552h4.534a4.641 4.641 0 0 0 3.278-1.078 3.85 3.85 0 0 0 1.162-2.97 4.122 4.122 0 0 0-1.096-3.034 4.556 4.556 0 0 0-3.363-1.106h-4.515v8.188ZM90.426 42.997a6.562 6.562 0 0 1-.402-1.511 6.551 6.551 0 0 1-5.114 2.192 7.195 7.195 0 0 1-4.937-1.724 5.542 5.542 0 0 1-1.958-4.347 5.73 5.73 0 0 1 2.389-4.946c1.592-1.148 3.894-1.73 6.904-1.742h2.491v-1.162a3.342 3.342 0 0 0-.72-2.248 2.838 2.838 0 0 0-2.277-.843 3.226 3.226 0 0 0-2.145.656 2.13 2.13 0 0 0-.748 1.37.513.513 0 0 1-.513.428h-4.375a.533.533 0 0 1-.524-.596 5.494 5.494 0 0 1 1.054-2.663 7.184 7.184 0 0 1 3.073-2.352 11.2 11.2 0 0 1 4.459-.852 8.848 8.848 0 0 1 5.948 1.883 6.587 6.587 0 0 1 2.202 5.292v8.787a9.948 9.948 0 0 0 .629 3.93.525.525 0 0 1-.47.754h-4.485a.515.515 0 0 1-.48-.306Zm-4.336-3.46c.77.007 1.529-.176 2.21-.534a3.509 3.509 0 0 0 1.5-1.433v-3.485h-2.024c-2.71 0-4.153.937-4.328 2.81l-.019.319a2.166 2.166 0 0 0 .712 1.667 2.764 2.764 0 0 0 1.949.656ZM109.963 37.701a1.745 1.745 0 0 0-.983-1.564 11.18 11.18 0 0 0-3.157-1.021c-4.822-1.012-7.232-3.06-7.232-6.145a5.57 5.57 0 0 1 2.24-4.506 9.031 9.031 0 0 1 5.854-1.808 9.723 9.723 0 0 1 6.173 1.817 5.699 5.699 0 0 1 2.292 4.175.52.52 0 0 1-.525.546h-4.382a.514.514 0 0 1-.514-.435 2.538 2.538 0 0 0-.721-1.485 3.172 3.172 0 0 0-2.342-.759 3.24 3.24 0 0 0-2.117.619c-.483.377-.76.96-.75 1.573.001.603.327 1.158.853 1.452a8.76 8.76 0 0 0 2.876.956 23.54 23.54 0 0 1 3.41.908c2.86 1.05 4.29 2.867 4.29 5.452a5.288 5.288 0 0 1-2.38 4.487 10.264 10.264 0 0 1-6.145 1.715c-1.556.029-3.1-.281-4.524-.91a7.586 7.586 0 0 1-3.1-2.49 5.853 5.853 0 0 1-1.094-2.824.533.533 0 0 1 .523-.596h4.11a.513.513 0 0 1 .513.418c.091.71.46 1.354 1.024 1.793a4.233 4.233 0 0 0 2.66.768c.827.057 1.65-.15 2.352-.59.508-.35.807-.93.796-1.546ZM136.719 33.355a12.159 12.159 0 0 1-2.127 7.503 6.817 6.817 0 0 1-5.742 2.82 6.315 6.315 0 0 1-4.965-2.136v9.03c0 .29-.235.525-.525.525h-4.364a.525.525 0 0 1-.525-.525V23.557a.525.525 0 0 1 .525-.525h4.018c.27 0 .497.206.523.475l.142 1.51a6.363 6.363 0 0 1 5.134-2.36 6.865 6.865 0 0 1 5.826 2.773c1.387 1.848 2.08 4.396 2.08 7.644v.28Zm-5.415-.394a7.982 7.982 0 0 0-1.002-4.365 3.266 3.266 0 0 0-2.913-1.536 3.546 3.546 0 0 0-3.504 1.948v8.3a3.605 3.605 0 0 0 3.541 2.004c2.586 0 3.878-2.117 3.878-6.35ZM158.159 33.355c0 3.247-.694 5.78-2.08 7.597a6.889 6.889 0 0 1-5.808 2.726 6.329 6.329 0 0 1-5.264-2.53l-.191 1.689a.525.525 0 0 1-.522.466h-3.877a.525.525 0 0 1-.525-.525V15.05c0-.29.235-.525.525-.525h4.364a.525.525 0 0 1 .525.525v9.798a6.166 6.166 0 0 1 4.928-2.192 6.945 6.945 0 0 1 5.817 2.726c1.405 1.817 2.108 4.374 2.108 7.672v.3Zm-5.415-.394a8.068 8.068 0 0 0-.974-4.487 3.295 3.295 0 0 0-2.904-1.414 3.572 3.572 0 0 0-3.56 2.117v8a3.62 3.62 0 0 0 3.597 2.135c1.626.093 3.081-.999 3.448-2.585.31-1.23.442-2.498.393-3.766ZM170.555 43.678a9.95 9.95 0 0 1-7.26-2.736 9.722 9.722 0 0 1-2.8-7.288v-.524a12.247 12.247 0 0 1 1.18-5.461 8.666 8.666 0 0 1 3.344-3.71 9.387 9.387 0 0 1 4.936-1.302 8.413 8.413 0 0 1 6.548 2.623c1.593 1.749 2.39 4.228 2.39 7.438v1.685a.525.525 0 0 1-.526.525h-12.383a5.028 5.028 0 0 0 1.583 3.185 4.785 4.785 0 0 0 3.344 1.2 5.886 5.886 0 0 0 4.524-1.837.527.527 0 0 1 .773.026l1.964 2.198c.17.188.182.47.028.672a8.216 8.216 0 0 1-3.036 2.34 10.82 10.82 0 0 1-4.609.966Zm-.618-16.656a3.382 3.382 0 0 0-2.614 1.092 5.65 5.65 0 0 0-1.283 3.124h7.531v-.433a4.034 4.034 0 0 0-.974-2.795 3.492 3.492 0 0 0-2.66-.988ZM193.333 27.525a.523.523 0 0 1-.575.515c-.459-.051-.92-.078-1.382-.081-2.049 0-3.391.693-4.028 2.08v12.739a.525.525 0 0 1-.525.525h-4.364a.525.525 0 0 1-.525-.525V23.557a.525.525 0 0 1 .525-.525h4.096c.277 0 .507.215.524.492l.12 1.924a5.017 5.017 0 0 1 4.514-2.791c.434-.002.867.044 1.29.138a.515.515 0 0 1 .39.515l-.06 4.215ZM207.017 27.525a.523.523 0 0 1-.575.515c-.459-.051-.92-.078-1.382-.081-2.048 0-3.39.693-4.028 2.08v12.739a.525.525 0 0 1-.525.525h-4.364a.525.525 0 0 1-.525-.525V23.557a.525.525 0 0 1 .525-.525h4.096c.277 0 .507.215.524.492l.12 1.924a5.018 5.018 0 0 1 4.514-2.791c.434-.002.867.044 1.29.138a.515.515 0 0 1 .39.515l-.06 4.215ZM217.934 35.64l3.635-12.233a.525.525 0 0 1 .504-.375h4.677a.525.525 0 0 1 .496.697l-7.907 22.721-.45 1.068a6.18 6.18 0 0 1-5.995 3.972 8.368 8.368 0 0 1-2.003-.25.529.529 0 0 1-.395-.513v-3.15a.525.525 0 0 1 .546-.524l.538.02a3.442 3.442 0 0 0 2.035-.492 3.08 3.08 0 0 0 1.19-1.555l.637-1.667-6.857-19.63a.525.525 0 0 1 .496-.697h4.696c.232 0 .437.152.503.374l3.654 12.234ZM245.156 33.692v9.086c0 .29-.235.525-.525.525h-4.57a.525.525 0 0 1-.526-.525V16.55a.525.525 0 0 1 .525-.525h10.117a12.31 12.31 0 0 1 5.405 1.124 8.284 8.284 0 0 1 3.587 3.194 8.91 8.91 0 0 1 1.256 4.712 7.833 7.833 0 0 1-2.745 6.323c-1.83 1.543-4.362 2.314-7.597 2.314h-4.927Zm0-4.553h5.02a4.934 4.934 0 0 0 3.401-1.049 3.816 3.816 0 0 0 1.171-2.998 4.5 4.5 0 0 0-1.18-3.24 4.41 4.41 0 0 0-3.26-1.275h-5.152v8.562ZM263.081 17.786a2.666 2.666 0 0 1 .815-2.005 3.512 3.512 0 0 1 4.431 0 2.86 2.86 0 0 1-.01 4.028 3.473 3.473 0 0 1-4.402 0 2.66 2.66 0 0 1-.834-2.023Zm5.227 25.517h-4.383a.525.525 0 0 1-.525-.525V23.557a.525.525 0 0 1 .525-.525h4.383a.525.525 0 0 1 .525.525v19.22a.525.525 0 0 1-.525.526ZM45.008 32.949a8.74 8.74 0 0 0-3.104-6.182 7.664 7.664 0 0 0-1.44-2.801 8.594 8.594 0 0 0-3.058-5.777c.284-.244.524-.536.708-.862a6.186 6.186 0 0 0 3.63-4.23 5.558 5.558 0 0 0 1.755-3.64 3.481 3.481 0 0 0-.31-1.638 3.114 3.114 0 0 0 .81-3.215c-.606-1.756-2.73-2.896-5.584-3.017a4.497 4.497 0 0 0-3.11-1.065 7.188 7.188 0 0 0-1.678.207 3.821 3.821 0 0 0-1.65-.334 6.458 6.458 0 0 0-3.148.858 2.894 2.894 0 0 0-.38-.025 6.276 6.276 0 0 0-3.551 1.558 10.765 10.765 0 0 0-1.866 1.944 10.768 10.768 0 0 0-1.867-1.944 6.278 6.278 0 0 0-3.55-1.558c-.127 0-.254.008-.38.025a6.46 6.46 0 0 0-3.148-.858 3.822 3.822 0 0 0-1.65.334 7.188 7.188 0 0 0-1.68-.207 4.498 4.498 0 0 0-3.109 1.065c-2.854.12-4.978 1.261-5.585 3.018a3.114 3.114 0 0 0 .812 3.214 3.482 3.482 0 0 0-.31 1.639 5.557 5.557 0 0 0 1.755 3.64 6.186 6.186 0 0 0 3.63 4.229c.183.326.423.618.707.862A8.594 8.594 0 0 0 5.6 23.966a7.663 7.663 0 0 0-1.44 2.801 8.74 8.74 0 0 0-3.104 6.182 8.424 8.424 0 0 0 1.92 6.578c.26 1.31.8 2.549 1.581 3.632a9.452 9.452 0 0 0 2.386 5.514 9.768 9.768 0 0 0 5.262 3.126 12.74 12.74 0 0 0 4.208 2.605 9.763 9.763 0 0 0 13.24 0c1.559-.585 2.988-1.47 4.207-2.605a9.768 9.768 0 0 0 5.262-3.126 9.452 9.452 0 0 0 2.386-5.514 9.311 9.311 0 0 0 1.582-3.632 8.424 8.424 0 0 0 1.919-6.578Z" fill="#000"></path>
                                             <path d="M28.366 4.192a.225.225 0 0 1 .286.24c-.072.672.335.587.432.468a3.526 3.526 0 0 1 3.188-1.53.225.225 0 0 1 .154.363c-.4.593.03.706.19.6 1.631-1.02 3.187-1.023 3.785-.594a.225.225 0 0 1 .013.349c-.604.514-.266.77-.052.692a5.802 5.802 0 0 1 4.74.607.227.227 0 0 1 .006.343 4.493 4.493 0 0 0-1.73 3.018c-.045.396.614.313.891.241a.225.225 0 0 1 .28.21c.026.954-.876 2.002-2.218 2.898-.18.12-.154.408.256.42a.222.222 0 0 1 .191.334c-.478.888-1.13 1.724-3.345 2.298a.227.227 0 0 0-.032.429.217.217 0 0 1 .071.384c-2.207 1.896-7.8 1.148-8.51-2.043a.224.224 0 0 1 .04-.182 21.262 21.262 0 0 1 9.276-7.058.176.176 0 0 0-.087-.34 15.168 15.168 0 0 0-10.074 6.074.227.227 0 0 1-.289.065c-3.585-1.851-.64-7.317 2.538-8.286ZM7.285 12.85a.222.222 0 0 1 .191-.334c.41-.01.436-.299.256-.419C6.39 11.201 5.49 10.153 5.514 9.2a.225.225 0 0 1 .28-.21c.278.072.936.155.891-.241a4.493 4.493 0 0 0-1.73-3.017.227.227 0 0 1 .006-.344 5.802 5.802 0 0 1 4.74-.607c.214.079.552-.178-.052-.692a.225.225 0 0 1 .014-.35c.597-.428 2.153-.426 3.785.594.159.107.589-.006.19-.599a.225.225 0 0 1 .153-.363A3.526 3.526 0 0 1 16.98 4.9c.096.12.503.204.432-.469a.225.225 0 0 1 .286-.239c3.178.97 6.122 6.435 2.537 8.286a.227.227 0 0 1-.289-.065A15.168 15.168 0 0 0 9.873 6.34a.176.176 0 0 0-.088.34 21.262 21.262 0 0 1 9.276 7.057c.04.052.054.119.04.183-.71 3.19-6.303 3.938-8.51 2.042a.217.217 0 0 1 .071-.384.227.227 0 0 0-.031-.429c-2.216-.574-2.867-1.41-3.346-2.298Z" fill="#46AF4B"></path>
                                             <path d="M37.158 22.605c.92 2.446.203 3.622-1.978 2.377a15.632 15.632 0 0 1-4.58-3.84c-1.644-1.952-.576-2.821 2.012-2.352a6.985 6.985 0 0 1 4.546 3.815ZM27.375 19.853c3.12 2.593-.454 4.428-4.343 4.428-3.89 0-7.463-1.835-4.344-4.428a6.935 6.935 0 0 1 8.687 0ZM8.906 22.605a6.985 6.985 0 0 1 4.545-3.815c2.588-.47 3.656.4 2.013 2.352a15.632 15.632 0 0 1-4.58 3.84c-2.182 1.245-2.898.069-1.978-2.377ZM4.394 36.196a6.983 6.983 0 0 1 .518-5.942c1.153-1.96 2.313-1.883 2.773-.222.585 2.29.373 4.712-.6 6.867-.854 1.696-1.921 1.123-2.691-.703ZM12.704 48.896A6.942 6.942 0 0 1 7.482 42.7c.433-10.066 14.94 7.91 5.222 6.196ZM12.999 36.358c-2.433-1.404-3.077-4.844-1.438-7.682 1.639-2.839 4.94-4 7.372-2.596 2.433 1.404 3.077 4.844 1.438 7.682-1.639 2.839-4.94 4-7.372 2.596ZM27.091 52.737a6.947 6.947 0 0 1-8.119 0c-2.41-1.664.015-3.58 4.06-3.58s6.47 1.916 4.06 3.58Z" fill="#CD2355"></path>
                                             <ellipse fill="#CD2355" cx="23.032" cy="41.795" rx="5.647" ry="4.84">
                                             </ellipse>
                                             <path d="M25.692 33.762c-1.639-2.838-.995-6.278 1.438-7.682 2.433-1.405 5.734-.243 7.372 2.596 1.64 2.838.995 6.278-1.438 7.682-2.432 1.405-5.733.243-7.372-2.596ZM33.36 48.896C23.64 50.61 38.149 32.634 38.58 42.7a6.941 6.941 0 0 1-5.221 6.196ZM41.67 36.196c-.77 1.826-1.838 2.399-2.691.703a10.417 10.417 0 0 1-.6-6.867c.46-1.66 1.62-1.739 2.772.222a6.983 6.983 0 0 1 .518 5.942Z" fill="#CD2355"></path>
                                          </g>
                                       </svg>
                                    </p>
                                    <p>{{ lang en="For performance reason, we recommend to use a Raspberry Pi 3B+ or upper with SD card of 4GB."
                                       fr="Pour des raisons de performances, nous vous recommandons d'utiliser un
                                       Raspberry Pi 3B+ ou supérieur avec une carte SD de 4 Go."
                                       de="Aus Leistungsgründen empfehlen wir die Verwendung eines Raspberry Pi 3B+ oder
                                       höher mit einer SD-Karte von 4GB."
                                       es="Por motivos de rendimiento, recomendamos utilizar una Raspberry Pi 3B + o
                                       superior con tarjeta SD de 4GB."}}</p>
                                    <div>
                                       <ul>
                                          <li>{{ lang en="Download the latest image" fr="Téléchargez la dernière image"
                                             de="Laden Sie das neuesteBild
                                             herunter" es="Descarga la última imagen"}} <a href='ftp://rc-contest.com/rcs.server.latest.rpi.arm6.img.zip'>rcs.server.latest.rpi.arm6.img.zip</a>
                                          </li>
                                          <li>{{ lang en="Launch <a href='https://www.raspberrypi.org/software/'>Raspberry Pi Imager</a>"
                                             fr="Lancez <a href='https://www.raspberrypi.org/software/'>Raspberry Pi
                                                Imager</a>"
                                             de="Starten Sie <a href='https://www.raspberrypi.org/software/'>Raspberry
                                                Pi Imager</a>"
                                             es="Inice <a href='https://www.raspberrypi.org/software/'>Raspberry Pi
                                                Imager</a>"}}</li>

                                          <li>{{ lang en="Choose <b>'Use custom image'</b> option for Operating System"
                                             fr="Choisissez l'option 'Utiliser une image personnalisée' pour le système
                                             d'exploitation"
                                             de="Wählen Sie die Option 'Benutzerdefiniertes Image verwenden' für das
                                             Betriebssystem"
                                             es="Elija la opción 'Usar imagen personalizada' para el sistema operativo"
                                             }}</li>
                                          <li>{{ lang en="Click on the <b>Write</b> button to begin writing data to the
                                             SD Card" fr="Cliquez sur le bouton <b>Écrire</b> pour commencer à écrire
                                             des données sur la carte SD" de="Klicken Sie auf die Schaltfläche
                                             <b>Schreiben</b>, um
                                             mit dem Schreiben von Daten auf die SD-Karte zu beginnen" es="Haga clic en
                                             el botón <b>Escribir</b> para comenzar a escribir datos en la tarjeta SD"}}
                                          </li>
                                          <li>{{ lang en="Once write done, insert the SD card into the Raspberry Pi"
                                             fr="Une fois l'écriture terminée, insérez la carte SD dans le Raspberry Pi"
                                             de="Sobald der Schreibvorgang abgeschlossen ist, legen Sie die SD-Karte in
                                             den Raspberry Pi ein"
                                             es="Una vez que haya terminado de escribir, inserte la tarjeta SD en la
                                             Raspberry Pi"}}
                                          </li>
                                          <li>
                                             {{ lang en="Connect a monitor using HDMI cable and a keyboard using USB
                                             cable"
                                             fr="Connectez un moniteur à l'aide d'un câble HDMI et un clavier à l'aide
                                             d'un câble USB"
                                             de="Verbinden Sie einen Monitor mit einem HDMI-Kabel und eine Tastatur mit
                                             einem USB-Kabel"
                                             es="Conecte un monitor con un cable HDMI y un teclado con un cable USB"
                                             }}
                                          </li>
                                          <li>
                                             {{ lang en="Connect the device to your local network and power it up"
                                             fr="Connectez l'appareil à votre réseau local et allumez-le"
                                             de="Verbinden Sie das Gerät mit Ihrem lokalen Netzwerk und schalten Sie es
                                             ein"
                                             es="Conecte el dispositivo a su red local y enciéndalo"
                                             }}
                                          </li>
                                       </ul>

                                       <p>{{ lang en="After booting, local IP address of your server is located inside
                                          red rectangle in prompt line."
                                          fr="Après le démarrage, l'adresse IP locale de votre serveur est située à
                                          l'intérieur du rectangle rouge dans la ligne d'invite."
                                          de="Nach dem Booten befindet sich die lokale IP-Adresse Ihres Servers
                                          innerhalb des roten Rechtecks in der Eingabeaufforderungszeile."
                                          es="Después de arrancar, la dirección IP local de su servidor se encuentra
                                          dentro del rectángulo rojo en la línea de solicitud."}}
                                       </p>
                                       <img class="img-fluid" src="image/help/login-ip.png" alt="">
                                       <br><br>

                                       <p>
                                          {{ lang en="You could access to the local site from your favorite web browser,
                                          by entering following URL: https://[Server IP address]/loging.html"
                                          fr="Vous pouvez accéder au site local à partir de votre navigateur Web
                                          préféré, en entrant l'URL suivante : https://[Adresse IP du
                                          serveur]/loging.html"
                                          de="Sie können über Ihren bevorzugten Webbrowser auf die lokale Site
                                          zugreifen, indem Sie die folgende URL eingeben:
                                          https://[Server-IP-Adresse]/loging.html"
                                          es="Puede acceder al sitio local desde su navegador web favorito, ingresando
                                          la siguiente URL: https: // [dirección IP del servidor] /loging.html"}}

                                       </p>
                                       <div>
                                          <br>
                                          <u>
                                             <h5>{{ lang en="For advanced user only" fr="Pour utilisateur avancé
                                                uniquement"
                                                de="Nur für fortgeschrittene Benutzer" es="Solo para usuarios
                                                avanzados"}}
                                             </h5>
                                          </u>
                                       </div>
                                       <p>
                                          {{ lang en="Once Raspberry PI is booted you can have a direct access to the
                                          console, by plugging a monitor and keyboard, SSH access is enabled."
                                          fr="Une fois Raspberry PI démarré, vous pouvez avoir un accès direct à la
                                          console, en branchant un moniteur et un clavier, l'accès SSH est activé."
                                          de="Sobald Raspberry PI gebootet ist, können Sie direkt auf die Konsole
                                          zugreifen, indem Sie einen Monitor und eine Tastatur anschließen, der
                                          SSH-Zugriff ist aktiviert." es="Una vez que se inicia Raspberry PI, puede
                                          tener acceso directo a la consola conectando un monitor y un teclado, el
                                          acceso SSH está habilitado."
                                          }}
                                       </p>

                                       <p>{{ lang en="The default user name is <b>pi</b>, with password
                                          <b>rcsadmin</b>. Attention: The default keyboard layout is set to United
                                          Kingdom (UK)" fr="Le nom d'utilisateur par défaut est <b>pi</b>, avec le mot
                                          de passe <b>rcsadmin</b>. Attention: Le reglage du clavier par défaut est
                                          définie sur Royaume-Uni (UK)" de="Der Standardbenutzername ist <b>pi</b>>, mit
                                          dem Passwort <b>rcsadmin</b>. Beachtung: Das Standard-Tastaturlayout ist auf
                                          Großbritannien (UK) eingestellt." es="El nombre de usuario predeterminado es
                                          <b>pi</b>>, con contraseña <b>rcsadmin</b>. Atención: La distribución del
                                          teclado predeterminada se establece en Reino Unido (Reino Unido)"}}
                                       </p>

                                       <p>
                                          {{ lang en="We strongly recommend to change password by using <span class='badge badge-secondary'>passwd</span>. You can complete configuration
                                          (for locale, keyboard or Wifi) by using
                                          <span class='badge badge-secondary'>sudo raspi-config</span>." fr="Nous vous
                                          recommandons fortement de changer le mot de passe en utilisant <span class='badge badge-secondary'>passwd</span>. Vous
                                          pouvez terminer la configuration (pour les paramètres régionaux, le clavier ou
                                          le Wifi) en utilisant <span class='badge badge-secondary'>sudo
                                             raspi-config</span>." de="Wir empfehlen dringend, das Passwort mit <span class='badge badge-secondary'>passwd</span>
                                          zu ändern. Sie können die Konfiguration (für Gebietsschema, Tastatur oder
                                          Wifi) mit <span class='badge badge-secondary'>sudo raspi-config</span>
                                          abschließen."
                                          es="Recomendamos encarecidamente cambiar la contraseña mediante <span class='badge badge-secondary'>passwd</span>. Puede
                                          completar la configuración (para configuración regional, teclado o Wifi)
                                          usando <span class='badge badge-secondary'>sudo raspi-config</span>."}}
                                       </p>
                                       <img class="img-fluid" src="image/help/raspi-config.png" alt="">



                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="tab-pane fade" id="window">
                           <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                 <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Installing" fr="Installation" de="Installation" es="Instalación" }}</h6>
                              </div>

                              <div class="card-body">
                                 <div class="table-responsive">

                                    <img src="image/help/win10.png" alt="windows 10" width="200">

                                    <p>{{ lang en="For performance reason, we recommend the use a Intel core I7 or upper."
                                       fr="Pour des raisons de performances, nous vous recommandons d'utiliser un processeur Intel Core I7 ou supérieur."
                                       de="Aus Leistungsgründen empfehlen wir die Verwendung eines Intel Core I7 oder höher."
                                       es="Por motivos de rendimiento, recomendamos el uso de Intel Core I7 o superior."}}
                                    </p>
                                    <div>
                                       <ul>
                                          <li>{{ lang en="Download the latest version" fr="Téléchargez la dernière
                                             version"
                                             de="Laden Sie die neueste Version herunter" es="Descargue la última
                                             versión"}} <a href='ftp://rc-contest.com/rcs.latest.win10.7z'>rcs.latest.win10.7z</a>
                                          </li>
                                          <li>{{ lang en="Choose a directory and unzip with"
                                             fr="Choisissez un répertoire et décompressez avec"
                                             de="Wählen Sie ein Verzeichnis und entpacken Sie es mit"
                                             es="Elija un directorio y descomprímalo con"}} <a href='https://www.7-zip.org'>7z</a>
                                          </li>
                                          <li>{{ lang en="Open a DOS console and launch server with <span class='badge badge-secondary'>start.bat</span> command"
                                             fr="Ouvrez une console DOS et lancez le serveur avec la commande <span class='badge badge-secondary'>start.bat</span>"
                                             de="Öffnen Sie eine DOS-Konsole und starten Sie den Server mit dem Befehl <span class='badge badge-secondary'>start.bat</span>"
                                             es="Abra una consola DOS e inicie el servidor con el comando <span class='badge badge-secondary'>start.bat</span>"}}
                                          </li>
                                          <img class="img-fluid" src="image/help/win10-terminal.png" alt="">
                                          <li>{{ lang en="Notice that IP address V4 of the server in inside red rectangle"
                                             fr="Notez que l'adresse IP V4 du serveur dans le rectangle rouge à l'intérieur"
                                             de="Beachten Sie, dass die IP-Adresse V4 des Servers innerhalb des roten Rechtecks"
                                             es="Observe que la dirección IP V4 del servidor en el interior del rectángulo rojo"}}
                                          </li>
                                          <li>{{ lang en="Open your favorite Web browser (Google Chrome recommended) and enter following URL"
                                             fr="Ouvrez votre navigateur Web préféré (Google Chrome recommandé) et entrez l'URL suivante"
                                             de="Öffnen Sie Ihren bevorzugten Webbrowser (Google Chrome empfohlen) und geben Sie die folgende URL ein"
                                             es="Abra su navegador web favorito (se recomienda Google Chrome) e ingrese la siguiente URL"}}
                                          </li>
                                          <li>
                                             <a href="https://localhost/login.html">https://localhost/login.html</a>
                                          </li>
                                          <img class="img-fluid" src="{{ lang en='image/help/en/login.html.png' fr='image/help/fr/login.html.png' de='image/help/de/login.html.png' es='image/help/es/login.html.png'}}" alt="">
                                          <li>{{ lang en="Default local administrator credentials are <b>admin/admin</b>"
                                             fr="Les informations d'identification par défaut de l'administrateur local sont <b>admin/admin</b>"
                                             de="Die Standardanmeldeinformationen des lokalen Administrators sind <b>admin/admin</b>"
                                             es="Las credenciales de administrador local predeterminadas son <b>admin/admin</b>"}}
                                          </li>
                                       </ul>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="tab-pane fade" id="macos">
                           <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                 <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Installing" fr="Installation" de="Installation" es="Instalación" }}</h6>
                              </div>

                              <div class="card-body">
                                 <div class="table-responsive">

                                    <img src="image/macos.png" alt="macOS" width="80">

                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="tab-pane fade" id="linux">
                           <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                 <h6 class="m-0 font-weight-bold text-primary">{{ lang en="Installing" fr="Installation" de="Installation" es="Instalación" }}</h6>
                              </div>

                              <div class="card-body">
                                 <div class="table-responsive">

                                    <img src="image/linux.png" alt="windows 10" width="50">

                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>




            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}
      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- JS --->
   <script src="/vendor/popper/1.16.0/umd/popper.min.js"></script>
   <!--Waiting for bootstrap-select to support popper v2
    <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>-->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="/vendor/bootstrap-table/1.22.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
   {{ lang fr="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-fr-FR.min.js'></script>"
   de="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-de-DE.min.js'></script>"
   es="
   <script src='/vendor/bootstrap-table/1.22.1/dist/locale/bootstrap-table-es-ES.min.js'></script>" }}
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

   <script>
      var currentEntrantID;

      /* onload */
      $(function () {

         getSessionUserParams()
            .then(function (result) {
               currentEntrantID = result.entrant_id;
            })
            .catch(function (error) {
               displayErrorMsg(error);
            });

      });
   </script>

</body>

</html>