<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   {{ include "include/head.html" }}

   <!-- CSS --->
   <link rel="stylesheet" href="/vendor/sb-admin-2/4.1.4/sb-admin-2.min.css" type="text/css">
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      {{ include "include/${site}_sidebar.html" }}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Search
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                        </button>
                     </div>
                  </div>
               </form>-->

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <!--#include file="include/navItemMessage.html"-->

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <!--#include file="include/navItemUser.html"-->

               </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">{{ lang en="Terms of Service" fr="Conditions d'utilisation" de="Nutzungsbedingungen" es="Términos de servicio" }}</h1>
               <!--<p class="mb-4">General explanations paragraph.</p>-->


               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary"></h6>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">

                        <p>
                           Please read these terms of service ("terms", "terms of service") carefully before using [website] website (the "service") operated by RC-Contest.com ("us", 'we", "our").
                        </p>

                        <h2>Conditions of Use</h2>

                        <p>
                           We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.
                        </p>

                        <h2>Privacy Policy</h2>

                        <p>
                           Before you continue using our website we advise you to read our <a href="privacy.html">privacy policy</a> regarding our user data collection. It will help you better understand our practices.
                        </p>

                        <h2>Copyright</h2>

                        <p>
                           Content published on this website (digital downloads, images, texts, graphics, logos) is the property of RC-Contest.com and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of RC-Contest.com, with copyright authorship for this compilation by RC-Contest.com.
                        </p>

                        <h2>Communications</h2>

                        <p>
                           The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.
                        </p>

                        <h2>Applicable Law</h2>

                        <p>
                           By visiting this website, you agree that the laws of the France, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between RC-Contest.com and you, or its business partners and associates.
                        </p>

                        <h2>Disputes</h2>

                        <p>
                           Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court France and you consent to exclusive jurisdiction and venue of such courts.
                        </p>

                        <h2>Comments, Reviews, and Emails</h2>

                        <p>
                           Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.
                           <br>
                           We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant RC-Contest.com non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.
                        </p>

                        <h2>License and Site Access</h2>

                        <p>
                           We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.
                        </p>

                        <h2>User Account</h2>

                        <p>
                           If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.
                           <br>
                           We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
                        </p>
                        <p>This document was last updated on January 10th, 2022</p>

                     </div>
                  </div>
               </div>


            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         {{ include "include/footer.html" }}
      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   <!-- JS --->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <!--<script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>-->


</body>

</html>