<!-- Radio Control Contest - (c) 2019-2024 Thierry Wilmot - All rights reserved -->
<!DOCTYPE html>
<html lang="{{ lang en='en' fr='fr' de='de' es='es' }}">

<head>
   <!--#include file="include/head.html"-->

   <!-- CSS --->
   <!--<link rel="stylesheet" href="/vendor/bootstrap/4.6.0/css/bootstrap.min.css" id="bootstrap-css">-->
   <link rel="stylesheet" href="css/rcs.css" type="text/css">
   <link rel="stylesheet" href="/vendor/fontawesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/vendor/font-google/font.min.css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/themes/light.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/scale-subtle.css" type="text/css">
   <link rel="stylesheet" href="/vendor/tippy/5.1.1/animations/shift-away.css" type="text/css">

</head>

<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      <!--#include file="include/sidebar.html"-->
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Search -->
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                        </button>
                     </div>
                  </div>
               </form>

               <!-- Topbar Navbar -->
               <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="{{ lang en='Search for...' fr='Rechercher...' de='Suche nach...' es='Buscar...'}}" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <!--#include file="include/navItemMessage.html"-->

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <!--#include file="include/navItemUser.html"-->

               </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               <!-- Page Heading -->
               <h1 class="h3 mb-2 text-gray-800">My Blank page</h1>
               <p class="mb-4">General explanations paragraph.</p>


               <!-- Active contests table -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">Exemple of Card</h6>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">


                     </div>
                  </div>
               </div>


            </div>
            <!-- /.container-fluid -->

         </div>
         <!-- End of Main Content -->

         <!--#include file="include/footer.html"-->
      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->

   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   {{ include "include/basicModal.html" }}
   {{ include "include/loginModal.html" }}
   {{ include "include/logoutModal.html" }}

   <!-- JS --->
   <script src="/vendor/jquery/3.5.1/jquery.min.js"></script>
   <script src="/vendor/bootstrap/4.6.0/js/bootstrap.min.js"></script>
   <script src="/vendor/popper/2.4.4/core/dist/umd/popper.min.js"></script>
   <script src="/vendor/tippy/6.2.6/dist/tippy.umd.min.js"></script>
   <script src="/vendor/libsignal-protocol/dist/libsignal-protocol.js"></script>
   <script src="/js/sha3.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/vendor/sb-admin-2/4.1.4/sb-admin-2.js"></script>

   <script>
      var currentEntrantID;
      var signalKeys;

      /* onload */
      $(function () {

         getSessionUserParams()
            .then(function (result) {
               currentEntrantID = result.entrant_id;



               var KeyHelper = libsignal.KeyHelper;
               var registrationId = KeyHelper.generateRegistrationId();
               // Store registrationId somewhere durable and safe.

               KeyHelper.generateIdentityKeyPair().then(function (identityKeyPair) {
                  // keyPair -> { pubKey: ArrayBuffer, privKey: ArrayBuffer }
                  // Store identityKeyPair somewhere durable and safe.
                  signalKeys = identityKeyPair;
               });

               KeyHelper.generatePreKey(keyId).then(function (preKey) {
                  store.storePreKey(preKey.keyId, preKey.keyPair);
               });

               KeyHelper.generateSignedPreKey(identityKeyPair, keyId).then(function (signedPreKey) {
                  store.storeSignedPreKey(signedPreKey.keyId, signedPreKey.keyPair);
               });

               var store   = new MySignalProtocolStore();
               var address = new libsignal.SignalProtocolAddress(recipientId, deviceId);

               // Instantiate a SessionBuilder for a remote recipientId + deviceId tuple.
               var sessionBuilder = new libsignal.SessionBuilder(store, address);

               // Process a prekey fetched from the server. Returns a promise that resolves
               // once a session is created and saved in the store, or rejects if the
               // identityKey differs from a previously seen identity for this address.
               /*
               var promise = sessionBuilder.processPreKey({
                  registrationId: <Number>,
                  identityKey: <ArrayBuffer>,
                  signedPreKey: {
                     keyId     : <Number>,
                     publicKey : <ArrayBuffer>,
                     signature : <ArrayBuffer>
                  },
                  preKey: {
                     keyId     : <Number>,
                     publicKey : <ArrayBuffer>
                  }
               });

               promise.then(function onsuccess() {
               // encrypt messages
               });

               promise.catch(function onerror(error) {
               // handle identity key conflict
               });

*/
            })
            .catch(function (error) {
               $('#errorModal').modal();
               $('#errMsg').html("Error: " + error.message);
            });

      });
   </script>

</body>

</html>