<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title title-error" id="errorModalLabel"><i class="fas fa-exclamation-circle" style="font-size: 1.5em;"></i>&nbsp;<span id="errTitle"></span></h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">
            <div><span id="errMsg"></span></div><br>
            <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseError" aria-expanded="false" aria-controls="collapseExample">
               <i class="fas fa-angle-down"></i>
             </button>
             <div class="collapse mt-2" id="collapseError">
               <div class="card card-body error-stack-msg">
                  <span id="errStackMsg"></span>
                  <button type="button" class="btn btn-sm d-flex justify-content-end" onclick="navigator.clipboard.writeText($('#errStackMsg').text())"><i class="far fa-copy"></i></button>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Ok</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title title-info" id="infoModalLabel"><i class="fas fa-info-circle" style="font-size: 1.5em;"></i>&nbsp;Information</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body"><span id="infoMsg"></span></div>
         <div class="modal-footer">
            <button class="btn btn-info" type="button" data-dismiss="modal">Ok</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document" id="msgModalDlg">
      <div class="modal-content">
         <div id="msgModalTitle" class="modal-header rcs-modal-header">
            <h5 id="msgModalLabel" class="modal-title">
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body" id="msgModalBody">
            <span id="msgModalMsg"></span>
         </div>
         <div id="msgModalFooter" class="modal-footer">
            <button id="msgModalCancelButton" type="button" class="btn btn-secondary" data-dismiss="modal" hidden>{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
            <button id="msgModalOkButton" type="button" class="btn btn-primary">Ok</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="genModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl modal-dialog-centered" role="document" id="genModalLabel">
      <div class="modal-content" style="background-color: transparent !important;border: 0px !important">
         <div class="modal-body">
            <h1><span id="genModalMsg" class="badge badge-light" style="white-space: break-spaces;"></span></h1>
         </div>
      </div>
   </div>
</div>
