<div class="modal fade" id="newBlitzModal" tabindex="-1" role="dialog" aria-labelledby="newClubModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title" id="newContestModalLabel">{{ lang en="Add a new flash contest" fr="Ajouter un nouveau concours flash" de="Füge einen neuen Flash-Wettbewerb hinzu" es="Agregar un nuevo concurso flash" }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>

         <form action="" method="post" onsubmit="newBlitz();return false;">
            <div class="modal-body">

               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text">{{ lang en="Name" fr="Nom" de="Name" es="Nombre" }}</span>
                  </div>
                  <input type="text" id="modal-team-name" class="form-control" style="font-size: 1.4em" value="{{ lang en='My contest' fr='Mon concours' de='Mein Gewinnspiel' es='Mi concurso'}}">
               </div>

               <div class="row">
                  <div class="col input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-flag" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Contest type" fr="Type de concours" de="Wettbewerbstyp" es="Tipo de concurso" }}'></i></span>
                     </div>
                     <select id="modal-contest-type-select" class="form-control selectpicker" data-style="custom-select-rcs" data-live-search="true">
                        <option value="f5j">F5J</option>
                     </select>
                  </div>
                  <div class="col input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-clock" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Registration close date" fr="Date de clôture des inscriptions" de="Anmeldeschluss" es="Fecha de cierre de registro" }}'></i></span>
                     </div>
                     <select id="modal-close-time-select" class="form-control selectpicker" data-style="custom-select-rcs">
                        <option value="300">{{ lang en="5 minutes" fr="dans 5 minutes" de="in 5 Minuten" es="en 5 minutos"}}</option>
                        <option value="600">{{ lang en="10 minutes" fr="dans 10 minutes" de="in 10 Minuten" es="en 10 minutos"}}</option>
                        <option value="900">{{ lang en="15 minutes" fr="dans 15 minutes" de="in 15 Minuten" es="en 15 minutos"}}</option>
                        <option value="1800">{{ lang en="30 minutes" fr="dans 30 minutes" de="in 30 Minuten" es="en 30 minutos"}}</option>
                        <option value="3600">{{ lang en="1 hours" fr="dans 1 heure" de="in 1 stunden" es="en 1 hora"}}</option>
                     </select>
                  </div>

               </div>


            </div>

            <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
               <button type="submit" class="btn btn-primary"><i class="fas fa-trophy"></i>&nbsp;{{ lang en="Add" fr="Ajouter" de="Hinzufügen" es="Añadir" }}</button>
            </div>

         </form>

      </div>
   </div>
</div>
