<div class="modal fade" id="newClubModal" tabindex="-1" role="dialog" aria-labelledby="newClubModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title" id="newContestModalLabel">{{ lang en="Add a new club" fr="Ajouter un nouveau club" de="Füge einen neuen Club hinzu" es="Agregar un nuevo club" }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>

         <form action="" method="post" onsubmit="newClub();return false;">
            <div class="modal-body">

               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text">{{ lang en="Name" fr="Nom" de="Name" es="Nombre" }}</span>
                  </div>
                  <input type="text" id="longName" class="form-control" style="font-size: 1.4em">
               </div>

               <div class="row">
                  <div class="col input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-flag" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Country" fr="Pays" de="Land" es="País" }}'></i></span>
                     </div>
                     <select id="modal-country-select" class="form-control selectpicker" data-style="custom-select-rcs" data-live-search="true"></select>
                  </div>
                  <div class="col input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-alt" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="You are" fr="Vous êtes" de="Land" es="País" }}'></i></span>
                     </div>
                     <select id="modal-country-youare" class="form-control selectpicker" data-style="custom-select-rcs">
                        <option value="pr">{{ lang en="Organizer/club officer" fr="Organisateur/au bureau du club" de="Veranstalter/Clubamtsträger" es="Organizador/dirigente del club" }}</option>
                        <option value="mg">{{ lang en="President" fr="Président" de="Präsident" es="Presidente" }}</option>
                     </select>
                  </div>
               </div>

               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon3"><i class="fas fa-link" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Club website link" fr="Lien vers le site Web du club" de="Link zur Club-Website" es="Enlace al sitio web del club" }}'></i></span>
                  </div>
                  <input type="text" class="form-control" id="root-doc-url" aria-describedby="basic-addon3">
               </div>

               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon3"><i class="fas fa-link" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Club website link where you are mentioned" fr="Lien vers le site Web du club où vous êtes mentionné" de="Link zur Club-Website, auf dem Sie erwähnt werden" es="Enlace al sitio web del club donde se le menciona" }}'></i></span>
                  </div>
                  <input type="text" class="form-control" id="root-doc-url" aria-describedby="basic-addon3">
               </div>

            </div>

            <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
               <button type="submit" class="btn btn-primary"><i class="fas fa-trophy"></i>&nbsp;{{ lang en="Add" fr="Ajouter" de="Hinzufügen" es="Añadir" }}</button>
            </div>

         </form>

      </div>
   </div>
</div>

<!--
<div class="modal fade" id="removeClubModal" tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title">{{ lang en="Remove this club" fr="Supprimer ce club" de="Entfernen Sie diesen Schläger" es="Eliminar este club" }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form action="" method="post" onsubmit="removeClub(clubIdToRemove);return false;">
            <div class="modal-body">
               <p><i class="fa fa-trash"></i>&nbsp;
                  {{ lang en="Do you really want to remove this club ?" fr="Voulez-vous vraiment supprimer ce club?" de="Möchten Sie diesen Verein wirklich entfernen?" es="¿De verdad quieres eliminar este club?" }}
               </p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
               <button type="submit" class="btn btn-primary">{{ lang en="Remove" fr="Supprimer" de="Entfernen" es="Eliminar" }}</button>
            </div>
         </form>
      </div>
   </div>
</div>
-->

