<!-- Footer -->
<footer class="sticky-footer bg-white">
   <div class="my-auto">
      <div class="copyright text-center my-auto">
         <span>
            {{ lang
            en="Copyright © RC-Contest.com 2019-2024 All rights reserved"
            fr="Copyright © RC-Contest.com 2019-2024 Tous droits reservés"
            de="Copyright © RC-Contest.com 2019-2024 Alle Rechte vorbehalten"
            es="Copyright © RC-Contest.com 2019-2024 Todos los derechos reservados"
            }}
         </span>
      </div>
      <div class="copyright text-center my-auto">
         <a href="/services.html">{{ lang en="Terms of Service" fr="Conditions d'utilisation" de="Nutzungsbedingungen" es="Términos de servicio" }}</a> | <a href="/privacy.html">{{ lang en="Privacy Policy" fr="Politique de Confidentialité" de="Datenschutz-Bestimmungen" es="Política de Privacidad"}}</a>
      </div>
   </div>
</footer>
<!-- End of Footer -->
