<div class="modal fade" id="homepageModal" tabindex="-1" role="dialog" aria-labelledby="newClubModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document" style="width: 80%;">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title" id="newContestModalLabel">{{ lang en="Home page settings" fr="Paramètres de la page d'accueil" de="Startseiteneinstellungen" es="Configuración de la página de inicio" }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>

         <form action="" method="post" onsubmit="updateServerHomePage();return false;">
            <div class="modal-body">

               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text">
                        <i class="fas fa-signature" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Server name" fr="Nom du serveur" de="Servername" es="Nombre del servidor" }}'></i>
                     </span>
                  </div>
                  <input type="text" id="server-name" class="form-control" style="font-size: 1.4em" placeholder="{{ lang en='Put your server name here' fr='Mettez votre nom de serveur ici' de='Geben Sie hier Ihren Servernamen ein' es='Pon el nombre de tu servidor aquí'}} ...">
               </div>

               <div>
                  <span>{{ lang en="Description" fr="Description" de="Beschreibung" es="Descripción"}}</span>
                  <div id="quill-toolbar-container">
                     <span class="ql-formats">
                        <select class="ql-font"></select>
                        <select class="ql-size"></select>
                     </span>
                     <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                     </span>
                     <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                     </span>
                     <span class="ql-formats">
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>
                     </span>
                     <span class="ql-formats">
                        <button class="ql-header" value="1"></button>
                        <button class="ql-header" value="2"></button>
                        <button class="ql-blockquote"></button>
                        <button class="ql-code-block"></button>
                     </span>
                     <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                     </span>
                     <span class="ql-formats">
                        <button class="ql-direction" value="rtl"></button>
                        <select class="ql-align"></select>
                     </span>
                     <span class="ql-formats">
                        <button class="ql-link"></button>
                        <button class="ql-image"></button>
                     </span>
                  </div>
                  <div id="quill-editor-container" style="margin-bottom: 1rem;"></div>
               </div>

<!--
               <div class="input-group col-sm-4 mb-4 mb-sm-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fas fa-trophy" data-toggle="tooltip" data-html="true" data-placement="top" title='{{ lang en="Reference contest" fr="Concours de référence" de="Referenzwettbewerb" es="Concurso de referencia" }}'></i></span>
                  </div>
                  <select id="country-select" class="form-control selectpicker" data-style="custom-select-rcs">
                  </select>
               </div>
-->

            </div>

            <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
               <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;{{ lang en="Modify" fr="Modifier" de="Ändern" es="Modificar" }}</button>
            </div>

         </form>

      </div>
   </div>
</div>