<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="sidebar">

   <!-- Sidebar - Brand -->
   <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index.html">
      <div class="sidebar-brand-icon">
         <img src="/image/18.png" height="45" width="45">
         <!-- <i class="fas fa-paper-plane"></i>&nbsp;-->
      </div>
      <div class="sidebar-brand-text mx-3">RC-Contest</div>
   </a>

   <!-- Divider
   <hr class="sidebar-divider my-0">-->

   <!-- Divider -->
   <hr class="sidebar-divider">

   <!-- Heading -->
   <div id="contest-sidebar-heading" class="sidebar-heading">
      {{ lang en="Contest" fr="Concours" de="Wettbewerb" es="Concurso" }}
   </div>

   <!-- Nav Item - Dashboard -->
   <li class="nav-item">
      <a id="cal-nav-db" class="nav-link" href="/contest.html?contest_id=0">
         <i class="fas fa-trophy"></i><span>{{ lang en="Local" fr="Local" de="Lokal" es="Local" }}</span>
         </a>
   </li>

   <!--
   <li class="nav-item">
      <a id="club-list-nav-link" class="nav-link" href="/contest-stats.html">
         <i class="fas fa-chart-pie"></i><span>{{ lang en="Statistics" fr="Statistiques" de="Statistiken" es="Estadísticas" }}</span>
      </a>
   </li>
   

   <li class="nav-item">
      <a id="phone-nav-link" class="nav-link" href="/module/default/phone.html?contest_id=0">
         <i class="fas fa-mobile-alt"></i><span>{{ lang en="Phone" fr="Téléphone" de="Telefon" es="Teléfono" }}</span>
      </a>
   </li>
   -->

   <li class="nav-item">
      <a id="contest-admin-nav-link" class="nav-link" href="#" hidden>
         <i class="fas fa-user-cog"></i><span>{{ lang en="Administration" fr="Administration" de="Verwaltung" es="Administración" }}</span>
      </a>
   </li>

   <!-- Divider -->
   <hr class="sidebar-divider" hidden>

   <!-- Heading -->
   <div id="contest-sidebar-heading" class="sidebar-heading" hidden>
      {{ lang en="Clubs" fr="Clubs" de="Klubs" es="Clubs" }} <span id="clubs_count" class="badge badge-light"> 0 </span>
   </div>

   <li class="nav-item">
      <a id="club-list-nav-link" class="nav-link" href="/club.html" hidden>
         <i class="fas fa-shield-alt"></i><span>{{ lang en="Browse" fr="Explorer" de="Durchsuche" es="Vistazo" }}</span>
      </a>
   </li>

   <li class="nav-item">
      <a id="club-list-nav-link" class="nav-link" href="club-stats.html" hidden>
         <i class="fas fa-chart-pie"></i><span>{{ lang en="Statistics" fr="Statistiques" de="Statistiken" es="Estadísticas" }}</span>
      </a>
   </li>

   <!-- Divider -->
   <hr class="sidebar-divider">

   <!-- Heading -->
   <div class="sidebar-heading">
      {{ lang en="User" fr="Utilisateur" de="Benutzer" es="Usuario" }}
   </div>

   <!-- Nav Item - Dashboard -->
   <li class="nav-item">
      <a class="nav-link" href="/account.html">
         <i class="fas fa-user-circle"></i><span>{{ lang en="Account" fr="Compte" de="Konto" es="Cuenta" }}</span>
      </a>
   </li>

   <li class="nav-item">
      <a class="nav-link" href="/settings.html">
         <i class="fa-solid fa-gear"></i><span>{{ lang en="Settings" fr="Réglages" de="Einstellungen" es="Ajustes" }}</span>
      </a>
   </li>

   <li class="nav-item">
      <a class="nav-link" href="/help.html">
         <i class="fas fa-question"></i><span>{{ lang en="Help" fr="Aide" de="Hilfe" es="Ayuda" }}</span>
      </a>
   </li>

   <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
         <i class="fas fa-sign-out-alt"></i><span>{{ lang en="Logout" fr="Déconnexion" de="Ausloggen" es="Cerrar sesión"
            }}</span>
      </a>
   </li>


   <!-- Divider -->
   <hr class="sidebar-divider d-none d-md-block">

   <!-- Sidebar Toggler (Sidebar) -->
   <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
   </div>

</ul>
