<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title" id="loginModalLabel"><img src="/image/20 noir.png" height="55" width="55">&nbsp;&nbsp;&nbsp;<span class="login-title">RC-Contest</span></h5>
            <!--
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
            -->
         </div>
         <div class="modal-body">

            <form class="user">
               <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail" placeholder="{{ lang en='Enter your Email Address...' fr='Entrez votre adresse émail...' de='Geben sie ihre E-Mailadresse ein' es='Ingrese su dirección de correo electrónico' }}" autocomplete="on">
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" id="inputPassword" placeholder="{{ lang en='Password' fr='Mot de passe' de='Passwort' es='Contraseña' }}" autocomplete="current-password">
               </div>
               <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                     <input type="checkbox" class="custom-control-input" id="customCheck">
                     <label class="custom-control-label" for="customCheck">{{ lang en="Remember Me" fr="Se souvenir de moi" de="Erinnere dich an mich" es="Recuérdame" }}</label>
                  </div>
               </div>
               <div class="container mt-4" id="alertListLoginFail">
                  <div id="loginFadeMsg" class="alert alert-success alert-dismissible fade show" style="display:none;margin-top:1em;">
                     <span class="text-xs" id="loginMsg"></span>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer user">
            <a id="loginModalBut" onClick="onLogin()" class="btn btn-primary btn-user text-gray-100 btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;{{ lang en="Login" fr="S''identifier" de="Anmeldung" es="Iniciar sesión" }}</a>
            {{ if_master }}
            <a class="font-weight-light" href="/new-account.html">{{ lang en="Register" fr="S'incrire" de="Registrieren" es="Registrarse" }}</a>
            {{ else }}
            {{ endif }}
         </div>
      </div>
   </div>
</div>