<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header rcs-modal-header">
            <h5 class="modal-title" id="logoutModalLabel">{{ lang en="Leave site?" fr="Quitter le site ?" de="Website verlassen?" es="¿Salir del sitio?" }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">{{ lang 
            en="Select 'Logout' below if you are ready to end your current session."
            fr="Sélectionnez «Déconnexion» ci-dessous si vous êtes prêt à mettre fin à votre session courante."
            de="Wählen Sie unten 'Abmelden', wenn Sie bereit sind, Ihre aktuelle Sitzung zu beenden."
            es="Seleccione 'Cerrar sesión' a continuación si está listo para finalizar su sesión actual."
            }}</div>
         <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ lang en="Cancel" fr="Annuler" de="Stornieren" es="Cancelar" }}</button>
            <button class="btn btn-primary" onClick="onLogout()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;{{ lang en="Logout" fr="Déconnexion" de="Abmelden" es="Cerrar sesión" }}</button>
         </div>
      </div>
   </div>
</div>