<li class="nav-item dropdown no-arrow">
   <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="userName" class="mr-2 d-lg-inline text-gray-600 small"></span>
      <img id="userAvatar" class="img-profile rounded-circle">
   </a>
   <!-- Dropdown - User Information -->
   <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

      <a class="dropdown-item" href="javascript:modifyUserLanguage('en')">
         <img src='/json/countries/data/w40/gb.png' style='width:25px;height:18px;'></i>
      </a>
      <a class="dropdown-item" href="javascript:modifyUserLanguage('fr')">
         <img src='/json/countries/data/w40/fr.png' style='width:25px;height:18px;'></i>
      </a>
      <a class="dropdown-item" href="javascript:modifyUserLanguage('de')">
         <img src='/json/countries/data/w40/de.png' style='width:25px;height:18px;'></i>
      </a>
      <a class="dropdown-item" href="javascript:modifyUserLanguage('es')">
         <img src='/json/countries/data/w40/es.png' style='width:25px;height:18px;'></i>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/settings.html">
         <i class="fas fa-user-circle"></i>&nbsp;{{ lang en="Account" fr="Compte" de="Konto" es="Cuenta" }}
      </a>
      <a class="dropdown-item" href="/help.html">
         <i class="fas fa-question-circle"></i>
         {{ lang en="Help" fr="Aide" de="Hilfe" es="Ayuda"}}
      </a>
      <!--<a class="dropdown-item" href="#">
         <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
         Activity Log
      </a>-->
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
         <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;{{ lang en="Logout" fr="Déconnexion" de="Ausloggen" es="Cerrar sesión" }}
      </a>
   </div>
</li>