<li class="nav-item dropdown no-arrow mx-1">
   <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bell"></i>
      <!-- Counter - Messages -->
      <span id="msgCount" class="badge badge-danger badge-counter">0</span>
   </a>
   <!-- Dropdown - Messages -->
   <div id="msgDD" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
      aria-labelledby="messagesDropdown">
      <!--
    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
    -->
   </div>
</li>